[2021-03-26 14:41] emme1444 opened #277 "[Question] About your codebase setup?"
Hey @comigor!

Love your work on this package. Used it for some time now. However, among other things, it inspired me to write my own generator. I quickly took a look at your codebase to find some tips and tricks and quickly discovered a way better solution than I originally proposed to myself regarding serializing the _builder options_. `json_serializable`, of course!

I was just wondering about

[2021-03-26 17:28] euriasb commented on #260
I opened https://github.com/comigor/artemis/pull/278 since I realized it doesn't really depend on the change on gql.

[2021-03-26 18:10] inc16sec opened #279 "Artemis Update to support null-safety and be compatible with other packages."
I'm using Flutter 2.0 and Dart sdk: ">=2.7.0 <3.0.0" and wanted to migrate my project to make it null-safe, but in order to do so I must first update all of the packages that I'm using to a version that supports null-safety (including this one). When I update packages like "gql" OR  "graphql-flutter" an error shows up

[code]
So I'm wondering if there's something I need to do from my side or I mus

[2021-03-28 13:27] teknolojia opened #280 "version solving failed"
**Before reporting a bug, please test the beta branch!**

## Bug description
Please describe what happened wrong and the expected behaviour/output.
I am tying to update my app to use latest version of dio but I get error every time

[code]
can we update http?
## Specs
Artemis version: [e.g. 6.0.3-beta.1]
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:

[2021-03-28 22:14] seyaobey opened #281 "flutter pub run build_runner build: 0 file output"
**Before reporting a bug, please test the beta branch!**

## Bug description
Running the command `flutter pub run build_runner build` produces no file. This is the console output:
[code]

## Specs
Artemis version: `artemis: '>=6.0.0 <7.0.0'`
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:

[2021-03-29 17:07] euriasb commented on #260
I spoke with one of the contributors of gql, and it turns out that it is already possible to stop a subscription on their end, you just need to cancel the subscription to the stream, so basically this snippet does the trick:

[code]

The `WebSocketLink` is still usable afterwards, I just tried it in my project and it works perfectly.

[2021-03-29 17:07] #260 closed

[2021-03-31 16:42] BreSmit521 opened #282 "Generated file seems to have circular reference with Union types that causes internal failures"
## Bug description
When generating a nested Union (may not be the only case, just where I observed it) Artemis creates a circular reference which appears to cause the query.parse(response.data) to fail to return data. The piece failing is in the generated graphql_api.graphql.g.dart when attempting _$enumDecode.  It succeeds the first time with a valid source.  But after the initially successfully

[2021-03-31 19:09] michael-woolsey commented on #279
I understand that `7.0.0-beta.1` supports the null safety, the `Min Dart SDK` is still saying only 2.8 instead of the 2.12 and I suspect the `dart pub outdated --mode=null-safety` command needs to find 2.12 to be marked as null safe.

[code]

However that's a guess on my part as I'm not a package developer. :)

[2021-03-31 19:21] inc16sec commented on #279
What I've done is, #comment the package from `pubspec.yaml` and then after migrating I installed it again. But still you will incounter some slight issues when trying to build and you gonna have to override some dependencies till the package gets updated with the correct version for those dependecies that you've overriden. check [https://github.com/comigor/artemis/pull/259#issuecomment-810716278](

[2021-04-01 06:54] zcourts commented on #273
It seems unions are not supported either.

[2021-04-05 19:38] vasilich6107 commented on #281
@seyaobey try to add `- lib/**` to your `sources:` section of `build.yaml`

[2021-04-05 19:52] seyaobey commented on #281
@vasilich6107 thanks for the suggestion. I added `- lib/**` to my `build.yaml`. But I'm still getting the error:
`pub finished with exit code 1`.

Here is my change:
![image](https://user-images.githubusercontent.com/2738569/113619295-185dfa80-9659-11eb-881f-30bcab6a29a1.png)

And here is my output:
![image](https://user-images.githubusercontent.com/2738569/113619401-36c3f600-9659-11eb-95b4-e5aac3

[2021-04-05 19:56] vasilich6107 commented on #281
Ok. Let’s do next.
Add to sources only folder with graphql related files

`- lib/graphql/**`

[2021-04-05 20:11] seyaobey commented on #281
@vasilich6107 So I cleaned up the `lib/graph/` folder which contained other non-graphql files. I just kept my `schema.graphql` and my `operations.graphql` (which contains my queries). Now running the command, I don't get an error
but:
`[INFO] Succeeded after 79ms with 0 outputs (0 actions)`
And no file produced. I would like to mention that this is the way I indicate my output file (in case it mig

[2021-04-05 20:14] seyaobey commented on #281
Also not sure if this can help you:
in my `operations.graphql`, I deliberately introduced an error to see what the output could be. So in my query, I added a field which does not exist in the schema.
But the command existed normally (without output and without any syntax error...)

[2021-04-06 14:38] BreSmit521 commented on #273
I feel like this is also related to some of the things I posed on #282 would be nice to have an acknowledgement on this one way or the other

[2021-04-06 19:10] vasilich6107 commented on #281
@seyaobey
here is what you need
https://tppr.me/e4sYX

[2021-04-06 19:12] vasilich6107 commented on #280
PR with nnbd support and packages upgrade is in review now.

[2021-04-07 20:12] seyaobey commented on #281
@vasilich6107 It worked! All files have been generated as expected. Thank you very much!
The only problem is that the code generated clashes with `null-safety` mode. (This is probably beyond the scope of this ticket). For this reason, I'll disable Artemis for now. Any plan on supporting `null-safety` in a near future?

[2021-04-08 04:14] vasilich6107 commented on #281
Null safety is available in 7.0.0-beta.1

[2021-04-08 21:25] comigor commented on #280
@teknolojia We've just merged https://github.com/comigor/artemis/pull/283 with NNBD support for Artemis.
I'm closing this but feel free to open another issue, if applicable, after testing the new version `7.0.0-beta.2`.

[2021-04-08 21:25] #280 closed, assigned to nobody

[2021-04-08 21:25] comigor commented on #13
@lucasavila00 We've just merged https://github.com/comigor/artemis/pull/283 with NNBD support for Artemis.
I'm closing this but feel free to open another issue, if applicable, after testing the new version `7.0.0-beta.2`.

[2021-04-08 21:25] #13 closed

[2021-04-08 21:25] comigor commented on #281
@seyaobey We've just merged https://github.com/comigor/artemis/pull/283 with NNBD support for Artemis.
I'm closing this but feel free to open another issue, if applicable, after testing the new version `7.0.0-beta.2`.

[2021-04-08 21:25] #281 closed, assigned to nobody

[2021-04-08 21:26] comigor commented on #279
@inc16sec  We've just merged https://github.com/comigor/artemis/pull/283 with NNBD support for Artemis.
I'm closing this but feel free to open another issue, if applicable, after testing the new version `7.0.0-beta.2`.

[2021-04-08 21:26] #279 closed, assigned to nobody

[2021-04-08 22:07] janoschp opened #284 "Isn't a valid override of..."
## Bug description
In my generated graph_ql.graphql.api file I see "Isn't a valid override" errors in a lot of places so I can't run my app. The error looks like this:

[code]

The problem seems to be, that `node` is already defined in a parent class and that's because in the graph ql query a `node {...}` statement is nested in another `node {...}` statement like this:

[code]

Any ideas how to so

[2021-04-08 22:59] janoschp commented on #284
Okay I solved it by naming every key that occurs more than once. For example:
[code]

This should really be documented somewhere.

[2021-04-09 01:27] inc16sec commented on #279
Just tested it and it works as expected with no issues.
Thank you all for the great job you're doing and for taking the time to make sure this package keeps going further ❤️.

[2021-04-09 03:27] comigor commented on #277
Hey @emme1444, sorry for taking that long to reply!

Actually, I've bumped into this issue right when I've started Artemis, and that's exactly why there's the `.g2.dart`: that's me changing the extension to avoid `build_runner` being triggered for this project and failing.

What I do is a terrible manual job: everytime I need to change the generated file, I revert it back to `.g.dart`, comment `bu

[2021-04-09 11:34] emme1444 commented on #277
No worries! Thanks for your response. Better late than never!

I see, so nothing that I hadn't expected. Oh well. That's the reality as it seems. We will all keep using this mess of a workaround then. Thanks for your insight. Have a great day!

[2021-04-09 11:34] #277 closed, assigned to nobody

[2021-04-11 19:38] kyleerhabor opened #288 "Builder Does Not Build Anything"
## Bug description
When I try running the builder, I expect it to populate the `graphql/api.dart` file. However, it does nothing. If I add `lib/**` under `sources`, it exits with an error because my GraphQL files are not stored there. I also have a `.graphqlconfig` file in the `graphql` directory to help generate the `schema.graphql` file in IntelliJ IDEA.

## Specs
Artemis version: ^7.0.0-beta.3

[2021-04-11 21:34] kyleerhabor commented on #288
I figured out my problem. I had `queries_blob` instead of `queries_glob` and needed to update the output directory to be in the `lib` folder.

[2021-04-11 21:34] #288 closed, assigned to nobody

[2021-04-12 18:12] michael-woolsey opened #293 "Nullable scalar_mapping types"
## Bug description
I'm getting the following issue when attempting to generate my objects.

`Error with '@JsonKey' on 'occurrence'. The 'fromJson' function 'fromGraphQLDatetimeToDartDateTime' return type 'DateTime?' is not compatible with field type 'DateTime'.`

This seems to be occurring due to my parsing of datetime from postgres to dart:
[code]

I hope I'm just missing something obvious, but I

[2021-04-12 18:42] michael-woolsey commented on #293
Looking more into it, this appears to getting confused between DateTime that are nullable and DateTimes that are not nullable, as our database contains both.

I'll continuing searching and let you know if I find anything more.

[2021-04-12 20:46] comigor commented on #293
Hey @michael-woolsey,
Non-nullable types should be compatible with nullable ones, so what happens if you only declare non-nullable versions?
[code]

[2021-04-12 20:56] michael-woolsey commented on #293
Hello @comigor,

If I switch to non-nullable versions I get the same type of error for a different field.

So basically my database has various DateTime fields that are non-nullable and various ones that are nullable.  I believe the issue is that my scaler parsing doesn't know which one to use as I can only return nullable or non-nullable with a single function name.

As you can see, the `?` has s

[2021-04-12 22:13] comigor commented on #293
Ooooh, I see! That might be an easy fix, I'll see if I can drop a PR later.

[2021-04-13 12:58] BreSmit521 commented on #282
So huge thanks to @vasilich6107 for helping me out in the discord, but I guess I'm still confused about why this update fixes it:

changing the following subscription

[code]

to

[code]

But I'm confused why that resolves differently.  It's also worth noting that while

[code]

works in the Gql Playground, it doesn't work with Artemis

[2021-04-14 09:57] vasilich6107 commented on #108
@szediwy @agent3bood this was fixed long time ago I just forgot to mention that
As far as input objects have unique names we generate the corresponding classes for them

[2021-04-14 09:57] #108 closed

[2021-04-14 19:13] comigor commented on #293
@michael-woolsey @michael-golfi
That's actually something that came up on `json_serializable`: https://github.com/google/json_serializable.dart/issues/822

Testing an example locally, I've found the following works for artemis (having arguments nullable, and return type non-null):
[code]

However, by using this solution you'd have to set a default return for when argument is null, which is not goo

[2021-04-15 03:42] michael-golfi commented on #293
Thanks @comigor!

I don't think setting a default would be all that bad... Although just to confirm, does the second solution work with the current latest beta?

[2021-04-15 03:44] comigor commented on #293
The first one does. The second is something that maybe Artemis could provide, if it would be necessary.

But I'm leaning towards waiting for json_serializable to do something about the issue I've linked above.

[2021-04-15 13:48] michael-woolsey commented on #293
Hello @comigor

Since the latest changes appear to be merged into master but not published yet, I tried to use the master branch of `json_serializable` by doing:
[code]

However I get the error `Because [app] depends on json_serializable from git which depends on json_annotation >=4.1.0 <4.2.0, json_annotation from hosted is required.` which I believe is telling me they disallow people from doing

[2021-04-18 15:26] formvoltron commented on #214
@msal4 you must have solved this already, but you could also create a Product wrapper which forwards get / set calls to the generated classes.

But honestly that & the Fragment ideas seem unnatural.  I like the idea of custom class types.  That the artemis framework knows how to map into / out of.

[2021-04-18 19:55] OdysseyJ commented on #214
@formvoltron i agree with your opinion. can i get some example for wrapping generated classes? thanks

[2021-04-18 19:59] msal4 commented on #214
@formvoltron I split my query into fragments as @vasilich6107 suggested they worked pretty well but I'm curious about your idea it would be nice if you shared a code snippet or a link to get an idea of how it would be implemented

[2021-04-18 20:29] OdysseyJ commented on #214
`class Post extends GetPosts$Query$PostWithPagination$Post {}`

this is the way i did. seems work?

[2021-04-18 20:54] formvoltron commented on #214
I was thinking about using encapsulation. so:

[code]

Like that... but that gets pretty boring writing those & so maybe this class could even be generated.

I'm going to skip all of this & just use json_serializable on my model classes & write some code to generate them based on responses from the server code.

[2021-04-18 20:54] vasilich6107 commented on #293
@michael-woolsey did you tried dependancy_overrides section?

[2021-04-21 17:12] michael-woolsey commented on #293
@vasilich6107 Thanks for the suggestion however I had to move on and currently cannot test this suggestion.

@comigor Hello Igor, I see that `json_serializable 4.1.1` is out, do you know if it fixes this problem?

Unfortunately I had to delete my null safety branch due to a bunch of other changes that were made in my repo.  Which means that for me to test this, at this moment, isn't something I ca

[2021-04-21 18:31] vasilich6107 commented on #293
@michael-woolsey we've updated the json_serializable today
https://github.com/comigor/artemis/blob/beta/pubspec.yaml#L36

[2021-04-21 18:35] vasilich6107 commented on #293
It seems that one of the issues is closed
Need to check

[2021-04-21 19:50] leonardocustodio opened #296 "Two classes were generated with the same name"
Hello,

I'm getting this issue when trying to build artemis:

Two classes were generated with the same name `ClassName(name:r'Stories$_Query$_Story$_UploadFile')`
but with different selection set.

[code]

This is my query:

[code]

Also it works fine on graphql playground. Preview and Media are of the same type, why can't I have two variables with the same type?

Regards,
Leonardo

[2021-04-21 21:48] alexolivier commented on #284
I'm struggling with this also - naming each field doesn't seem like a scalable answer

[2021-04-21 22:58] alexolivier commented on #282
This appears to be an issue with all union types that have nested types in them

The generated code is:
[code]

Copying the above and using fragments solves this for now

[2021-04-23 03:38] darmie opened #297 "Cannot find generated classes"
**Before reporting a bug, please test the beta branch!**

## Bug description
Artemis didn't generate the `*.graphql.g.dart` file

## Specs
Artemis version: '>6.0.0 <7.0.0'
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</details>
<details>
<summary>GraphQL query:</summa

[2021-04-23 07:10] erfactor commented on #293
I had the same issue. So now with a new json_serializable version, could you check if those **nullable scalars** work and provide an example of how to implement this feature? (I tried something but it didn't work)

[2021-04-23 08:55] janoschp commented on #284
You just have to name the fields that are lower in the tree and have the same name as a field in an ancestor object. In the response from the the GraphQL api the fields are also renamed so you have to adjust your model serialization if you have any. So yeah this should be improved.

[2021-04-24 16:27] linzera commented on #297
What is your `json_serializable` version? leave the pubspec dev dependencies, please 🙏

[2021-04-26 16:28] jlnrrg opened #298 "nnbd - code_builder and build_config"
The `code_builder` and `build_config` library finally made the cut to nnbd.
Please publish a new beta version that includes this new version,
as the [auto_route library](https://github.com/Milad-Akarie/auto_route_library/issues/486) now requires `code_builder: ^4.0.0`
and [freezed](https://pub.dev/packages/freezed/changelog#01413) requires `build_config: ^1.0.0`.

[2021-04-26 16:29] jlnrrg commented on #298
The bug label was my mistake, sry

[2021-04-27 13:28] comigor commented on #298
Hello there, we've already been using those latest versions on beta branch for a while:  https://github.com/comigor/artemis/blob/beta/pubspec.yaml#L11-L12

[2021-04-27 13:29] jlnrrg commented on #298
my bad

[2021-04-27 13:29] #298 closed, assigned to nobody

[2021-04-27 13:32] comigor commented on #298
no problem, thank you!

[2021-04-27 18:56] vasilich6107 commented on #296
You cannot have two identically named classes with different types of fields.
Try changing `naminScheme` to `pathedWithFields`

[2021-04-27 18:59] vasilich6107 commented on #297
You did not included
[code]

[2021-04-29 16:46] vasilich6107 commented on #297
@darmie check v7.0.0-beta.7
added more verbose error handling for configuration options

[2021-04-29 16:46] vasilich6107 commented on #296
@leonardocustodio any updates?

[2021-04-29 16:46] vasilich6107 commented on #288
@LiteLT  check v7.0.0-beta.7
added more verbose error handling for configuration options

[2021-04-30 20:21] vasilich6107 commented on #293
@Staccator @michael-woolsey could you check 7.0.0-beta.9
added support of `fromGraphQLDateTimeToDartDateTimeNullable` scalar transformers

[2021-04-30 21:08] michael-woolsey commented on #293
@vasilich6107 Thanks for this, I should be able to look into this again in my next sprint... looking like a couple weeks from now.

Thanks in advance!

[2021-05-01 14:48] leonardocustodio commented on #296
Ok, perfect, it worked. I will close the issue, thanks.

[2021-05-01 14:48] #296 closed, assigned to nobody

[2021-05-01 22:11] vasilich6107 commented on #284
@alexolivier @janoschpelzer
Could you check this branch if it covers your case

[code]

[2021-05-02 05:59] vasilich6107 commented on #282
Hi, I’ll test your case in several days

[2021-05-02 18:11] vasilich6107 commented on #282
@BreSmit521 @alexolivier
Could you check this branch if it covers your case

[code]

[2021-05-03 07:42] nbourdin opened #304 "Fragment duplicate generated mixins"
## Bug description
When i use fragment in my queries, the generated mixin are duplicated in each query file

## Specs
Artemis version: 7.0.0-beta.9
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL fragment:</summary>

[code]
</details>

<details>
<summary>GraphQL query1:</summary>

[code]
</detail

[2021-05-03 09:04] janoschp commented on #284
@vasilich6107 Yes everything is working now without having to use naming, thanks!

[2021-05-03 12:43] vasilich6107 commented on #304
Hi. For now it is expected behaviour.
As far as you generate classes from the same `schema.graphql` it will be better to generate all output into one file to avoid fragment duplication.

Single output file will also save you time on adding new queries to the lis in `build.yaml`

Use `queries_glob: graphql/query/**.query.graphql` to match all your graphql queries

[2021-05-03 12:46] vasilich6107 commented on #297
Hi, @darmie do you have any feedback or progress?

[2021-05-03 12:47] vasilich6107 commented on #284
Thanks for quick feedback @janoschpelzer
I will merge this PR and release updated `beta` version soon

[2021-05-03 14:10] Syntey commented on #293
@vasilich6107 I just tested it and it's working for me! Thanks

[2021-05-04 11:40] nbourdin commented on #304
Thank you so much ! 🥇

[2021-05-04 11:40] #304 closed, assigned to nobody

[2021-05-05 07:20] vasilich6107 commented on #284
released in `7.0.0-beta.10`

[2021-05-05 07:20] #284 closed, assigned to nobody

[2021-05-05 07:21] #297 closed, assigned to nobody

[2021-05-05 07:22] #293 closed, assigned to nobody

[2021-05-05 08:27] erfactor commented on #293
![image](https://user-images.githubusercontent.com/50342827/117106903-f7381900-ad80-11eb-9962-da7c9e084ce2.png)
I think the issue can be closed. Here's a solution for anyone wondering.

[2021-05-05 15:12] michael-woolsey opened #305 "GraphQL Mutation widget and new Artemis constructor null safety issue"
## Bug description
The challenge I am encountering is with the new null safety, our mutation objects now require variables.  Which at first glance is the way it should be, however when used in combination with the `graphql_flutter` package's Mutation widget it illustrates a challenge.

The challenge is that I need the mutations `documentNode` for setting up the widget as seen in `options: Mutation

[2021-05-05 17:11] michael-woolsey commented on #293
I just wanted to share, I was able to get this into my app and it does appear to be working now.

Thank you guys!

[2021-05-06 09:10] vasilich6107 commented on #305
Check the generated sources
each document now in separate variable `CHECKOUT_BY_ID_QUERY_DOCUMENT`

[2021-05-06 14:30] michael-woolsey commented on #305
Oh okay, I see now... I would use it like this:
[code]

Great, that's exactly what I needed to know, thanks a bunch @vasilich6107! :)

[2021-05-06 14:30] #305 closed, assigned to nobody

[2021-05-06 22:21] ramyak-mehra commented on #230
@komyg can you explain in a bit of detail how did you fix the long name issues. I have the same problem. Like what kind of things I should I put under fragments.

[2021-05-07 06:00] vasilich6107 commented on #230
@ramyak-mehra export all objects into fragments and regen all code

[2021-05-07 06:01] vasilich6107 commented on #230
Se example here https://github.com/comigor/artemis/blob/master/test/query_generator/fragments/fragments_test.dart

[2021-05-07 06:01] ramyak-mehra commented on #230
Sorry, I forgot to update the issue I did exactly that and it worked. Thanks😃

[2021-05-09 05:22] fpabl0 opened #306 "[Question] Custom types along with generated ones"
Hello, is there a way to tell Artemis to use specific already defined types instead of generating them?
Basically, I want to define my main models myself but let Artemis to autogenerate other code like inputs, payloads, edges, etc. Is this possible? Thanks :)

[2021-05-09 10:36] vasilich6107 commented on #306
Could you describe what problem are you solving with your custom models?
Current Artemis does not support usage of external types.

[2021-05-09 19:12] fpabl0 commented on #306
I just wanted to avoid having to reference my core models like "SearchRepositories$Query$SearchResultItemConnection$SearchResultItem" (it is too long). If I can define `SearchResultItem` myself, then I can avoid it.

[2021-05-09 20:04] vasilich6107 commented on #306
Extract all your objects into Fragments to have shorter names
See this issue https://github.com/comigor/artemis/issues/230

[2021-05-10 01:05] ramyak-mehra commented on #109
is there an update on this issue?
I am using fragments that create mixins thus fromJson and toJson methods are not available.

is there any way I can add let's say https://pub.dev/packages/freezed manually ?
@vasilich6107

[2021-05-10 01:22] fpabl0 commented on #306
Got it, thanks :). The only disadvantage of using Mixins is that I need to manually cast the result with `as`:
[code]
One more doubt (sorry to ask here), queries need to be defined in separated files? Because when I want to define two queries in a file, I got two errors:
[code]

[2021-05-10 06:40] vasilich6107 commented on #306
You do not need a separate cast - dart is smart enough to refine types under `if` clause

Check this sample

[code]

[2021-05-10 06:40] vasilich6107 commented on #306
For the error - create and fill in another issue

[2021-05-10 06:40] #306 closed, assigned to nobody

[2021-05-10 06:53] vasilich6107 commented on #109
No progress for now

[2021-05-10 07:15] fpabl0 commented on #306
@vasilich6107 That is only true for `classes` not for `mixins`, take a look:

[code]

[2021-05-10 08:13] vasilich6107 commented on #306
One small fix and everthing works fine - check this

[code]

[2021-05-10 08:15] vasilich6107 commented on #306
If you define non `final` variable dart static analyzer could not be sure that this variable was not modified somewhere in the middle.

[2021-05-10 08:24] fpabl0 commented on #306
That works because you are instantiating `Pokemon` directly (it already has `name` and `number` fields so the `is` keyword is not doing any magic). The problem comes when you have unions (that is why I use `Result`), then you have the problem I mentioned above.

I am not sure how is that statement related to this. I can declare it as `final` and the problem will be still there because the type wil

[2021-05-10 08:35] vasilich6107 commented on #306
`final Result r = Pokemon("Charmander");` => `final r = Pokemon("Charmander");` remove type declaration from statement
And everything will work fine

[2021-05-10 08:43] fpabl0 commented on #306
With this line `final Result r = Pokemon("Charmander");` I am just simulating what I will get from the server. This is the definition in graphql:
[code]
So I will receive a `Result` value that I need to check whether it is a `Pokemon` or it is an `Error`, that is what I want to illustrate with that line.

[2021-05-10 08:49] vasilich6107 commented on #306
What's happening behind the scene does not matter a lot.
We are discussing the `redundant type casting`

I'm showing you examples to illustrate the way to avoid them.
If examples is not enough - show me your real code with error

[2021-05-10 09:23] fpabl0 commented on #306
I have already given to you my testing code above:

**schema:**
[code]

**queries:**
[code]
**code:**
[code]
Hope this time, I am explaining better what I mean. Sorry for any inconvenience.

[2021-05-10 09:23] vasilich6107 commented on #306
I've found sample of Unions in my old project and it is definitely refuses to recognise Mixins

[2021-05-10 09:24] vasilich6107 commented on #306
I have no idea why this happening for now)
I;ll try to think about it

[2021-05-10 09:25] fpabl0 commented on #306
Thanks :), and sorry for the inconveniences.

[2021-05-10 09:43] fpabl0 opened #307 "Cannot define multiple queries (with fragments) in a single .graphql file"
**Before reporting a bug, please test the beta branch!**
(Unfortunately I can't test it with the beta branch because it caused a lot of conflicting dependencies problems in my application).

## Bug description
When multiple queries are defining in the same file using fragments, Artemis generate a Query with the Fragment declared twice. That causes this exception at runtime:

<img width="753" alt="

[2021-05-10 11:48] vasilich6107 commented on #306
Strange things  - this code works fine

[code]

[2021-05-10 11:49] vasilich6107 commented on #306
and this - not

[code]

[2021-05-10 11:49] vasilich6107 commented on #306
The only difference is how we define mixin with `with` or `on`

[2021-05-10 13:28] ramyak-mehra commented on #109
If made this extension method, if anyone looking to do something similar.
[code]

[2021-05-10 17:20] jjoelson commented on #178
Maybe I'm misunderstanding, but it seems to be saying that it's totally valid for the server to interpret these two differently and cites the exact use case discussed in this thread (emphasis mine):

Is it really out of spec for the server to treat omitted arguments and null arguments differently?

[2021-05-10 20:08] fpabl0 commented on #306
Hmm, maybe Dart can only cast directly to Mixins when their definitions declare specifically in what kind of types it is going to be used?

[2021-05-10 21:34] ramyak-mehra commented on #307
having the same issue

[2021-05-11 14:02] BreSmit521 commented on #282
Sorry for the delay, for some reason I didn't see a notification for this.  I will test this later today and get back to you! Thanks so much for looking into this issue

[2021-05-11 15:10] BreSmit521 commented on #282
This works beautifully! Thanks for all the hard work!

[2021-05-11 15:23] RodolfoSilva commented on #73
@matehat i think this is what you are looking for.

[code]

[code]

I believe this will be done for each request.

[2021-05-11 17:05] vasilich6107 commented on #307
I tried to reporduce your issue but I do not have any issues. Here is generated code

[code]

[2021-05-11 17:06] vasilich6107 commented on #307
@fpabl0 as you see - there is only one `FragmentDefinitionNode`.
Check your `pubspec.yaml` for correct version of atremis

[2021-05-11 17:21] fpabl0 commented on #307
The first query is generated fine, the problem is the second one `GetAllPokemonsQuery`.

I am sure it is `6.18.4`:
<img width="536" alt="Captura de Pantalla 2021-05-11 a la(s) 12 19 05" src="https://user-images.githubusercontent.com/12239342/117858073-1c31fd80-b253-11eb-87bd-ab33e1609049.png">

pubspec.lock:
<img width="317" alt="Captura de Pantalla 2021-05-11 a la(s) 12 20 16" src="https://user-i

[2021-05-11 17:41] matehat commented on #73
@RodolfoSilva Nice workaround!

[2021-05-11 17:47] fpabl0 commented on #307
Maybe this issue is already solved in beta branch? As I said above, I can't test it in the beta branch because it causes me conflicting dependencies problems, but I can try a clean project to test this issue if that is the case.

[2021-05-11 17:50] vasilich6107 commented on #307
The beta branch is null safety only.

[2021-05-11 17:53] fpabl0 commented on #307
I see, your tests were done in the beta branch right?

[2021-05-11 18:03] vasilich6107 commented on #307
haha.
I missed that your fragments was in separate file
now I reproduced the issue

[2021-05-11 19:11] vasilich6107 commented on #307
Fixed in 7.0.0-beta.11
Are you ok to migrate to nullsafety?

[2021-05-11 19:11] vasilich6107 commented on #282
@BreSmit521 check the latest 7.0.0-beta.11

[2021-05-11 19:13] fpabl0 commented on #307
Great! Thanks :)

Unfortunately no 😞, some of my dependencies are not nullsafety yet.

[2021-05-11 19:15] ramyak-mehra commented on #307
Is there a way in which we can generate all the fragments in one file and rest of the stuff in different files?

[2021-05-11 19:21] vasilich6107 commented on #307
@ramyak-mehra not for now

[2021-05-11 19:22] vasilich6107 commented on #307
@fpabl0 what are they?
It’s strange to hear that there is still non migrated packages or substitution exists)

[2021-05-11 19:25] vasilich6107 commented on #307
@ramyak-mehra to give you more context I would add that there are some requests from time to time about separation of output but they are quite different. So the next day we implement some of them there will be a new request...
For now the most reasonable approach is to generate output files - one per schema.

[2021-05-11 19:28] ramyak-mehra commented on #307
Yeah I mean it makes sense for the most part, it was just another way I was looking at things.

[2021-05-11 19:38] fpabl0 commented on #307
It’s strange to hear that there is still non migrated packages or substitution exists)

Basically my app needs bluetooth, so I am using this one: https://github.com/Polidea/FlutterBleLib. The problem is that Polidea was acquired by other company and they are trying to get new maintainers currently. It has a null-safety branch but I am worried if that is stable as the non-null-safety one is. There

[2021-05-11 20:17] vasilich6107 commented on #307
It’s a good time to try. In one day there will be no option besides the null safety :-)

[2021-05-11 20:22] fpabl0 commented on #109
@vasilich6107  `freezed` would be a great addition and it would simplify a little bit the needed dependencies: `json_annotation` and `equatable` wouldn't be needed because `freezed_annotation` already exports `json_annotation` and already has equality check :). Also it has a nice `toString()` method implementation :)

[2021-05-11 20:25] fpabl0 commented on #307
Yes, you are right. I'll try 😄. You can close already this issue if that is ok for you :) as it is already solved.

[2021-05-12 04:55] #307 closed, assigned to nobody

[2021-05-17 09:49] darmie commented on #297
pubspec

[code]
build.yml
[code]
project structure
![Screenshot 2021-05-17 at 10 49 01](https://user-images.githubusercontent.com/848002/118469341-863c1e00-b6fd-11eb-963a-7a1174f05449.png)

[2021-05-17 10:26] darmie commented on #297
@vasilich6107

pubspec.yml
[code]

build.yaml
[code]

cafecito_api.dart
[code]
cafecito_api.graphql.dart
[code]

File not found => `'cafecito_api.graphql.g.dart'`

[2021-05-17 10:51] darmie commented on #297
Finally figured it out...

[2021-05-17 11:10] vasilich6107 commented on #297
@darmie could you explain what was the issue?
May this will help with adding more checks to avoid similar issues in future…

[2021-05-17 11:20] darmie commented on #297
@vasilich6107 I wasn't setting the queries and mutations, I was thinking Artemis will do that automatically

[2021-05-17 13:52] edbond opened #311 "How to generate Optional type for nullable graphql type?"
**Before reporting a bug, please test the beta branch!**

I am using beta branch.

## Bug description

GraphQL schema type doesn't ends with !,
when I receive `null` from server parsing fails with:

Unhandled Exception: Unhandled error type 'Null' is not a subtype of type 'String' in type cast occurred

Expected:
[code]

Generated
[code]

## Specs
Artemis version: beta
<details>
<summary>build.yam

[2021-05-17 14:57] darmie commented on #118
@vasilich6107 your example didn't work with json_serializer

```Could not generate `fromJson` code for `videos` because of type `MultipartFile`.```

What do you suggest?

[UPDATE] I have fixed the problem for List<MultipartFile>

[2021-05-18 07:17] edbond commented on #311
It seems it's a json_serializable bug.

https://github.com/google/json_serializable.dart/issues/896
https://github.com/google/json_serializable.dart/issues/893

[2021-05-18 07:40] edbond commented on #311
It seems I was wrong in coercers. Nullable needs to have '?' in both argument and result types:

[code]

Generated output is correct now:

[code]

[2021-05-18 07:40] #311 closed, assigned to nobody

[2021-05-18 16:20] BreSmit521 commented on #282
Works great!

[2021-05-18 16:51] #282 closed, assigned to nobody

[2021-05-18 16:51] vasilich6107 commented on #282
Closing the issue

[2021-05-19 18:19] ramyak-mehra opened #312 "Flutter 2.2.0 with Dart 2.13"
Since flutter 2.2.0 comes with 2.13 it supports type alias. This can be used to avoid the usage of fragments in nested queries resulting in mixins which we have to sometimes cast to the original class name

[2021-05-20 14:41] comigor commented on #312
Hi @ramyak-mehra,
Indeed I was expecting this feature to help with fragments and even canonical types matching/transformation per-schema. Even without any automatic change from Artemis, type alias could already be used to "prettify" the usage of Artemis, specially when you're using `pathedWithTypes` naming scheme.

[2021-05-20 14:51] ramyak-mehra commented on #312
I would like to contribute to it if you could guide me a bit from where should i start.

[2021-05-20 15:47] comigor commented on #312
So one of the goals I have is to make Artemis output "canonical" classes (based on the configured GraphQL schema rather than queries selection sets). And, by creating that, one could "convert" a class that comes as a result of a query: let's say, exemplifying, `Query$Query$People` to its canonical counterpart `Person`. Part of this idea was exposed [here](https://github.com/comigor/artemis/discuss

[2021-05-20 16:00] ramyak-mehra commented on #312
Currently this went over my head 😂 but I think it's great place to start I'll spend some more time with this. Thanks for the update though 😀

[2021-05-21 10:46] saibotma commented on #176
`pathWithFields` does generate duplicate enums, too, doesn't it. It did not work for me at least.

[2021-05-21 10:57] vasilich6107 commented on #176
@Grohden @saibotma prefer to put output in one file per schema

[2021-05-21 10:59] vasilich6107 commented on #312
@ramyak-mehra If we have no better idea to name classes the aliases won’t be a silver bullet

[2021-05-21 11:01] vasilich6107 commented on #214
@formvoltron @OdysseyJ @BeshoyMelika
Dart 2.13 released support of type aliases.
This possibly could help you in solving your issue

[2021-05-23 08:54] kateile opened #314 "Request: Option to remove variables field from generated code"
This not a bug actually just a feature request.
I am using artemis `6.20.1-beta.2` with graphql-flutter and they work really well together. But recently I was trying to update all of dependencies to latest releases and with artemis `^7.0.0-beta.3` most of my codes would break by requiring `variables` field in every Query/Mutation.

I know having `variables` there plays a crucial role in ArtemisCli

[2021-05-24 19:58] Luke265 commented on #178
How about wrapping nullable field types with a simple class? Take apollo-android for an example:
https://github.com/apollographql/apollo-android/blob/5d1a72c0d303b172051d31bb992804d52d865e7b/apollo-api/src/commonMain/kotlin/com/apollographql/apollo/api/Input.kt#L44

If a field is nullable, it's generated type will would be `Input<T>`, and by default it's value would be `Input.absent()`. If you wan

[2021-05-25 05:06] vasilich6107 commented on #314
Check this issue https://github.com/comigor/artemis/issues/305

[2021-05-25 09:07] kateile commented on #314
@vasilich6107  That helped. I will use [separate variable](https://github.com/comigor/artemis/issues/305#issuecomment-833366527) in place of `document`

[2021-05-25 09:07] #314 closed, assigned to nobody

[2021-05-28 06:46] dan-leech opened #315 "use_custom_parser has no effect"
## Bug description
`use_custom_parser: true` has no effect

## Specs
Artemis version: 7.0.0-beta.11
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary> as usual

[2021-05-28 12:37] vasilich6107 commented on #315
@dan-leech `atremis` does not have `use_custom_parser` option

[2021-05-28 12:38] vasilich6107 commented on #315
![image](https://user-images.githubusercontent.com/6721286/119985024-cb4c3400-bfca-11eb-8c5d-ea1a7382d270.png)

[2021-05-28 12:40] vasilich6107 commented on #315
It was removed around v4 according to changelog
![image](https://user-images.githubusercontent.com/6721286/119985151-f59df180-bfca-11eb-8190-e16768a4be28.png)

[2021-05-28 12:40] #315 closed, assigned to nobody

[2021-05-28 13:38] vinceramcesoliveros commented on #176
I happen to resolve this issue by the following
[code]
its not the solution, but an alternative to resolve duplicate enum import/export.

[2021-05-28 14:46] vasilich6107 commented on #176
@ram231 it is very unreliable solution
Next day you’ll get enum from one file and you’ll have to compare with enum from other - this will be the end ;-)

[2021-05-28 16:31] namanshergill opened #316 "Is it possible to generate same classes for the same type of inline fragment that is under different unions?"
for example,

[code]
and

[code]
Where `x` and `y` are different unions including `A`.
The reference to A for both queries will generate different classes. How to write these queries in such a way that it generates the same class like `...fragment` would?

[2021-06-02 18:31] vasilich6107 commented on #316
Try to use fragmnets like this
[code]

It will  generate separete mixins and you'll be able to refer to them as `obj is FragmentMixin`

[2021-06-05 13:55] namanshergill opened #317 "Build runner does not update the generated code if some queries are modified, until the build folder folder in .dart_tool is deleted."
## Bug
If the build runner was run to generate the code for, say,
[code]
But then afterwards the query is modified to be
[code]

If the build runner is run again, the new generated code will be based on the previous query and would not include the `value` field. The only way to make it use the latest queries is to delete the build folder before the files are generated.

## Specs
Artemis version:
7

[2021-06-06 06:58] namanshergill commented on #316
Can I do this for inline fragments? How will I write such a fragment when the `fragment x on Y` part of the code can't be written without knowing what `Y` is beforehand?

[2021-06-06 16:18] vasilich6107 commented on #317
I’m not sure that this is somehow related to Artemis.
Personally I use Artemis nearly 18 month in a row and did not experience any similar issues.
This could be caused by local environment issues and build_runner library issues.

I’m using MacOS, so I will not be able even to reproduce your issues.

[2021-06-06 16:30] namanshergill commented on #317
I thought so too, initially, but this happening only with Artemis. Other libraries (For instance, auto_route) that also generate code reflect the changes immediately without having to delete the build folder.

[2021-06-08 07:37] ryicoh opened #319 "it is slow that generate code"
In large schema (such as 33891 lines), it takes 8 minutes when run `flutter pub run build_runner build`

[code]

[code]

[2021-06-09 01:25] fikretsengul commented on #118
How did you manage to fix it? Would you like to share your solution? Thank you.

[2021-06-09 05:00] fikretsengul opened #320 "Could not generate `fromJson` code for list of custom scalar (ex. MultipartFile)"
Hello, I am trying to implement Upload type custom scalar with the help of @vasilich6107 s guidance in this issue. (https://github.com/comigor/artemis/issues/118)

But the code generator says:
[code]

I don't know how to fix this problem. Can anyone help me?

[2021-06-09 06:25] vasilich6107 commented on #320
Show me your code.
What did you code basing on this example?
https://github.com/comigor/artemis/issues/118#issuecomment-623112131

[2021-06-09 06:29] vasilich6107 commented on #312
Closing this issue as far as we could not benefit from typedefs

[2021-06-09 06:29] #312 closed, assigned to nobody

[2021-06-09 10:46] darmie commented on #118
@fikretsengul  I got your message, let me give a break down of what I did.

1. First of all create a coercers file

[code]

[code]

[2021-06-09 10:47] darmie commented on #320
@fikretsengul  look at my response on the other related issue here
https://github.com/comigor/artemis/issues/118#issuecomment-857591213

[2021-06-09 13:50] fikretsengul commented on #118
Thank you so much for the attention and fast response. I've checked your solution which I also tried but still no success. My configurations are:

Flutter version: Flutter 2.2.0 • channel stable •
Dart version: Dart SDK version: 2.13.0 (stable)
Flutter environment in pubspec.yaml: sdk: ">=2.12.2 <3.0.0"

I'm using flutter with null-safety.

upload_scalar.dart

[code]

build.yaml

[code]

The statu

[2021-06-09 13:53] fikretsengul commented on #320
Thank you so much for the attention and fast response. @vasilich6107 and @darmie My configurations are:

Flutter version: Flutter 2.2.0 • channel stable •
Dart version: Dart SDK version: 2.13.0 (stable)
Flutter environment in pubspec.yaml: sdk: ">=2.12.2 <3.0.0"

[code]

[code]

[code]

[code]

[code]

https://imgur.com/vfeUdNk.png

What's more interesting there are other problems related to vario

[2021-06-09 14:14] darmie commented on #118
@fikretsengul  I don't think your custom parser is properly set, it should be the import path, not the relative directory...

change this
[code]

to this, where your package name is the name of your project
[code]

[2021-06-09 14:17] darmie commented on #118
@fikretsengul you just need to create the coercer for that missing part

add this to  the upload_scalar.dart
[code]

[2021-06-09 14:31] fikretsengul commented on #118
@darmie I tried that too with flutter clean and re-run the code generator but nothing changes. I don't understand what is wrong with it. Everything seems right about imports but it doesn't recognize those functions I guess.

https://imgur.com/Mvp8xQj.png

You can also check it in details:
https://github.com/comigor/artemis/issues/320#issuecomment-857713994

[2021-06-09 14:33] darmie commented on #118
I am not sure your import is right, it's starting with `lib/` shouldn't it be relative to the package?
I also noticed that you replaced everything in your upload_scalar file... can you get on a Google Meet call?
@fikretsengul

[2021-06-09 15:19] fikretsengul commented on #118
It would be appreciated. Google Meet or Zoom is ok for me :)

[2021-06-09 15:23] darmie commented on #118
Cool, check twitter @fikretsengul

[2021-06-10 12:00] dan-leech commented on #315
@vasilich6107 Thanks for explaining.
examples is still on 4.0.0...
https://github.com/comigor/artemis/blob/master/example/graphbrainz/build.yaml

[2021-06-10 12:49] vasilich6107 commented on #315
I migrated them to v7.
I did not bother myself to delete non existing props from build.yaml

[2021-06-10 14:39] Tahmeed27 commented on #177
Hey I've got this exact same issue where after I run flutter analyze, I get the issue annotate overridden members. I'm on:
 artemis: ^7.0.0-beta.11
Any ideas?

[2021-06-10 15:28] vasilich6107 commented on #177
If you are experiencing this issue please fill the bug report as per template

[2021-06-10 16:24] dw2kim commented on #177
@vasilich6107 yeah, this is till happening on my ends as well.
Can we reopen this bug? I can update the details with `artemis: ^7.0.0-beta.11`

[2021-06-10 19:12] vasilich6107 commented on #177
@dw2kim @Tahmeed27 check latest beta

[2021-06-12 17:12] dan-leech opened #322 "code generation bug for interface type with multiple implementations"
## Bug description
Cannot run my app because I have error:
[code]

I guess that the code generator just missing to replace $$typename to the  right Type. The interface maybe.

## Specs
Artemis version: ^7.0.0-beta.13

building is succeed

<details>
<summary>GraphQL schema:</summary>

[code]
</details>
<details>
<summary>GraphQL query:</summary>

[code]
</details>
<details>
<summary>Generated code

[2021-06-13 21:36] tlvenn commented on #322
I am experiencing the same, a naive implementation for the getter could be:
[code]

[2021-06-14 09:32] dan-leech commented on #322
I've found a workaround just for compiling:

add `__typename,`
[code]

[2021-06-14 15:56] vasilich6107 commented on #322
@dan-leech @tlvenn
Check beta branch read me
Beta version supports auto appending type name with `append_type_name`

[2021-06-15 18:59] Tahmeed27 opened #323 "Reordered schema.graphql.dart on Github actions"
## Bug description
So when I run the code generation on my own terminal I don't get any diff from the last time I used it. However, I set up a github action to run the same flutter build_runner command on my github actions and I'm getting a diff in the schema.graphql.dart and schema.graphql.dart.g files. When I inspected the diff, it seems that the files look the same and still works but then for

[2021-06-16 12:44] vasilich6107 commented on #323
If you are running codegen on github action please omit committing generated code into the repo

[2021-06-16 12:45] vasilich6107 commented on #322
@dan-leech @tlvenn any updates?

[2021-06-16 12:46] vasilich6107 commented on #322
@tlvenn do not use `runtimeType` anywhere in case of code obfuscation your code which bases on this will fails

[2021-06-16 13:07] Tahmeed27 commented on #323
I wanted to run a github action that would fail if someone forgot to run codegen before pushing. But the codegen on github actions was generating a git diff even if they had run codegen before pushing. Would it not be possible to do this?

[2021-06-16 13:15] vasilich6107 commented on #323
I understand you but I do not know how code generation ordering affected by target platform.

Let's look at your problem.

You are trying to check if someone forgot to run codegen. So you run codegen on github action. You spend build time. And in case if one forgot it will get an error that he need to fix manually.

Look from the other side - do not commit generated code, run codegen in github act

[2021-06-17 02:11] tlvenn commented on #322
Ha yes that's a very good point, I was kinda guessing it was hacky without thinking of code obfuscation in Prod.

Awesome, it works great thanks @vasilich6107 !

[2021-06-17 05:05] #322 closed, assigned to nobody

[2021-06-17 23:32] Luke265 commented on #319
Had the same problem. Schema of 13 000 lines, took +3 minutes to build. I've submitted PR that fixed this problem.

[2021-06-18 21:38] vasilich6107 commented on #319
The main issue now is that Artemis scans all canonical items before starting the generation...
Could anyone attach big schema so I can test

[2021-06-20 06:29] ssssota opened #327 "[example] Invalid example indentation in beta"
Hello! I found a typo in example.

https://github.com/comigor/artemis/blob/e029be16ccf765b3cdd5658969e268c1e5353225/example/graphbrainz/build.yaml#L13-L21

Invalid indentation at L14.

This commit is in https://github.com/comigor/artemis/commit/03c8efa168c076539a33b4d8bab3c36d3130c69d

[2021-06-21 17:15] vasilich6107 commented on #327
It seems that L14 is correct
Invalid all other lines

[2021-06-21 19:23] vasilich6107 commented on #319
@ryicoh @Luke265 try `7.0.0-beta.16`

[2021-06-21 19:51] vasilich6107 commented on #327
Fixed

[2021-06-21 19:51] #327 closed, assigned to nobody

[2021-06-22 13:47] Luke265 commented on #319
Works fine now. Thanks for a quick release!

[2021-06-22 16:10] ryicoh commented on #319
It worked fine in my environment. Thank you!

[code]
↓
[code]

[2021-06-22 16:26] #319 closed, assigned to nobody

[2021-06-22 23:42] chillbrodev opened #331 "[Feature Request] Add Lint Ignore for Lower Camel Case"
## Description
When Artemis generates the code the files contain upper cased camel case variables. It would be great to add the lint ignore above them to disable the lint issue of Name non-constant identifiers using lowerCamelCase.dartnon_constant_identifier_names.

Please consider adding `// ignore: non_constant_identifier_names`.

Thanks in advance.

## Specs
Artemis version: 7.0.0-beta.17

[2021-06-24 22:25] Khosbayar commented on #118
Hey @darmie  and @fikretsengul ,
I'm facing the same issue as yours, and after I tried @darmie 's approach, I got an error below:
[code]

The problem is in here:
[code]

Any idea how to fix it? Seems like not that complicated one but I don't understand. 😄

[2021-06-25 03:45] vasilich6107 commented on #331
Check read me for beta branch
There is `ignore_for_file` option to add whatever you need

[2021-06-26 11:48] 1awaleed opened #332 "Generate dart classes based on schema definitions"
I am wondering if `Artemis` is capable of generating types based on schema definitions? I cannot seem to find any documentation or related questions on this.

for example:

Given the following piece of scheme:
[code]
Can it be converted to sound null safe dart class like this:
[code]

[2021-06-26 20:07] vasilich6107 commented on #332
What is the reason to do that conversion?
You could query different subset of fields so Artemis generates types based on what you are actually query and not basing on the fields that schema allows you to query.

artemis supports only generation based on queries/mutations

[2021-06-26 20:09] vasilich6107 commented on #331
@chillbrodev any feedback?

[2021-06-28 01:35] chillbrodev commented on #331
@vasilich6107 Heya, I just saw this comment. Been away from my desk. I'll give it a review and let you know. Thanks :D

[2021-06-28 19:51] Khosbayar opened #333 "Couldn't generate 'fromJson' code for 'file'"
**Before reporting a bug, please test the beta branch!**

## Bug description
I'm using `MultipartFile` for Upload type (in GraphQL).
But when I run buid_runner, I'm getting error on FIle conversion (Upload scalar on GraphQL and MultipartFile on Dart).
I have added custom parser in `build.yaml` file - `graphql_serializer.dart` below. I'm not sure what is wrong.
Please could someone help me on this?

[2021-06-28 19:51] chillbrodev commented on #331
This will resolve my issue. Thanks. Closing this now.

[2021-06-28 19:51] #331 closed, assigned to nobody

[2021-06-28 20:11] vasilich6107 commented on #333
You have nullable ` MultipartFile?` and your converters are for non nullable

https://tppr.me/Kb09J
https://tppr.me/BB8bc

[2021-06-28 20:12] vasilich6107 commented on #332
@1awaleed any feedback?

[2021-06-28 20:15] Khosbayar commented on #333
Oh, I see, how can I set up as non-nullable MultipartFile when generating?

[2021-06-28 20:17] vasilich6107 commented on #333
Adjust your serializers to accept and return nullable values

[2021-06-28 20:28] Khosbayar commented on #333
Hi @vasilich6107 , thanks for the advice,
I have tried to make it nullable in the serializer, even tho it still gives below error:
[code]

My serializer now:
[code]

[2021-06-29 10:36] vasilich6107 commented on #333
@Khosbayar
use `fromGraphQLUploadToDartMultipartFileNullable` for nullable converter
use absolute import `package:graphql_toolchain/artemis.dart` instead of relative one

[2021-06-29 10:42] vasilich6107 commented on #320
If you have `final List<MultipartFile>? photos;` you need to specify the correct coercer

[code]

[2021-06-29 15:23] vasilich6107 commented on #333
released new `7.1.0-beta.0`
with updated converters generation

`file: Upload`
- `fromGraphQLUploadNullableToDartMultipartFileNullable`
- `fromDartMultipartFileNullableToGraphQLUploadNullable`

`file: Upload!`
- `fromGraphQLUploadToDartMultipartFile`
- `fromDartMultipartFileToGraphQLUpload`

`file: [Upload]`
- `fromGraphQLListNullableUploadNullableToDartListNullableMultipartFileNullable`
- `fromDa

[2021-06-29 15:23] vasilich6107 commented on #320
released new `7.1.0-beta.0`
with updated converters generation

`file: Upload`
- `fromGraphQLUploadNullableToDartMultipartFileNullable`
- `fromDartMultipartFileNullableToGraphQLUploadNullable`

`file: Upload!`
- `fromGraphQLUploadToDartMultipartFile`
- `fromDartMultipartFileToGraphQLUpload`

`file: [Upload]`
- `fromGraphQLListNullableUploadNullableToDartListNullableMultipartFileNullable`
- `fromDa

[2021-06-29 15:24] vasilich6107 commented on #293
@michael-woolsey

released new `7.1.0-beta.0`
with updated converters generation

`file: Upload`
- `fromGraphQLUploadNullableToDartMultipartFileNullable`
- `fromDartMultipartFileNullableToGraphQLUploadNullable`

`file: Upload!`
- `fromGraphQLUploadToDartMultipartFile`
- `fromDartMultipartFileToGraphQLUpload`

`file: [Upload]`
- `fromGraphQLListNullableUploadNullableToDartListNullableMultipartFileN

[2021-06-29 15:43] vasilich6107 commented on #118
@darmie

released new `7.1.0-beta.0`
with updated converters generation

`file: Upload`
- `fromGraphQLUploadNullableToDartMultipartFileNullable`
- `fromDartMultipartFileNullableToGraphQLUploadNullable`

`file: Upload!`
- `fromGraphQLUploadToDartMultipartFile`
- `fromDartMultipartFileToGraphQLUpload`

`file: [Upload]`
- `fromGraphQLListNullableUploadNullableToDartListNullableMultipartFileNullable`

[2021-06-29 15:59] Khosbayar commented on #333
Hi @vasilich6107 ,
Sorry I didn't understand how to do the below step:
_**use absolute import package:graphql_toolchain/artemis.dart instead of relative one**_

[2021-06-29 16:05] Khosbayar commented on #333
I have updated artemis version and my serializer is now:
[code]
So that now they match (`serializer.dart` and `api.graphql.dart`)

[2021-06-29 16:05] Khosbayar commented on #333
But still gives the same error.

[2021-06-29 16:19] vasilich6107 commented on #333
Go into generated file and fix the import issue this is how you’ll get absolute import

[2021-06-29 16:21] vasilich6107 commented on #333
You need to refer to your serializers via absolute path in build yaml

[2021-06-29 16:23] vasilich6107 commented on #333
package:your_app_name/path_to_file_without_lib

[2021-06-29 17:33] Khosbayar commented on #333
Ah! that was it, thank you so much for the quick replies.

[2021-06-29 22:48] 24601 commented on #332
This is a bit of an anti-pattern in GraphQL, as one of the core assumptions/tenets of GraphQL is to allow nested join/fetch and (sub)selections of data types to reduce overfetch or multiple trips. If you have a query that queries Person with a selection set that is all the fields, you'll essentially get "Person" as a class, but that's a bit of a hack, the actual ethos of GraphQL and adopting it in

[2021-07-02 07:16] vasilich6107 commented on #320
@fikretsengul could you check latest beta

[2021-07-03 17:06] lume-code opened #335 "Comparison with graphql_flutter/graphql package"
Hello,
I have been worked with both of these gql clients for a while now beside each other. I have some doubts about how this two should be used and for flutter newbies like me i think others could be confused at first as well, There are guides on internet on using both at the same time but it doesn't feels completely natural to me. Most important differences i could see was graphql_flutter suppor

[2021-07-04 13:03] vasilich6107 commented on #335
@ridyio

Did you get along with this article?
https://medium.com/@v.ditsyak/ultimate-toolchain-to-work-with-graphql-in-flutter-13aef79c6484

[2021-07-04 13:05] vasilich6107 commented on #335
To be short - `graphql_flutter` is a client
`Artemis` for code generation

[2021-07-04 13:06] vasilich6107 commented on #332
Closing this issue as far as Artemis generates types only basing on queries/mutations/subscriptions.

[2021-07-04 13:07] #332 closed, assigned to nobody

[2021-07-05 08:05] lume-code commented on #335
Thanks for response, yes i have read that article. The part that made me doubt if these two are meant to be used along each other was when calling a mutation:
[code]
I couldn't find a way around having to pass the arguments twice maybe i did something wrong here.

[2021-07-05 08:32] vasilich6107 commented on #335
@ridyio check this
https://github.com/comigor/artemis/issues/314

[2021-07-06 08:05] lume-code commented on #335
@vasilich6107 Thanks a lot, Got it now

[2021-07-06 08:05] #335 closed, assigned to nobody

[2021-07-07 04:13] ThangVuNguyenViet opened #336 "Mutation doesn't pass argument to the request"
**Before reporting a bug, please test the beta branch!**

## Bug description
There is an issue with the mutation request when work with the graphql library (ver. 5.0.0)

The code I use here yield an exception
[code]
The argument doesn't seem to be passed, as the exception shows:
``"Variable '$id' of type 'ID' used in position expecting type 'ID!"``

The request works fine with another way of using

[2021-07-07 11:21] johannbuscail opened #337 "Support graphql_flutter v5"
Hello,
It would be great to support the `v5` of `graphql_flutter`.
When I try to install `artemis v6.18.4` with it, I get this error:

[code]

I don't know what to do with this error because my app depends on `v5` of `graphql_flutter`

[2021-07-07 11:36] johannbuscail commented on #337
Actually, for now it works with the beta: `artemis: ^7.1.0-beta.0`

[2021-07-07 11:36] #337 closed, assigned to nobody

[2021-07-07 12:47] johannbuscail commented on #81
@comigor Any update on this ?
Coming from React Native, [codegen](https://www.graphql-code-generator.com/) allowed that really easily just by setting the endpoint in the `codegen.yml` file.
For the authentication problem, according to https://github.com/dotansimha/graphql-code-generator/issues/2029 here's what was needed with `codegen`:
[code]

[2021-07-08 07:42] johannbuscail opened #338 "Errors when using v2.13 of the sdk"
**Before reporting a bug, please test the beta branch!**

## Bug description
I'm using the version 2.13.0 for the SDK because it is required to use type aliases on variables
When I generate the dart file from my flutter queries, I get this error on VSCode and while running the app:
[code]
and
[code]
**I think all of those errors happen because the `.g.dart` file isn't generated**

## Specs
Artemis

[2021-07-09 07:50] vasilich6107 commented on #338
Where are your errors come from?
I do not see any errors in atremis output

[2021-07-09 07:55] vasilich6107 commented on #336
@ThangVuNguyenViet

do no use `document: UpdateWorkShiftMutation(variables: arguments).document,`

Check the generated sources
each document now in separate variable like `CHECKOUT_BY_ID_QUERY_DOCUMENT`

[2021-07-09 07:55] vasilich6107 commented on #320
@fikretsengul any updates?

[2021-07-09 08:39] johannbuscail commented on #338
The errors come when I run the app and VSCode shows them to.

[2021-07-09 10:10] vasilich6107 commented on #338
I just finished migration of my test project to null safety with latest Dart SDK and artemis
https://github.com/artflutter/graphql_toolchain

I can build and run it without any issues

[2021-07-09 11:03] vasilich6107 commented on #338
It seems that there is no `.g.dart` it causes those errors

[2021-07-09 11:17] johannbuscail commented on #338
Yes exactly. Do you get the same problem ?

[2021-07-09 11:20] vasilich6107 commented on #338
Nope
I just accidentally noticed it while developing a feature

[2021-07-09 11:24] johannbuscail commented on #338
Is there a specific command that I might have forgotten to generate the `.g.dart` ?
I have followed step by step the doc.
Could you try by enabling this:
[code]
In the `analysis_options.yaml` file (it's the only thing diferent)

[2021-07-09 11:32] vasilich6107 commented on #338
Ok, I will try.

[2021-07-09 13:12] JulianBissekkou commented on #109
It would be nice to have this implemented on the generated fragment mixins as well.

[2021-07-09 16:55] vasilich6107 commented on #338
@johannb75 here is generated code from your setup
No errors, everything is fine
https://github.com/artflutter/graphql_toolchain/tree/test

[2021-07-09 19:52] johannbuscail commented on #338
Solved !
Apparently, I had an old version of `json_serializable` and after fixing it, everything works fine.
The `.g.dart` generates.
I still find it strange that I haven't got any error explaining it

[2021-07-09 19:52] #338 closed, assigned to nobody

[2021-07-12 14:18] vasilich6107 commented on #336
@ThangVuNguyenViet any feedback?

[2021-07-13 23:08] Khosbayar commented on #336
@vasilich6107 Is there any example of using generated Mutation?
I'm having difficulties using file upload mutation.

[2021-07-14 01:30] Khosbayar commented on #333
Hey @vasilich6107 ,
After updating environment sdk to ">=2.12.0 <3.0.0",
it gives below error when running `flutter pub run build_runner build`

[code]

Is it related to null-safety?

[2021-07-14 04:44] vasilich6107 commented on #333
@Khosbayar are you missing an import statement?

[2021-07-14 04:46] Khosbayar commented on #333
Which one do you mean? http? If so, I have imported on `build.yaml`

[code]

[2021-07-14 04:46] vasilich6107 commented on #336
@Khosbayar https://github.com/artflutter/graphql_flutter_bloc/tree/master/example/lib

[2021-07-14 04:47] vasilich6107 commented on #333
It seems that you are missing import inside your custom parser file

[2021-07-14 04:55] Khosbayar commented on #333
Oh do I have to import in my serializer like below?

[code]

It works in this case

[2021-07-14 05:52] vasilich6107 commented on #333
Yes
You need only import, no export required

[2021-07-14 12:12] vasilich6107 commented on #333
@Khosbayar if `it works` i'm closing the issue

[2021-07-14 12:12] #333 closed, assigned to nobody

[2021-07-14 12:29] vasilich6107 commented on #320
Added samples for some possible `Upload` types
https://github.com/artflutter/graphql_toolchain

[2021-07-14 12:29] #320 closed, assigned to nobody

[2021-07-14 12:30] vasilich6107 commented on #333
Added samples for some possible Upload types
https://github.com/artflutter/graphql_toolchain

[2021-07-14 12:30] vasilich6107 commented on #118
Added samples for some possible Upload types
https://github.com/artflutter/graphql_toolchain

[2021-07-14 12:30] vasilich6107 commented on #155
Added samples for some possible Upload types
https://github.com/artflutter/graphql_toolchain

[2021-07-14 17:13] tylergets opened #340 "Having a property called "override" causes built to fail."
**Before reporting a bug, please test the beta branch!**

## Bug description
If you have a graphql property called override on any of your objects, artemis will fail to generate the code.

## Specs
Artemis version: [e.g. 7.0.0-beta.11]
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>

[2021-07-14 18:32] Khosbayar commented on #333
Thanks @vasilich6107

[2021-07-15 15:08] vasilich6107 commented on #340
@tylergets could you fill the bug report properly?

You did not provide schema and query so we will not be able to reproduce

[2021-07-15 15:10] vasilich6107 commented on #336
@ThangVuNguyenViet any feedback?

[2021-07-16 15:05] Nealsoni00 opened #341 "Scalar Mapping to `Map<String, dynamic>` mis-mapping `dynamic` to `Dynamic`"
## Bug description
the mapping of `Map<String, dynamic>` results in `Map<String, Dynamic>` in `api.graphql.dart`

build.yml:
[code]
results in

![image](https://user-images.githubusercontent.com/7013191/125967147-fb58a2fd-723d-4ba7-8e01-852aaeb03038.png)

## Specs
`  artemis: ^7.0.0-beta.3`
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[c

[2021-07-16 21:04] Nealsoni00 commented on #341
I moved fragments to a folder and added explicit `fragment_glob:` reference -- now it works.

[2021-07-16 21:14] Nealsoni00 opened #343 "@include in graphql-schema not working"
## Bug description
I have an `@include (if: $detailed)` in my fragment. When that `$detailed` is set to `false`, and the schema is returned without the property, parsing the response with the generated type file does not work.

The fragment is included using `fragment_glob` in build.yml

![image](https://user-images.githubusercontent.com/7013191/126008765-966ee578-01a3-455a-997a-6113deca4661.png)

[2021-07-17 09:13] vasilich6107 commented on #341
@Nealsoni00 working on fix

[2021-07-17 10:34] vasilich6107 commented on #341
@Nealsoni00 wait for 7.1.0-beta.2 release

[2021-07-19 07:06] vasilich6107 commented on #336
Closing the issue due to the lack of response.
Feel free to reopen

[2021-07-19 07:06] #336 closed, assigned to nobody

[2021-07-19 07:06] vasilich6107 commented on #340
@tylergets any feedback?

[2021-07-19 07:07] vasilich6107 commented on #341
@Nealsoni00 did you have time to try the fix?

[2021-07-19 12:59] Nealsoni00 commented on #341
I don't seem to have the issue anymore! Thank you!

[2021-07-19 13:17] #341 closed, assigned to nobody

[2021-07-19 18:40] tuanvugoodmoney opened #346 "Fragments: The superclass, '<name>FragmentMixin', has no unnamed constructor that takes no arguments"
**Before reporting a bug, please test the beta branch!**

## Bug description
I have a fragment that with direct fields except __typename and a union. The fragment and query is generated successfully, but when I write a unit test, I get the following errors while loading the unit tests. The query and fragment runs successfully on Apollo Graph explorer.

### Errors
[code]

## Specs
Artemis version:

[2021-07-20 07:56] vasilich6107 commented on #346
Hi @tuanvugoodmoney could you add some code from `graphql_gateway_client_inquiry_test.dart` so we can reproduce the issue

[2021-07-20 16:49] tuanvugoodmoney commented on #346
[code]

[2021-07-20 18:55] vasilich6107 commented on #346
@tuanvugoodmoney I do not see here anything related to generated code...
This file does not imports any implementation from generated code

Where this error come from?
Is there any stacktrace?

[2021-07-20 18:57] vasilich6107 commented on #346
This code import only two libraries `test` and `mocktail`. It should still work fine if you delete everything related to generated code. Unless you posted limited version of file...

[2021-07-20 19:00] vasilich6107 commented on #340
Closing this issue due to inability to reproduce and lack of response.
Feel free to reopen.

[2021-07-20 19:00] #340 closed, assigned to nobody

[2021-07-20 19:40] tuanvugoodmoney commented on #346
I'll work on creating a new repo to reproduce the problem

[2021-07-20 19:41] vasilich6107 commented on #346
Thanks

[2021-07-21 18:09] tuanvugoodmoney commented on #346
@vasilich6107 See this [repository](https://github.com/tuanvugoodmoney/artemis_fragments_issue). My original project had analysis turned off for all generated graphql files so I didn't see compilation errors. In this new project, the generated graphql.graqhql.dart actually has a compilation error, see screenshot. In the same repo, you can see the user fragment generates normally.

If you try to ru

[2021-07-21 19:06] vasilich6107 commented on #346
Thanks for your help

[2021-07-23 10:52] LasseRosenow opened #347 "'TargetKind' incompatibility with current meta / analyzer packages"
## Bug description
When I generate my schema with the current flutter version and all current packages I get this error:
[code]

## Specs
Artemis version: 7.1.1-beta.1
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>

[2021-07-23 16:58] vasilich6107 commented on #347
@LasseRosenow you did not filled bug report properly.
Where is the schema and query. How should we reproduce the issue?

[2021-07-25 08:42] vasilich6107 commented on #346
Will try to address the issue this week

[2021-07-31 23:16] zcourts commented on #273
#282 appears to fix this in `v7.1.1-beta.1`

[2021-07-31 23:16] #273 closed, assigned to nobody

[2021-08-09 17:13] jjangga0214 commented on #293
Oh is this currently being documented?
I think it should be?

[2021-08-09 19:16] vasilich6107 commented on #293
@jjangga0214
technically it is easier to generate code with error and look into the atremis generated code what funcions `fromJson` and `toJson` is missing rather then writing the names by yourself

[2021-08-13 19:18] vasilich6107 commented on #346
Hi @tuanvugoodmoney
Sorry for not paying proper attention to this bug.
Will try to address it in one week

[2021-08-21 09:30] jjangga0214 opened #348 "feat(prefix): with naming_scheme: simple"
Hi!

Thank you for this great package!

Sometimes, user-defined dart type and generated code result in naming conflict.
I understand to use `naming_scheme: pathedWithTypes` for those cases.
However, people can still want to use `naming_scheme: simple`, in some cases.

For them, a concept of `prefix` would be very helpful.
For instance, `graphql-code-generator`(npm) does support this feature.
https

[2021-08-23 06:27] mvarendorff opened #349 "Fragment definition nodes from other files are not included"
**Before reporting a bug, please test the beta branch!** (✅)

## Bug description
When placing GraphQL fragments in a separate file, they are not included in the generated code. This limits reusability of fragments to only a single file. *Note: I am not sure if splitting fragments and queries into multiple files is allowed in the GraphQL spec but all web frontend libraries I have used so far suppor

[2021-08-24 19:11] vasilich6107 commented on #348
@jjangga0214 as you see from your screenshot those prefix applied to all types so instead two equal types `ProductDetails` you will get two equal types `GqlProductDetails`

[2021-08-24 19:14] vasilich6107 commented on #349
@geisterfurz007 there is `fragments_glob` for that purpose
https://github.com/comigor/artemis/blob/beta/CHANGELOG.md#711-beta1

And look into readme configuration section
https://github.com/comigor/artemis/tree/beta#configuration

[2021-08-24 19:44] mvarendorff commented on #349
That requires me to place all fragments that I want to share between query files into one file however, doesn't it (at least that's my understanding of "file", eventhough the config field is called glob)? I have been fiddling around with [another codegen package](https://pub.dev/packages/graphql_codegen) which supports sharing fragments between graphql files out of the box without any configuratio

[2021-08-25 07:30] vasilich6107 commented on #349
This is how it works for now.
Maybe some day we will improve the behavior

[2021-08-25 08:12] mvarendorff commented on #349
Certainly understandable! Thanks for your fast responses :)

[2021-08-25 08:12] #349 closed, assigned to nobody

[2021-08-26 02:29] jjangga0214 commented on #348
@vasilich6107

I don't understand what you meant here.

I guess what I meant by `Sometimes, user-defined dart type and generated code result in naming conflict.` is different from your understanding.

For example, let's say my graphql schema has `ProductDetails` type. Then Artemis generates the the type `ProductDetails` in dart, with `naming_scheme: simple`. However, I may still want to create (by

[2021-08-28 18:59] paoloposo opened #350 "Queries with fragments don't work with Artemis v7"
## Bug description
After upgrading to version 7 in order to migrate my app to null-safety, I ran into an issue where my queries would fail. After some investigating I narrowed it down to the use of fragments in my queries.

I made a minimal working example: https://github.com/paoloposo/artemis_test

It uses the Pokemon sample API. There are two queries in the example that request the same data. On

[2021-08-29 19:22] vasilich6107 commented on #350
@paoloposo
set `fetchPolicy: FetchPolicy.noCache` and everything will work

![image](https://user-images.githubusercontent.com/6721286/131262864-532dfe24-9f88-4292-8187-14c24fdd19cf.png)

[2021-08-29 19:24] vasilich6107 commented on #350
@paoloposo
it seems that you are missing store setup for cache
https://github.com/zino-app/graphql-flutter/tree/beta/packages/graphql#persistence

[2021-08-29 19:27] vasilich6107 commented on #350
If you look on your example the error is somewhere in cache
cause two queries are identical

the difference is the suource that `graphql` tries to get results

![image](https://user-images.githubusercontent.com/6721286/131262963-e7b91084-4878-4604-ac8c-ddd3d758704b.png)

[2021-08-29 19:27] #350 closed, assigned to nobody

[2021-08-30 09:40] vasilich6107 commented on #346
Hi @tuanvugoodmoney

For now I can only suggest you to write

[code]

without using the fragment

[2021-08-30 09:42] vasilich6107 commented on #346
@tuanvugoodmoney you can also write like this to incorporate fragments

[code]

[2021-08-30 09:44] vasilich6107 commented on #347
@LasseRosenow closing this issue due to the lack of feedback
Feel free to reopen

[2021-08-30 09:44] #347 closed, assigned to nobody

[2021-08-30 09:51] LasseRosenow commented on #347
I actually fixed it by overriding the analyzer dependency to the newer 2.0.0 release. So this issue will be automatically resolved by updating the dependencies. Which is blocked by gql_code_builder not supporting the newer analyzer yet.

[2021-08-30 10:09] vasilich6107 commented on #347
Thanks for clarification

[2021-09-11 21:10] fryette opened #351 "Upgrade packages"
Could you please upgrade json_annotation and json_serializable versions to the latest?

[2021-09-14 13:07] vasilich6107 commented on #351
No luck
[code]

[2021-09-15 13:47] mdrideout commented on #351
For the short term, the dependency override for analyzer is working fine for me.

[code]

[2021-09-15 13:50] vasilich6107 commented on #351
Pub dev does not allow to publish with deps overrides

[2021-09-21 20:31] vasilich6107 commented on #351
@fryette I did the PR
https://github.com/gql-dart/gql/pull/268

[2021-09-22 15:47] jjangga0214 opened #352 "fix: naming conflict on document with naming_scheme: simple"
## Bug description

With `naming_schema: simple`, an error appears when two different documents requests difference sets of fields of same type. (In this example, one requests `title` of `Post` type, the other requests `content` of `Post` type. )

## Specs
Artemis version: ^7.1.1-beta.1
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

**Main

[2021-09-23 18:21] vasilich6107 commented on #352
The naming scheme `simple` does not handle this properly.
Use `pathedWithFields`

[2021-09-23 18:21] #352 closed, assigned to nobody

[2021-09-28 17:28] vasilich6107 commented on #351
@fryette my pr was merged but there was an issue with auto release)
Waiting while they will fix it.
Check comments under PR

[2021-09-28 21:09] fryette commented on #351
Great!
Thanks, will wait

[2021-09-29 19:25] moseskarunia commented on #270
[code]

[2021-10-06 07:44] Niravoo7 opened #353 "There isn’t a setter named 'stringify' in class 'EquatableMixin'"
In autogenerate *.graphql.g.dart file, we are facing this issue. which says 'There isn’t a setter named 'stringify' in class 'EquatableMixin''. Try correcting the name to reference an existing setter, or declare the setter.

i am using Artemis version: '7.1.1-beta.1'. and i tried with '7.0.0-beta.17' version also. but In that facing same issue.

![Screenshot 2021-10-06 at 1 02 11 PM](https://user-

[2021-10-07 21:21] jjoelson commented on #346
Any update on this issue? I'm seeing the same compiler errors in generated code:

<img width="503" alt="image" src="https://user-images.githubusercontent.com/824653/136463239-b0aa1329-e6fe-40f4-8efc-e6adb108b2c4.png">

The issue seems to be caused by nested fragments within either a union or interface.

[2021-10-08 05:19] vasilich6107 commented on #346
@jjoelson you can apply the workaround that I suggested in my previous comment

[2021-10-08 05:22] vasilich6107 commented on #353
@Niravoo7 could you fill up the issue properly
You did not provide your schema and query.
This will help us to reproduce and fix quicker
Also attach your full `build.yaml` with all configuration options

[2021-10-08 06:40] vasilich6107 commented on #351
@fryette this is nightmare to get support from gql team...
They merged my PR but failed the release. And now no one knows what to do...
I released temp `gql_code_builder2` to update the packages)
Have fun

[2021-10-08 16:59] jjoelson commented on #346
@vasilich6107 Thank you for the quick response! I am able to work around it for now by restructuring my fragments.

I might dive a bit into the Artemis code to see if I can figure out the issue, so I'll comment here if I find anything useful.

[2021-10-12 08:16] fredericbirke commented on #353
I have the same issue with the following setup:
Schema:
[code]

Mutation:
[code]

build.yaml:
[code]

Packages:
[code]

To me this seems like to be a bug in the generator? Im not sure, why those lines here are generated anyway:
![Screenshot 2021-10-12 at 10 18 37](https://user-images.githubusercontent.com/9481836/136919000-99d18c12-5943-41c9-897c-dca4e864e344.png)

After removing the marked lines

[2021-10-12 12:34] fredericbirke commented on #353
The problem seems to be that the generator lets the data classes extend from `JsonSerializable with EquatableMixin` and then tries to handle the properties of the `EquatableMixin` as graphql fields as well.

Seems like the generator simply needs to ignore the properties of the [EquatableMixin](https://pub.dev/documentation/equatable/latest/equatable/EquatableMixin-mixin.html) when generating the t

[2021-10-24 01:33] salihagic commented on #109
Is this still in consideration? It would be nice to have copyWith method in the generated classes.

[2021-10-26 11:30] #351 closed, assigned to nobody

[2021-11-05 10:36] tk2232 opened #361 "Deeply nested fragments not working"
## Bug description
Deeply nested fragments not working.

If I run ChatMessages with graphql the authors in result are null

[code]

[code]

## Specs
Artemis version:  artemis: ^7.2.6-beta
<details>
<summary>build.yaml:</summary>

[code]

[2021-11-05 12:28] tk2232 commented on #361
I'm sorry. It was a cache problem

[2021-11-05 12:28] #361 closed, assigned to nobody

[2021-11-12 21:12] CosmicPangolin commented on #62
@comigor

Is there any chance this package gets a built_value implementation at this point?  I'd love to use it for personal and agency projects but we're committed to the builder pattern, immutability, and out-of-the-box discriminator + serialization (including the optional plugins for things like DateTime).  We find the immutability and patterning incredibly valuable so we even choose built_valu

[2021-11-13 20:57] cody1024d commented on #346
This is also affecting me :(

I have the nested fragment inside of an interface, and I get a similar `extends XYZMixin` compile error.

Going to use the workaround to avoid the inner fragment, but it's definitely not as clean

[2021-11-13 21:01] vasilich6107 commented on #346
@cody1024d unfortunately there is no solution for now except the reorganizing fragments structure

[2021-11-13 21:07] cody1024d commented on #346
@vasilich6107 No problem. It is not the end of the world! Thank you for this awesome project!

[2021-11-14 14:06] cody1024d opened #362 "Multiple Schema Files within One Mapping?"
Hello,

Quick question --- does Artemis support multiple schema files within one "mapping"?  Hoping to do something like this in the YAML file:

[code]

This use-case comes up because we have one file that is auto-generated from our backend, `schema.graphql`. However, the second contains some Scalar Types that AWS expects to be included, but however are not the standard GraphQL scalar types (such

[2021-11-14 14:29] vasilich6107 commented on #362
Hi @cody1024d
There is no schema globs support for now.

[2021-11-15 01:29] #362 closed, assigned to nobody

[2021-11-27 16:41] cody1024d commented on #178
@comigor Have you given this any more thought? This is also a game-changer for me. We use "implicit" nulls (i.e. properties not included) to tell our back-end to NOT update that field, where "explicit" nulls clear the field (similar to @GP4cK above).

[2021-11-27 16:44] vasilich6107 commented on #178
@cody1024d i tried to implement this feature - see the #339
But I had no time to finish it)

[2021-11-27 17:07] cody1024d commented on #178
@vasilich6107 I'm not sure ignoring all nulls would be the best policy. I think something like the suggestion by @Luke265 would be best. Somehow generating a small wrapper class around the optional values in the schema, which then play a part in the serialization. Going to ask the rest of my team, but I may spend some time working on this proposed solution as it's going to be a blocker for us eith

[2021-11-27 17:25] vasilich6107 commented on #178
@cody1024d if you check the PR there is an optional value so it will remove only non setted values

[2021-12-07 18:28] darmie commented on #293
I still have this problem with `7.0.0-beta.9`

[code]

[2021-12-13 12:03] maestrolsj commented on #353
i have the same issue

[2021-12-26 17:23] vasilich6107 commented on #353
hi @fredericbirke
I tried to reproduce your issue
Check https://github.com/artflutter/graphql_toolchain/tree/artemis-%23353

Try it yourself - and you will see that there is no such issue
If you will be able to reproduce the issue on that project - make a PR

[2021-12-26 19:28] vasilich6107 commented on #353
@maestrolsj it would be great if you could provide reproduction github project
I tried to reproduce it by @fredericbirke example without any luck
Do not forget to update libs to latest versions

[2022-01-06 06:06] VladislavYU opened #365 "Code generation runtime error when I add mutation requests"
**Before reporting a bug, please test the beta branch!**

## Bug description
When I run build_runner, the process takes a very long time (more than 20 minutes) and gives an error
It works when I have only query requests. When I add mutation request I give error after 20 min wait.

My graphql scheme contains 52 thousand lines.

## Specs
Artemis version: 7.3.0-beta
<details>
<summary>build.yaml:</su

[2022-01-06 08:42] vasilich6107 commented on #365
@VladislavYU
Do not hesitate to read output from the script

[code]

[2022-01-06 09:13] VladislavYU commented on #365
Yes. I've already fixed that. But then it happened that he was waiting for the completion of the generation for more than an hour, as if he was looping

[2022-01-06 09:15] vasilich6107 commented on #365
How much does it take now?

If you attach your schema(full schema file) we could try to reproduce the issue

[2022-01-06 11:43] VladislavYU commented on #365
I will be very grateful if I can reproduce and solve the problem

example mutaton
[code]

[schema.txt](https://github.com/comigor/artemis/files/7821472/schema.txt)

[2022-01-23 15:58] vasilich6107 commented on #365
Hi @VladislavYU

try this in your `pubspec.yaml` if it fixes the performance issues

[code]

[2022-01-23 16:16] vasilich6107 commented on #365
@VladislavYU all tests are ok so i release in v7.3.1-beta

[2022-01-24 13:45] henriqueArrazao commented on #178
Some news about the explicit null?
I think the best solution and easiest way to solve this issue would be create an "ExplicityNull()" object. Example:
[code]
Another question, do you know if "ferry" package for flutter has this problem too? Very thanks.

[2022-01-26 13:19] VladislavYU commented on #365
Not help me. After 10 minutes of waiting for the build to complete, it did not complete, had to abort.

https://pub.dev/packages/graphql_codegen this handles the schema and generates code without problems

[2022-01-26 13:22] vasilich6107 commented on #365
Will try one more time some time later

[2022-01-27 08:14] kazuyaseki opened #369 "Undefined name '$$typename' when nesting unions"
## Bug description
I have a following schema.

[code]

when I generate with artemis

[code]

which causes error `Undefined name '$$typename'`
other query that's using Union is fine, so I guess it might be caused by nesting unions

## Specs
Artemis version: 7.2.2-beta
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details

[2022-01-27 08:18] vasilich6107 commented on #369
@kazuyaseki you did not add typename to resolved fields in your query
![image](https://user-images.githubusercontent.com/6721286/151319269-414ccd3c-73f4-43b0-b585-b5d4cfe78089.png)

[2022-01-27 08:30] kazuyaseki commented on #369
I'm sorry I was using __typename in the wrong place as you said. Thanks for the reply!

[2022-01-27 08:30] #369 closed, assigned to nobody

[2022-01-28 06:29] WDtms opened #370 "Add "freezed" feature to codegen"
**Before reporting a bug, please test the beta branch!**

## Bug description
For now it's pretty hard to use generated classes from "union" type;

For example now, to identify object and use it's field i need to use this construction:

[code]

[code]

and if i use mixin (fragments inside queries), then i'd have to:

[code]

with "freezed" it would be something like this:

[code]

[2022-02-17 13:09] cezarcrintea commented on #178
I solved a similar issue - filtering nullable fields from some specific entities - by extending the RequestSerializer. I use as backend HotChocolate v12, and it wants no null fields in FilterInput & SortInput entities

[2022-02-25 08:13] opsb commented on #370
Just came here to request the exact same thing then saw it top of the list. On our project we use unions to model the possible error results from a mutation or query so we pretty much have a union on every single operation. We use freezed for the rest of the app so currently we map the result types into a freezed union as soon as we get the result back. It's a ton of boiler plate though so having

[2022-03-01 11:17] vasilich6107 commented on #353
Hi @fredericbirke @maestrolsj could you provide a github repo with reproduction of the bug?

[2022-03-01 16:21] vasilich6107 commented on #365
fixed in https://pub.dev/packages/artemis/versions/7.3.2-beta

[2022-03-01 16:21] #365 closed, assigned to nobody

[2022-03-10 12:28] samuelchanx commented on #350
@vasilich6107 May I know how to fix this issue? Using fragments in Artemis suddenly return null when used with `flutter_graphql`, unless I use `FetchPolicy.noCache`

https://github.com/zino-hofmann/graphql-flutter/issues/994

[2022-03-11 11:54] martinolsson opened #373 "Single quote in double-quoted string gives error"
**Before reporting a bug, please test the beta branch!**

## Bug description

When building from a schema with a single quote in a double quoted string, like this:

[code]

I get errors like this:

[code]

If I remove the single quote it works as expected.

I expect the double-quoted string to allow a single quote character.

## Specs
Artemis version: 7.3.2-beta

<details>
<summary>build.yaml:</su

[2022-03-24 19:54] CelticMajora opened #375 "Unable to use `ArtemisClient` in a package without specifying `build.yaml` config"
**Before reporting a bug, please test the beta branch!**

## Bug description
The project I am working on is a monorepo where our queries, models, etc live in a package separate from our app(lets call that package api). I'm injecting an `ArtemisClient` into that api package from my app to make queries because I want to be able to setup my own logging, headers, interceptors, etc. within the app, how

[2022-03-25 20:56] vasilich6107 commented on #373
@martinolsson fixed in [7.3.3-beta](https://pub.dev/packages/artemis/versions/7.3.3-beta)

[2022-03-25 20:56] #373 closed, assigned to nobody

[2022-03-28 16:19] vasilich6107 commented on #353
Closing the issue due to the lack of response

[2022-03-28 16:19] #353 closed, assigned to nobody

[2022-03-28 23:19] apackin commented on #346
Any updates on this issue?

I would like to use a shared mixin from a union to render a UI for all queries that return the data, so the workaround above results in a type error.

Example:
[code]

We're using the same UI widget to show all insights. So the workaround posted results in the error UserMixin$InsightTab is not of type GameMixin$InsightTab. I was hoping to make the widget expect InsightT

[2022-03-29 16:43] ricardodalarme opened #380 "Package conflict"
## Bug description

Cannot use Artemis with `flutter_test`. Consider downgrading `path` package version

[code]

## Specs
Artemis version: [e.g. 7.6.0-beta]

[2022-03-29 17:19] vasilich6107 commented on #380
@ricardodalarme use dependency override for path

[2022-03-29 22:26] #380 closed, assigned to nobody

[2022-03-30 16:49] vasilich6107 commented on #317
Will close this issue for now as far as there is no clear understanding how to reproduce it

[2022-03-30 16:49] #317 closed, assigned to nobody

[2022-03-30 16:51] vasilich6107 commented on #323
Closing this issue cause maintaining generated code order is out of scope for the package

[2022-03-30 16:51] #323 closed, assigned to nobody

[2022-03-30 16:52] vasilich6107 commented on #270
@naikdp7 do you still have issues with that?

[2022-04-03 14:15] tlvenn opened #383 "Interface implementing other interfaces is not supported"
## Bug description
It seems that Artemis is not currently supporting schema with interface implementing other interfaces.
It currently errors out with
[code]

## Specs
Artemis version: 7.6.2-beta

[2022-04-04 13:47] vasilich6107 commented on #383
@tlvenn it is not an artemis issue
subscribe to updates on this issue https://github.com/gql-dart/gql/issues/269

[2022-04-04 13:47] #383 closed, assigned to nobody

[2022-04-04 13:57] tlvenn commented on #383
Ha thanks for the info @vasilich6107 !

[2022-04-05 16:39] dontwan commented on #175
Does anyone by chance know what the "r" does in the case statement?
`case r'NextAuthInput'`

[2022-04-12 08:45] ikenox opened #385 "add `extensions` field to GraphQLResponse<T>"
Hi, thank you for this really great library.

As described below, GraphQL response root may contain `extensions` field.

https://spec.graphql.org/June2018/#sec-Response-Format

But `GraphQLResponse<T>` seems to have only `data` and `errors` field.
I think It's better that we can access to `extensions` field via `GraphQLResponse<T>` class.

[2022-04-12 18:47] ecoant opened #386 "build_runner fails citing null-safety error on `gql-code-builder` dependency"
**Before reporting a bug, please test the beta branch!**

## Bug description
Overnight a Codemagic (ci server) build started failing with the same dependencies in our pure dart project due to a null-safety issue in `gql_code_builder-0.3.0-alpha+1635885531709/`.

[code]

To further complicate the issue, the same command in the same project with the same dependencies works totally fine.

I have file

[2022-04-13 00:56] chillbrodev commented on #386
I thumbs up'd above. This is also a blocker for my current project.

[2022-04-13 10:44] ekremkenter commented on #386
Same here, locking versions to `gql: 0.13.1-alpha+1645425888336` and `artemis: 7.5.0-beta` fixed for me. Probably it's related with gql's latest version not compatible with artemis.

[2022-04-13 11:44] Saurabh-Detharia commented on #386
As a temporary solution, using the fixed version for the gql issue can be solved, like `gql: 0.13.0`.

[2022-04-13 13:43] vasilich6107 commented on #386
Updated code_builder and gql packages to latest stable versions
wait for v7.7.0 to be released

[2022-04-13 16:31] chillbrodev commented on #386
The above solution worked!!!

Here are my dependency overrides + other packages for anyone else facing this issue.

[code]

  packages:
[code]

dev dependencies:
[code]

[2022-04-13 17:56] ecoant commented on #386
Thank you!! This worked for me as well. I didn't know you could override package dependency versions like that - awesome!

[2022-04-14 23:42] mdrideout commented on #370
This is a request I have as well. I'm using the Riverpod / Freezed architecture and this is my query / state example.

[code]

[code]

And I'm conditionally setting state via StateNotifier based on the type response. Would be sweet if this could be automatic somehow. Not sure how that would work. Example:
[code]

[2022-04-17 15:16] #386 closed, assigned to nobody

[2022-04-19 14:24] deathemperor commented on #319
@vasilich6107 I have a schema here. It took me....50 minutes to generate 68 queries...

[2022-04-19 14:26] vasilich6107 commented on #319
@deathemperor what Artemis version are you using?

[2022-04-19 14:38] deathemperor commented on #319
@vasilich6107 I'm using `7.2.3-beta`

[2022-04-19 14:42] vasilich6107 commented on #319
@deathemperor update to latest version

[2022-04-28 21:17] henriqueArrazao commented on #178
I think this should be changed from "enhancement" to "bug"

[2022-05-17 18:28] fabis94 opened #390 "Add support for analyzer 4.0"
<img width="948" alt="image" src="https://user-images.githubusercontent.com/938316/168884602-a19ff0c1-fc6f-49a9-8fe3-7f2485d81e64.png">

Analyzer 4.0 is required to lint Dart 2.17 new features like Enhanced Enums, but Artemis relies on an older version

[2022-05-17 19:13] vasilich6107 commented on #390
Most likely you’ll need to ping gql team to add support
Cause Artemis itself is pretty easy to update

[2022-05-17 19:18] vasilich6107 commented on #390
@fabis94
if you'll check https://github.com/comigor/artemis/blob/beta/pubspec.yaml there is no analyzer dependancy at all in artemis package)

[2022-05-17 19:18] vasilich6107 commented on #390
It is transitive dependency from
https://github.com/gql-dart/gql/blob/master/codegen/gql_code_builder/pubspec.yaml#L8

[2022-05-17 19:21] vasilich6107 commented on #390
It took several month for me prev time to bump the ananlyzer version
https://github.com/gql-dart/gql/pull/268

[2022-06-12 16:19] syssam commented on #178
any update?

[2022-06-12 16:45] vasilich6107 commented on #178
@syssam no time to finish)
https://github.com/comigor/artemis/pull/339

[2022-06-15 06:23] baconcheese113 opened #392 "Do queries have to be extracted?"
I use graphql client side in Flutter very similar to how I use it with Apollo Client and Relay, where each Widget/Component houses the parts of the query that will be used in it's widget and child widgets have their own fragments. You can see an example of one of my main queries [here](https://github.com/baconcheese113/handle-it-app/blob/master/lib/feed/feed_home.dart) and [here](https://github.co

[2022-06-15 06:47] vasilich6107 commented on #392
Hi.
For now Artemis supports only extracting graphql queries.
There is no major plans to change the approach for now.

[2022-06-15 15:35] baconcheese113 commented on #392
Do you know if Artemis works with Fragments? If it does I'd be able to continue using Fragments and just have typing in the first Widget where I have the Query I suppose.

Also, do I have to put my queries in separate files for Artemis to find them or is there a way Artemis can parse them out?

[2022-06-15 16:09] vasilich6107 commented on #392
Yes it works with fragments check the readme

[2022-06-18 22:01] tran-huy-phuc commented on #350
Is this fixed? I'm using ^7.8.0-beta and fragment is still not working

[2022-06-18 22:03] vasilich6107 commented on #350
@thphuc If you have an issue create new one with reply

[2022-06-18 22:05] tran-huy-phuc commented on #350
Hi @vasilich6107 thanks for your quick response. Yes, I have to use FetchPolicy.noCache to make my fragment work, like @samuelchanx mentioned

[2022-06-18 23:42] baconcheese113 opened #393 "Using fragments prevents using cache"
I'm trying to create a sample app for others that want to use graphql-flutter and artemis, while learning how to use them myself.
It appears that fragments can only be used with `FetchPolicy.noCache` (not even `FetchPolicy.networkOnly`. Removing the cache eliminates a huge part of what makes graphl-flutter appealing, so is there any way to use artemis with fragments and cache?

In `main.dart`
[cod

[2022-06-19 03:35] baconcheese113 commented on #393
You can find the example project that replicates this problem here https://github.com/baconcheese113/graphql-flutter-artemis-example

[2022-06-19 03:36] baconcheese113 commented on #393
https://github.com/comigor/artemis/issues/350

[2022-06-19 12:25] baconcheese113 commented on #393
Okay...12 hours straight debugging this problem 🎉

## Long Explanation
While breakpoint debugging the internals of  graphql-flutter, normalize, and Hive I noticed that [query_manager.dart#L255](https://github.com/zino-hofmann/graphql-flutter/blob/main/packages/graphql/lib/src/core/query_manager.dart#L255) `attemptCacheWriteFromResponse()` fails to write the query to the cache with the fragmentNode

[2022-06-19 12:33] baconcheese113 commented on #350
See #393 for the solution

[2022-06-21 03:43] baconcheese113 opened #394 "How to pass nested fragments"
If I have a query and fragments like below
[code]

When I try to pass the props to their child widgets inside the `Fragment1` Widget:
[code]
I get the following errors:

From the Home to Fragment1 widgets I see I'm able to pass `Home$Query$User` to the `Fragment1UserMixin` type, but I can't pass the others. I could probably just cast to the child mixin types, but that prevents static analysis on t

[2022-06-21 15:50] vasilich6107 commented on #393
Hi @baconcheese113
Thanks for your time investment in this issue.
`GraphQLCache` has `dataIdFromObject` function which could help you to fix normalization issues.

We cannot add `id` by default to all items cause it is not a standard name.

[2022-06-21 21:24] baconcheese113 commented on #393
I'm working on a PR now to add the user specified `typeNameField` to all `ClassDefinition`'s. Something like this:
[class_definition.dart#L36](https://github.com/comigor/artemis/blob/master/lib/generator/data/class_definition.dart#L36)
[code]
This would at least align the functionality with the functionality of [gql](https://github.com/zino-hofmann/graphql-flutter/blob/main/packages/graphql/lib/sr

[2022-06-27 09:52] baconcheese113 commented on #284
Facing the same issue using fragments that request the same field. Using version 7.9.0-beta

[2022-06-27 16:45] manuelduarte077 opened #396 "graphql subscriptions and mutations"
I have a query where I can see, how to use mutations and subscriptions, I've been looking but I couldn't find it, maybe I'm doing it wrong.

Thank you so much :)

[2022-06-27 22:11] vasilich6107 commented on #394
Look at how the code is generated.
As far as I understand- it’s mostly relates to how dart type system work.
Maybe you’ll be able to find suitable approach

[2022-06-27 22:14] vasilich6107 commented on #393
@baconcheese113 we already have fix for that
https://github.com/comigor/artemis/pull/254

[2022-06-28 00:43] baconcheese113 commented on #396
[code]

[2022-07-01 02:06] baconcheese113 commented on #394
It appears like the runtimeTypes aren't changing, that's preventing passing nested fragments farther down the widget tree

[2022-07-01 02:08] baconcheese113 commented on #393
Any plans to release a new stable version? I'm not sure if all users are aware there are large differences between the stable and beta version that they need to read a different readme to discover, I wasn't

[2022-07-10 07:30] enex commented on #151
Is there any progress or workaround?

[2022-07-21 02:03] kmcgill88 commented on #343
I ran into the same issue with `artemis: 7.8.0-beta`. In my case the graph query executes correctly but conditionally some data isn't return,...hence the parsing error. Same thing for `@skip`.

[2022-07-23 05:43] #396 closed, assigned to nobody

[2022-09-06 13:35] namanshergill commented on #390
https://github.com/gql-dart/gql/pull/328

@vasilich6107 Seems like it has been updated

[2022-09-20 08:22] tazik561 opened #398 "flutter artemis : No file generated in my folder"
I am trying to generate against any graphql schema by artemis:

      artemis: ^7.9.0-beta
      dev_dependencies:
      freezed: ^2.0.0
      json_serializable: ^6.3.2
      build_runner: ^2.2.1

My build.yaml

    targets:
      $default:
        sources:
          - $package$
          - lib/**
          - graphql/**
          - integration_test/**.dart
        builders:
          artemis:

[2022-10-04 13:53] vasilich6107 commented on #398
Create reproduction repository please

[2022-10-06 15:17] cfsbhawkins commented on #343
Yeah this seems to be related to the model builder, @include will work just fine if the Schema says field could be nullable, but if it's something that reports back as not nullable then includes will fail, such as a connection or node.

[2022-10-15 13:43] vasilich6107 commented on #398
No feedback, no schema, no reproduction
Closing the issue
Feel free to reopen

[2022-10-15 13:43] #398 closed, assigned to nobody

[2022-10-16 17:55] vasilich6107 commented on #390
#400 is on the way.
It is blocked by updating pipeline dart version)

[2022-10-17 12:38] nikolay-popov-ideogram opened #401 "OperationName is passed for unnamed queries"
## Bug description
The problem I'm facing in 7.9.0-beta is that operationName property of my query class is always generating with the value that equals the output file name. So, when I'm using unnamed source query, the request fails with an error like "Unknown operation named ...". I tried to turn off the generate_queries option but nothing changed. The only way to solve this is to name raw queri

[2022-10-22 22:09] vasilich6107 commented on #390
Updated, check latest version

[2022-10-22 22:09] #390 closed, assigned to nobody

[2022-11-09 20:39] MichalNemec opened #404 "Installing 6.18.4 artemis"
Tried   artemis: 7.2.3-beta which works, but fails on:
[code]

## Bug description
Cannot install 6.18.4 artemis or any version.

## Specs
Artemis version: 6.18.4
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</details>
<details>
<summary>GraphQL query:</summary>

[code

[2022-11-14 07:14] vasilich6107 commented on #404
Hi @MichalNemec
First of all - use latest beta(non beta is too outdated right now)
Second - fill the issue properly to get help(with schemas and queries for reproduction)

[2022-11-14 07:17] vasilich6107 commented on #401
Could you attach Any code samples to demo the issue?
The issue template asked you to do that…
fill the issue properly to get help(with schemas and queries for reproduction)

[2022-11-14 15:06] MichalNemec commented on #404
switched to ferry and have no problems, thanks for response!

[2022-11-14 15:06] #404 closed, assigned to nobody

[2022-11-16 23:24] MarkOSullivan94 opened #405 "Any way to prevent generated classes from extending JsonSerializable?"
Every class generated which extends JsonSerializable has all of the fields generated which you can see in the screenshot.

Is there any way to disable this behaviour?

Also curious if there is a good reason why I would want my class to extend JsonSerializable?

<img width="258" alt="Screenshot 2022-11-17 at 00 12 55" src="https://user-images.githubusercontent.com/6950843/202316368-95659306-2aa1-47

[2022-11-18 22:09] sarp86 commented on #343
Any updates? We have the same problem? This ticket is open over one year?

[2022-11-18 22:10] vasilich6107 commented on #405
Hi @MarkOSullivan94

could you clarify why do you care what is inside generated code?)

[2022-11-18 22:11] vasilich6107 commented on #405
I do not remember why do we need `extends JsonSerializable`
maybe due to the client
https://github.com/comigor/artemis/blob/master/lib/client.dart

[2022-11-19 21:28] MarkOSullivan94 commented on #405
All of these fields are publicly exposed for no good reason, I don't want to see them when my IDE shows which field / method I can use when working with a generated GraphQL model instance 😄

I'm not sure the abstract class `GraphQLQuery` needs to extend `JsonSerializable`? 🤔

Though please correct me if I'm wrong, I didn't spend a lot of time looking into it and checking if it did or not 🤷

[2022-11-21 00:40] tran-huy-phuc commented on #189
I'm getting a similar issue today. Here is our type: (`likedList` and `profiles` have the same type [FullProfile!])

(We are using `artemis: ^7.11.0-beta.1`)

[code]

[2022-11-28 09:58] karabanovbs opened #406 "Generation failed when the same type used in union and without union"
## Bug description
Generation failed when the same type (OutputA) used in union (UnionB) and without union (as result of mutationA).
Example: https://github.com/karabanovbs/artemis_test

## Specs
Artemis version: [7.11.0-beta.1](https://pub.dev/packages/artemis/versions/7.11.0-beta.1)
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
<

[2022-11-28 14:03] karabanovbs commented on #406
When i generate with `naming_scheme: pathedWithTypes', code didn't compiled.
![image](https://user-images.githubusercontent.com/14288495/204296751-cbe01c67-23ee-4b2b-b752-d4b7a1626ccc.png)