[2019-08-20 19:41] miorimmax opened #5 "Using third party types on custom scalars"
Hey there! I'm exploring this library a bit, working good so far, but I got a custom scalar for `BigDecimal` that uses [decimal](https://pub.dev/packages/decimal) on the dart side, as you can see in my custom parser:

[code]

But the generated code does not build because it is missing a import for `package:decimal/decimal.dart`, so the compiler cannot figure out where `Decimal` is defined.

I'm ed

[2019-08-21 16:30] comigor commented on #5
Yeah, that makes sense!

Having an `import` for each `dart_type` seems better when only some types will need imports, so I think the second option is more concise.

But it's your call, I'll gladly accept either change!

[2019-08-22 14:11] #5 closed

[2019-09-02 17:32] amadeu01 opened #10 "[Question] How to output generated files into specific folder"
Hi,
I would like to output my `.g.dart` and `.dart` files into `generated/` folder.
Is it possible to do so? How can I do it?

[2019-09-02 17:36] amadeu01 opened #11 "[Question] Is it possible to keep schema file out of /lib folder?"
I tried to keep `my.schema.json` file in the root directory of the flutter app (one directory before `/lib`). But, the files couldn't be generated.

[code]

Then, I try to use `schema: ./my.schema.json`, but didn't work as well.
And then, I tried to use `schema: lib/my.schema.json` and also moved the file to inside `/lib` folder, so it managed to work well and generate the files.

[2019-09-02 17:43] comigor commented on #10
Hi @amadeu01,
That's definitely something I'll do soon, but that's not possible yet.

[2019-09-02 17:44] comigor commented on #11
Well that's strange, I've tried to reference a schema from the root.
Maybe there's something wrong in the way builder queries for input files?
I'll take a look at it!

[2019-09-03 06:21] lucasavila00 opened #13 "Nullable Wrapper"
As far as I could tell Artemis isn't doing something to address Dart's lack of non nullable types.

I couldn't see a way to deal with it using custom scalars as nullable _types_ wouldn't be addressed.

The way I work around this right now is by using [Dartz Option](https://github.com/spebbe/dartz/blob/master/lib/src/option.dart), meaning having to wrap all nullable types with a runtime check to "c

[2019-09-03 06:58] lucasavila00 opened #14 "Lazy Getters"
The way graphql_flutter implements NormalizedCache would require denormalizing data on every build call, making allocations for everything under that type for fields that may not be even relevant.

Like a list of friends and respective chat history that would require denormalizing the chat history and allocate it event if I just asked for the friends names.

I would suggest using lazy getters that

[2019-09-03 14:14] comigor commented on #13
Hey @lucasavila00
Sure, it's possible to do. This could be done as an abstraction before Dart supports non-nullable types, but I was waiting for official support to do it.

[2019-09-03 14:27] comigor commented on #14
Hello again @lucasavila00,
That makes sense. It's not a priority, though, given this would require redoing most of the work `json_serializable` does.

It makes more sense to have `json_serializable` (or an extension to it, or another generator like it), to support this kind of lazy read, as other projects could benefit from it, instead of recreating it here.

What do you think about requesting thi

[2019-09-03 15:12] lucasavila00 commented on #13
@comigor I believe it will take some time before nnbd is released and stable.
I haven't had the time to study Artemis source code and see how to implement this feature but I'll try to do it if I have some free time.

[2019-09-03 15:40] lucasavila00 commented on #14
I don't think there is really a need to support more than this specific use case.
Graphql-flutter may change their implementation details and then I wouldn't see a reason to mantain this bigger scoped project.

Graphql-flutter is being used in production and works fine and I don't see why Artemis couldn't support it first class.

@comigor As I believe you like Apollo API design and graphql-flutter

[2019-09-03 16:05] comigor commented on #14
Sure, but first-class support is different from coupling everything in one library to make another one work. Lazy fields shouldn't be Artemis responsability, but rather something it could get from `json_serializable` out of the box. Also, keep in mind the goal of Artemis is to be agnostic of environment (it should work with pure Dart, without `graphql_flutter).

This lazy feature is clearly some e

[2019-09-03 16:29] comigor commented on #11
Well, it seems it's possible for `build` to [get files outside `lib/` folder](https://github.com/dart-lang/build/blob/db7af3d9868e84c554ed93314df5469ad5e9c142/build_test/test/test_builder_test.dart#L53-L74) (at least if if uses the special `$lib` placeholder for input files.)

I'll try to make Artemis use it instead of `*.query.graphql` files as input.

[2019-09-03 17:04] lucasavila00 commented on #14
In my mind I'd put the lazy getters behind a flag and almost "fork" json_serializable for our specific needs. This would allow faster development under a smaller test suite for this specific use case.

What I hadn't considered is upstreaming the feature to json_serializable.
I'll investigate if this is possible and if the project is willing to accept this addition.

[2019-09-03 20:36] comigor commented on #11
Well, even though this test assures that it's possible: it is NOT. I've created the same builder as this test and could find assets under `data/*`, on the root of project, even if using `$lib$`.
So yeah, I'm kinda blocked on this by `builder`.

[2019-09-03 21:19] comigor commented on #10
When looking at https://github.com/comigor/artemis/issues/11, I found out `build` forces builders to write outputs to specific folder (it depends on the synthetic asset you use `lib`, `test` or `web`).

So unless `generated/` folder lives inside `lib/`, it won't be possible to generate files to that folder.

But I'll soon give options to customize output folder.

[2019-09-03 22:52] comigor commented on #11
I've just opened up an issue on builder repo: https://github.com/dart-lang/build/issues/2426

[2019-09-04 01:23] comigor commented on #11
It seems they whitelist [some inputs](https://github.com/dart-lang/build/blob/master/build_runner_core/lib/src/generate/options.dart#L21-L31).

[2019-09-04 01:42] comigor commented on #11
Hey @amadeu01, I've digged into `build` code and found out that you need to explicitly whitelist the input globs you want to be parsed, or else `build` will use by default [the inputs I've posted above](https://github.com/dart-lang/build/blob/master/build_runner_core/lib/src/generate/options.dart#L21-L31).

To do so, just change your `build.yaml`:
[code]

Or I guess you could just whitelist everyt

[2019-09-04 01:43] #11 closed

[2019-09-04 20:16] comigor commented on #10
Update: it seems [build doesn't allow generating files to custom folders](https://github.com/dart-lang/build/blob/master/docs/writing_a_builder.md#output-restrictions).
I'll try circumventing that by creating an aggregate builder that generate to a single file, but this will be a breaking change.

[2019-09-06 17:18] amadeu01 commented on #11
@comigor sorry my delay! thanks for having the time to look at that :D

[2019-09-06 17:19] amadeu01 commented on #11
@comigor It might be nice to add a `FAQ` section on the project's readme and so add this kind of trick configuration to it.

[2019-09-06 17:27] amadeu01 commented on #10
@comigor I don't know whether this will work, but I managed to create a file with different name from the input by adding it to `buildExtensions`

[code]

maybe, and that is a big maybe, you can use `generated/dot_env.dart`

I'll try it latter.

[2019-09-06 18:04] comigor commented on #11
Sure! I'm changing `pokemon` example to reflect that while I'm working on #10, and I'll write more documentation about it.

[2019-09-06 18:06] comigor commented on #10
I'm working on it! When you use the `$lib$` synthetic input, it's possible to read and write to almost all folders. But, as a downside, you need to specify exactly the outputs at compile time.

Well, soon I'll have some news, but I guarantee it will be a breaking change :P

[2019-09-07 05:00] #10 closed

[2019-09-09 17:43] leoiacovini opened #18 "Repeated Objects in different paths of the query are not supported"
When we have a Query that contains the same Object in different paths with different fields selected the generations does not work as supposed. This is a problem, especially in heavy recursive schemas. For eg:

Schema.graphql
[code]

[code]

Given that the Classes are generated based on the Object name, here we would have two conflicting classes of `MyObject`, with a different set of fields each.

[2019-09-09 23:27] comigor commented on #18
This is expected (for now), but we need to think about what to do?

[2019-09-16 16:57] amadeu01 opened #20 "Could not generate dart file from query."
I'm getting this error.
Not sure what could cause that

[code]

I also notice that it printed a lot of this warnnings

[code]

[2019-09-16 18:16] klavs commented on #20
@amadeu01 is your operation anonymous?

I suspect that this line causes the error:
https://github.com/comigor/artemis/blob/ce09046f67f2e27d4365768e3fe7c27fc5369206/lib/generator.dart#L71

[2019-09-16 18:54] amadeu01 commented on #20
@klavs sorry, I don't understand what you mean by _operation anonymous_

[2019-09-16 19:19] klavs commented on #20
I might be using the wrong term, but what I'm asking is whether you have defined a Name of your operation or not.
![image](https://user-images.githubusercontent.com/832923/64986536-d7b05c00-d8cf-11e9-9f22-8a0bddf47585.png)

https://graphql.github.io/graphql-spec/June2018/#sec-Language.Operations

[2019-09-16 19:25] amadeu01 commented on #20
@klavs

I did something like

[code]

[2019-09-16 19:47] klavs commented on #20
🤔 It should have worked for this query.

Unless you have another query/mutation/subscription without a name at the beginning of the same file.

https://github.com/comigor/artemis/blob/ce09046f67f2e27d4365768e3fe7c27fc5369206/lib/generator.dart#L14

[2019-09-16 20:05] amadeu01 commented on #20
@klavs I found the "anonymous" query, I had to revisit some old query files, I guess the problem didn't happen before, so I didn't notice I had this kind of query, sorry :(

[2019-09-16 20:13] amadeu01 opened #23 "'ListTypeNode' is not a subtype of type 'NamedTypeNode'"
It might be related to

https://github.com/comigor/artemis/blob/ce09046f67f2e27d4365768e3fe7c27fc5369206/lib/generator.dart#L80-L88

[code]

[2019-09-16 20:13] klavs commented on #20
@amadeu01 no problem!

There's another way to look at this: why not support multiple operations per source file?

[2019-09-16 21:04] comigor commented on #20
Hey guys! Thanks for digging deep into it!
@klavs do you think it changed since we've started using `gql`?

[2019-09-16 22:03] klavs commented on #20
@comigor yes and no.

Yes, the bug was introduced by migration to `gql`.

But if we consider @amadeu01 expected `DataQuery` to be covered by Artemis then no. Artemis wouldn't have covered that before the migration and is still not covering it.

[2019-09-17 15:18] danilolr opened #26 "Camel case query names are converted to snake_case on operationName"
A query like this :

[code]

generates a file with :

final String operationName = 'rygapp_geral';

As the names are not equals it gives a runtime erro of :

Unknown operation named "rygapp_geral"

If I named my query rygapp_geral it works fine.

[2019-09-17 15:34] danilolr opened #27 "Create one file for each query when using wildcards on queries_glob"
I have this on my build.yaml

          schema_mapping:
            - schema: rygapp.schema.json
              queries_glob: graphql/**.query.graphql
              output: lib/graphql/consultas.dart

When I run I received this error :

Exception: Two classes were generated with the same name `Usuario`!
You may want to do either:
- Enable add_query_prefix on this schema_map
- Make queries_glob stri

[2019-09-17 17:23] amadeu01 commented on #27
I thought that when you use `queries_glob: graphql/**.query.graphql` and leave without `output` it would create separate files for each query found.

[2019-09-17 22:02] amadeu01 opened #30 "GraphQL interfaces"
In my schema, I have something like:

[code]

And the generated code got something like

[code]

However `Blah, PublicBlahInterface, BlahSharedProperties` never got created by the builder.

[2019-09-17 22:18] amadeu01 commented on #30
I don't know why, but when I used separated file for each query, it worked

Something like that
https://github.com/comigor/artemis/blob/ce09046f67f2e27d4365768e3fe7c27fc5369206/example/pokemon/build.yaml#L8-L16

one output per query, instead of using one output for every `**.query` file

[2019-09-18 07:20] jhattwich opened #31 "Connections and Unions"
Hey there! First of all thanks for this package, it really helps us to improve our development process! I have some troubles building unions and connections with unions.

I have the following gql queries:

[code]
or

[code]

In both cases the type `Node` has no `props` e.g.:

[code]

Expectation is:

[code]

[2019-09-18 16:17] #20 closed

[2019-09-18 16:17] #23 closed

[2019-09-18 18:58] comigor commented on #27
Hey @danilolr, @amadeu01
That was the breaking change introduced in `1.0.0`. Before that, it was possible to generate mutiple files just by using a query glob.

However, since `1.0.0`, I've started using `$lib$` synthetic input to `builder` code generation. It was a trade-off to make Artemis more performant, and to have more flexibility to change the output location. By using this synthetic input,

[2019-09-18 18:59] comigor commented on #27
I'm gonna mark this as a possible enhancement to the library: to be able to have ouput globs again.

[2019-09-18 19:04] comigor commented on #27
Oh yeah, people already gave me the idea of namespacing each query, like in this example, where we have two queries with a common type (`Customer`), with different fields.
[code]
[code]

In this example, two different classes would be generated: `AQueryCustomer` and `BQueryCustomer`. What do you guys feel about that?

[2019-09-18 19:07] comigor commented on #30
Hey @amadeu01!

That's actually the way it's supposed to work as-of-now (since `v1.0.0`: to have an output for each query, or for mutiple queries that don't share the same entities), or else you'll got an exception if two or more queries use the same types. As I've said on https://github.com/comigor/artemis/issues/27, I'm thinking in a way of changing this behavior, to be able to use `queries_glob

[2019-09-18 19:12] comigor commented on #31
Hello @0x6a6f74726f!
Are you setting `resolve_type_field` on `schema_mapping` configuration to `__typename`?
Is this an union type?
Could you share the GraphQL schema or create a minimal reproducible repository with this issue?
Thanks!

[2019-09-19 06:12] michael-golfi commented on #31
Hi @comigor - First off, thanks for all the great work! :)

Is typename only generated for interfaces and unions? I'm using typename for caching on every object and wondering if there's a way to add it when it's specified in the queries?

[2019-09-19 07:51] 0x6a6f74726f commented on #31
@comigor yes we set the `resolve_type_field` according to our schema. If you need more stuff, i am happy to support!

[2019-09-19 17:45] comigor commented on #31
@0x6a6f74726f Cool! I'll take a look at it when I got some time.

@michael-golfi Hey there! Thank you! For now we only generate typename for interfaces and union types "instances". We also drop any other field that starts with `__` to have its code generated. Are you using typename differently? Does it agree with GraphQL protocol? Maybe we think in a way of whitelisting those fields if necessary.

[2019-09-19 20:28] michael-golfi commented on #31
I'm not sure that it's necessarily part of the protocol but I'm running queries similar to the following:

[code]

But the class only generates fields for id, firstName and lastName. If the query requests __typename, should it appear in the class as well?

[2019-09-20 19:56] amadeu01 opened #32 "[Not sure what broken] Unable to generate code"
I'm not sure what has broken here.

It might have something to do with `_defaultScalarMapping`, or some sort of variable that should be specified in the `ScalarMap`, but the error is not clear, so I couldn't know what I'm doing wrong or if it is a new bug.

https://github.com/comigor/artemis/blob/fca47fdfacddf4b42641eeb340778b8c43accf7a/lib/generator/graphql_helpers.dart#L47-L54

[code]

[2019-09-20 20:19] amadeu01 opened #33 "[Didn't test] Use Artemis without actively run build."
From [here](https://github.com/flutter/flutter/wiki/Code-generation-in-Flutter), you can find that builder can be added in the `builders` section of `pubspec.yaml`, so it will run as a step for build, or flutter run.
That could let the code generation as build step of the code.

[2019-09-20 21:28] klavs commented on #32
Looks like an unintended recursion.
[code]

[2019-09-24 21:00] comigor commented on #32
Hey @amadeu01, how are you doing?

Which version of Artemis are you using?
Could you create a minimal reproducible version of this error?

[2019-09-24 21:05] comigor commented on #33
Cool, I didn't know that!

But it seems Artemis can be used this way without any changes, right?

Perhaps we can point this on the documentation only.

[2019-09-24 21:09] comigor commented on #31
No. It's currently, on purpose, filtering any field that starts with `__`.

That's why I've asked what's the use case for this, so maybe we can remove this filter.

[2019-09-25 03:15] amadeu01 commented on #32
I'll try to write a test tomorrow, in the worst case on Friday.

[2019-09-25 23:49] amadeu01 commented on #32
hey @comigor

sorry my delay sending a test case to this one, but I'm going to have time on the weekend!

[2019-10-02 14:13] jmoseley opened #34 "Support grahphql codegen introspection schemas"
When using graphql codegen and the `introspection` plugin, the JSON output has a root key of `schema`, but the artemis parser expects this object to be nested inside a root `data` object (I believe this is the result if you request the introspection schema from the server).

The error you see in my case is:

[code]

It shouldn't be too hard to support both formats in the parser.

An alternative so

[2019-10-02 16:21] comigor commented on #34
Hey @jmoseley!
Definitely it seems easy to support! I'll mark this as an enhancement.

I'm not sure about schema fetching because some people (like myself) could need tokens/certificates to hit their servers and/or not always you want the most up-to-date schema in your app (and you could trigger your own scripts if you want this kind of automation).

[2019-10-04 08:40] Thong-Tran opened #37 "Missing enum type when create .dart file"
I create by file graphql with content:

[code]

with file [schema.json](https://github.com/comigor/artemis/files/3689659/schema.zip) create from **appsync aws**. Everything worked fine and created .dart files but it didn't include enum type.

Has it been supported since the beginning or is this a bug?

[2019-10-04 10:43] comigor commented on #37
Hello @Thong-Tran, how are you doing?
I'm not familiar with this schema, is `FilterInput` an enum?
Yes, it's probably a bug, enums are supposed to work. I'll take a look as soon as possible.

[2019-10-04 11:07] Thong-Tran commented on #37
No, attributes of `FilterInput` is enum, like this:

[code]

And with config

[code]

[2019-10-04 11:12] comigor commented on #37
Hmm I see. Maybe enums are not being considered for InputObjects.

[2019-10-04 14:30] jmoseley commented on #34
I agree that fetching the schema is hard. A method similar to how it is done by graphql codegen might work, but that is a bunch of extra complexity. I pushed a PR for a really simple change, just to support both. The other option would be to make it configurable, but I'm not sure how many other shapes this schema might come in, so probably not worth it.

[2019-10-06 23:37] micimize opened #39 "Possible to generate schema types?"
Is there a way to generate classes from the base types of a schema? Is this planned?

We'll want to do this for graphql-flutter, and maintain [fragment inheritance](https://github.com/zino-app/graphql-flutter/issues/402#issuecomment-538799511) somehow

<details>
<summary>Maybe something like this: <a href="https://gist.github.com/micimize/ec9df3c1df23f415621fd3da7e81209e">https://gist.github.com/m

[2019-10-07 02:24] Thong-Tran commented on #37
Hi @comigor, Is there any way to display the full log? I have some bugs want to report to you but I can't find a way to get them all.

Like this:
[code]

[2019-10-07 03:51] michael-golfi commented on #31
That would be great!

I use __typename/id as a key for client side caching.

[2019-10-07 14:23] comigor commented on #39
Hello @micimize, how you doing?

You mean generate all types from all the schema, instead of filtering by queries/mutations fragments?
That's actually what Artemis used to do [before v0.2.0](https://github.com/comigor/artemis/tree/da14b0be9bd8eaf8f9b52b8e9aacc1e70c967b06/example/graphbrainz/lib), but I felt it was really not useful, so I've dropped it in favor of fields needed by the query alone.

[2019-10-07 15:00] comigor commented on #34
Yeha, I think this solution is enough, at least for now. Thanks!

[2019-10-07 15:00] #34 closed

[2019-10-07 15:38] micimize commented on #39
Exactly. Moor is an sqllite lib we're considering building a normalized cache with. So, we'd want to generate a table model per base-type, and normalize operation results into the cache.

Yes - this would let us inherit from the database-connected types, and allow for fragment-like Inheritance.

For non-nullables, I don't think it changes anything, we can just use a [non-nullable decorator on dese

[2019-10-07 15:54] comigor commented on #39
So you're developing another generator (for Moor) that uses Artemis? Could you point me to the repo?

Are you depending on it as a library or as a `build` dependency? `GraphQLQueryBuilder` currently [implements a callback](https://github.com/comigor/artemis/blob/master/lib/builder.dart#L39) of parsed data which I primarily use for testing, but I think you can use instead of `OnNewClassFoundCallbac

[2019-10-07 16:24] micimize commented on #39
@comigor it's still in the [consideration/planning phase](https://github.com/zino-app/graphql-flutter/issues/402) - we haven't begun development yet.

[2019-10-07 16:39] comigor commented on #39
I see. Well, ping me if you try `OnBuildQuery`/`OnNewClassFoundCallback`. I'll see if it's easy to generate the whole schema again.

<details>
<summary>
Just two cents from someone who doesn't fully understand MoorDB/graphql-flutter ecosystem, if you're open to this feedback
</summary>

Implement this cache as an optional & pluggable dependency (even if it's the most recommended cache implementati

[2019-10-07 17:22] comigor opened #41 "Do not filter __* fields"
_Originally posted by @michael-golfi in https://github.com/comigor/artemis/issues/31_

I use `__typename/id` as a key for client side caching.

It's currently, on purpose, filtering any field that starts with `__`.

[2019-10-07 17:23] comigor commented on #31
@michael-golfi I've create a new issue to not filter those fields, let's keep this one to the connection problem.

https://github.com/comigor/artemis/issues/41

[2019-10-07 18:03] #37 closed

[2019-10-13 15:44] micimize opened #43 "Cannot parse input literal"
The following mutation fails with due to an `{}` input literal with
`Error on line 2, column 43 of lib/gql/raw/SignIn.gql: Expected an object field name`. Generation succeeds if the literal is converted into an input `$variable`

[code]

[code]

<details>
<summary>
full <code>flutter pub run build_runner build --verbose</code> output
</summary>

[code]
</details>

[2019-10-13 15:50] klavs commented on #43
That's on `package:gql`. I guess the parser currently expects at least one field in the input object. Let me check the spec and the reference implementation.

[2019-10-13 15:58] micimize commented on #43
@klavs Looks like it's just empty literals. I made it `{ id: "" }` and it worked

Default values like this fail on `]`:
[code]

The actual error:
[code]

[2019-10-13 16:15] klavs commented on #43
@micimize yes, I found the cause – 2 wrong rows and 1 unnecessary function. It affects empty objects and empty lists. I'll be able to fix it after 3h.

[2019-10-13 18:53] klavs commented on #43
@micimize fixed and published in `gql` v0.11.1

Unfortunately, Artemis is still using `gql` v0.10.0 so we still need to update Artemis

[2019-10-13 19:00] klavs commented on #41
@comigor any leading `_` could be changed to `$` in Dart as names cannot contain `$` in GraphQL.

https://graphql.github.io/graphql-spec/June2018/#sec-Names

[2019-10-14 14:02] comigor commented on #43
Cool, let's update it!

[2019-10-14 16:18] #43 closed

[2019-10-16 21:44] smkhalsa commented on #27
@comigor This is how the [apollo-tooling](https://github.com/apollographql/apollo-tooling) codegen works. It seems like a good approach.

Is this something that we can implement anytime soon? I'd like to ty artemis with a larger project, so  I'd definitely like to avoid having to manually define each schema_mapping.

[2019-10-16 21:47] comigor commented on #27
This should already be implemented just by enabling `add_query_prefix` on `schema_mapping`:
[code]

Could you test this approach and report back, please?

[2019-10-16 21:51] smkhalsa commented on #27
@comigor oh, great! Yes, I'll test and let you know if I run into any issues. Thanks for the quick response!

[2019-10-17 10:35] smkhalsa commented on #30
@comigor I have the same issue as @amadeu01: my interface types aren't generated.

I created a [minimum reproduction repo](https://github.com/smkhalsa/artemis_demo).

As you can see, the `AudioContext` and `SearchResult` interface classes were not created. For your reference, here is my schema.

[code]

Also, I get the following warnings when building. For some reason artemis is looking for an `im

[2019-10-17 12:52] comigor commented on #30
Nice, I'll take a look based on this reproduction!

[2019-10-24 19:22] BioApfelsaft commented on #26
#45

[2019-10-25 13:38] comigor commented on #26
Fixed on https://github.com/comigor/artemis/pull/45

[2019-10-25 13:38] #26 closed

[2019-10-31 11:47] smkhalsa commented on #30
@comigor were you able to take a look at this?

[2019-10-31 12:50] comigor commented on #30
Sorry, I didn't have the time yet 😞

[2019-10-31 17:35] comigor commented on #30
I've opened a PR to fix your case, @smkhalsa: https://github.com/comigor/artemis/pull/46
Though I'm not sure that's the same problem as @amadeu01

[2019-11-01 16:10] #30 closed

[2019-11-01 16:11] comigor commented on #30
Feel free to reopen this as needed, as a fix to the reproducible bug is shipped on https://pub.dev/packages/artemis/versions/2.0.7

[2019-11-04 14:27] smkhalsa commented on #41
I have the same issue as @michael-golfi. I plan to use `__typename` (with `id`) for client side caching. @klavs's suggestion of converting `__` to `$` makes sense to me.

@comigor what are your thoughts on this?

@michael-golfi, have you already built your caching layer? I need a normalized, offline-first cache and I'd love to collaborate on an existing project if one exists.

[2019-11-05 06:03] edwjusti commented on #27
First of all, thank you for building this useful tool! I'm looking forward to have this implemented on this tool, my project would benefit a lot from this functionality. In the meantime I planned to use add_query_prefix to generate diferent prefixes and avoid the class name collision but I wasn't able to use it with all my queries whenever more than one query returned a graphql enum of the same ty

[2019-11-05 16:56] comigor commented on #27
Hello @edwjusti, thanks!

Hmm I see. It may be related to https://github.com/comigor/artemis/issues/30, which was fixed by this PR https://github.com/comigor/artemis/pull/46.

I bet that's the same issue with Enums, so I'll open another issue for that.

[2019-11-05 16:56] comigor opened #47 "Prefixes are probably not being considered in Enums"
Prefixes are probably not being considered in Enums.

---

First of all, thank you for building this useful tool! I'm looking forward to have this implemented on this tool, my project would benefit a lot from this functionality. In the meantime I planned to use add_query_prefix to generate diferent prefixes and avoid the class name collision but I wasn't able to use it with all my queries whenever

[2019-11-05 16:58] comigor commented on #41
Yes, it seems a good aproach as (of course) underscore fields would be privatized in Dart.

[2019-11-11 16:47] micimize opened #49 "# imports / Document parsing middleware"
I'd like to use [`gql`'s `ast.transform`](https://github.com/gql-dart/gql/blob/master/gql/README.md#transforming-graphql-documents) to implement an inline imports handler similar to [`graphql-import`](https://github.com/Urigo/graphql-import) or [`graphql-import-loader`](https://github.com/prisma-labs/graphql-import-loader), but would need a parser middleware hook to use it with artemis.

#### Alte

[2019-11-11 16:52] micimize commented on #49
For reference, the output of  `build -vvv` is pretty uninformative here

<details>
<summary> <code>flutter pub run build_runner build -vvv</code></summary>

[code]
</details>

[2019-11-11 17:02] comigor commented on #49
Hey @micimize!

Actually the decision to make Artemis use synthetic lib input rather than iterating over each file was done exactly for grouped files parsing, I just didn't had the time to start coding those uses yet.

What do you feel about having a configurable interceptor list on each `schema_map` so all the globbed files and ASTs could be transformed before the generation itself? I think it co

[2019-11-11 17:09] micimize opened #50 "Failing file name in debugging output"
Including the file name in the stack trace output would greatly improve usability

<details>
<summary> <code>flutter pub run build_runner build -vvv</code></summary>

[code]
</details>

[2019-11-11 17:23] micimize commented on #49
@comigor That seems like an alright approach - I don't follow the "builder builder" part entirely, as I'm not familiar with `builder_factories`.

The "grouped file parsing" sounds like it's enough to solve my particular issue though. I think a builtin `preprocess: concatenate` configuration might make sense

[2019-11-11 17:40] micimize opened #51 "Can't process query when it implements interface"
When the root `Query` implements `Node`, `artemis` fails:
[code]

<details>
<summary> full trace </summary>

[code]
</details>

When I delete the interface it works fine
[code]

Query:
[code]
Config:
[code]

Simplified schema:
[code]

[2019-11-11 17:43] comigor commented on #51
Nice, thanks!

[2019-11-12 16:23] oakesja opened #52 "Sharing fragments between queries"
Is it possible to share fragments between queries?

For example if I have a fragment and two queries that use it...

[code]

[code]

[code]

If I place the fragment one of the queries or the other I get the following error message:
[code]

If I place the fragment in both of the queries I get:
[code]

I understand that it is possible to define two different schema mappings and have these generate t

[2019-11-15 13:44] comigor commented on #52
Hello @oakesja! Sorry for the late reply,

Are those queries defined together in a single file? Have you  tried to set `add_query_prefix: true` in your build.yaml file?

But I see your point in having fragments generate its own class and be reusable thoroughly the queries. That's definitely a nice improvement that can be made!

[2019-11-15 14:13] comigor commented on #52
I was thinking about making each fragment a mixin so that could be reused across other types but, looking closer, this change wouldn't solve your problem anyway.

Both your queries are using the same `jobCategories` resolver (which returna the same type: `JobCategory`). This approach conflicts on purpose because you could be querying another field from `JobCategory` outside of the fragment. Pictur

[2019-11-15 20:00] oakesja commented on #52
@comigor thanks for the reply back!  I will give the `add_query_prefix: true` and the new fragments as mixins a try and let you know how it goes.

I definitely understand where you are coming from on the conflict if more selections are added outside the fragment. The apollo ios swift client gets around this by treating fragments separate from the rest of the data. So for the example above for the

[2019-11-18 13:20] oakesja commented on #52
👍  on `This would be even more useful, for instance, when concatenating multiple input files` in #53.  This allowed for the fragments to be shared in the same query but not across different queries, even with the `add_query_prefix: true`.

[2019-11-18 13:23] comigor commented on #52
Yes, today is not possible to share fragments between queries on two different files. To do that, we need some kind of middleware; as we're discussing on https://github.com/comigor/artemis/issues/49.

So let's continue the conversation for this topic there, as it appears to be the same issue. Feel free to reopen this if you find it's needed! :)

[2019-11-18 13:23] #52 closed

[2019-11-23 23:47] micimize commented on #51
currently investigating this - it seems like a more general issue with interfaces.
Adding `print([fieldName, parentType.name]);` in `_createClassProperty` displays
[code]
on the graphqlbrainz query
[code]

[2019-11-23 23:51] micimize commented on #49
Currently working on a simple concatenation option for schema map, as well as looking into #30

[2019-11-24 00:15] micimize commented on #51
I was wrong - the "Moving on..." statement is unrelated to the failure (at least in the graphqlbrainz case.

[2019-11-24 00:34] comigor commented on #49
I have a [WIP branch for processors](https://github.com/comigor/artemis/tree/middlewares) (just pushed it), but it may take some time to land. `build` limits a lot what a builder can do, specially when referencing dynamic code, so I need to generate, compile and run a custom code (just like `build` does) to achieve a custom middleware approach.

I'm now starting to work on how to call this generat

[2019-11-28 16:16] comigor opened #58 "Make enums loose"
Today, it's always a breaking change to add a new option on a Enum on Artemis: the generated code will create an Enum based on the schema of on that code was generated, and if the server returns a new value on that enum, it will break with "ArgumentError".

To make enums retro-compatible, I suggest to (optionally) add an `UNKNOWN` value to every enum, and fallback to it on (well) unknown values.

[2019-12-06 11:41] pd4d10 opened #59 "Is there any option to remove operation name?"
I'm using this lib with [GitHub GraphQL API](https://developer.github.com/v4/explorer/). Seems it does not support operation name and returns an error:

[code]

[2019-12-06 13:16] comigor commented on #59
Hello again @pd4d10!
Could you share more information on this? Which query are you trying to generate?

[2019-12-06 14:02] pd4d10 commented on #59
Thanks for the quick response!

This happens when I try to using it with [GitHub GraphQL API](https://developer.github.com/v4/explorer/). If the POST body contains `operationName`, for example:

[code]

the query would fail.

I think this error is probably nothing to do with this lib. But if there is an option to remove `operationName` in generated code. it could be bypassed.

[2019-12-06 14:06] pd4d10 commented on #59
Tried to manually change generated dart code: Assign `null` to `operationName` and the query works.

[code]

[2019-12-06 20:41] comigor commented on #59
Huh, that's weird. It seems GitHub is not accepting opertaionName field but, as an optional field, it shouldn't matter for the backend.

Today, Artemis use the query name for operationName, but it probably won't work with `null`.

Nevertheless, it seems that's a requirement for some using Artemis on some backends, and could be fixed. I just don't know what's the best way of doing this.

[2019-12-07 04:58] pd4d10 commented on #59
Found `serializer` param of `HttpLink`, which can be customize.

Code here: https://github.com/gql-dart/gql/blob/38805d34cb240ae5ccc67e3071b0b9d1b08bb4ed/gql_link/lib/src/request_serializer.dart

[code]

[2019-12-07 04:59] pd4d10 commented on #59
I think this could be closed. Thanks!

[2019-12-07 04:59] #59 closed

[2019-12-07 12:28] pd4d10 commented on #18
Faced with this issue +1.

Except generating classes of different name, perhaps another way is to generate a super set of these types. Something like

[code]

But it would lose some type information in this way.

[2019-12-11 15:31] leoiacovini commented on #58
I would just try to use a more specific name than`UNKNOWN` given that this maybe a valid enum value in some cases. Maybe `ARTEMIS_UNKNOWN` or so.

[2019-12-26 15:51] lazylazyllama opened #61 "Allow SDL files (.graphql) as schema files"
If you use the graphql Playground, it is very easy do download the graphql schema as a .graphql file in the SDL format. This format is very clean an nice to use compared to the introspection schema which is annoying to query and so on..

So it would be very nice to support this.

#8 already mentioned something like this

[2019-12-26 18:26] comigor commented on #61
Hey there @lazylazyllama!

Absolutely! I've started the project parsing the `.json` file because it was easier to parse in the code.

[2019-12-29 11:42] klavs commented on #61
@comigor, I'm experimenting with code generation from GraphQL documents in https://github.com/gql-dart/gql/pull/15
It's not yet finished and it will not be compatible with artemis, but feel free to use or steel the code from there.

[2019-12-29 20:45] smkhalsa opened #62 "Make GraphQLQuery JsonSerializable"
I'm creating a GraphQL client that persists mutations when offline and runs them when the client comes back online.

I'd like to request that we make the GraphQLQuery class JsonSerializable so that we can easily persist queries for later use.

[2019-12-31 09:47] pd4d10 opened #63 "Seems not working with GitHub search query"
Thanks for this lib, really amazing!

I'm planning to replace all the GraphQL queries with `artemis` in [my app](https://github.com/pd4d10/git-touch), and have some problems with GitHub search API:

[code]

Seems the generated dart file has several analyzer errors. The schema file could be found [here](https://github.com/pd4d10/git-touch/blob/master/lib/github.schema.json).

[2020-01-02 14:19] comigor commented on #63
Hello again @pd4d10

I'll take a look at it!

[2020-01-02 14:20] comigor commented on #62
Hello @smkhalsa!

That surely seems doable and makes sense!

[2020-01-05 19:57] smkhalsa commented on #62
@comigor awesome! Any ideas on how to implement this? I'm still a novice when it comes to code gen with build_runner.

It seems that the GraphQLQuery class would need to be aware of all the generated subclasses in order to parse them correctly.

[2020-01-06 16:32] comigor commented on #62
You'll probably want to make all generated extensions of `GraphQLQuery` ([like this one](https://github.com/comigor/artemis/blob/master/example/pokemon/lib/graphql/simple_query.dart#L39)) to have a `JsonSerializable` annotation to be able to convert its fields to json.

Looking at it now, the main issue is that [`[DocumentNode]`](https://github.com/comigor/artemis/blob/master/example/pokemon/lib/g

[2020-01-07 18:56] klavs commented on #62
Serializing the AST to a GraphQL string might be a better choice as you would be able to de-serialize / parse it even if the AST makes some incompatible changes

[2020-01-07 19:51] comigor commented on #62
That's perfect, is it possible to serialize it to a String from a DocumentNode? If so, `json_serializable` supports [`fromJson`](https://pub.dev/documentation/json_annotation/latest/json_annotation/JsonKey/fromJson.html) and [`toJson`](https://pub.dev/documentation/json_annotation/latest/json_annotation/JsonKey/toJson.html) options on fields.

[2020-01-07 20:13] klavs commented on #62
Here's what you need: https://pub.dev/documentation/gql/latest/language/language-library.html

[2020-01-09 01:00] smkhalsa commented on #62
@comigor it seems `printNode` & `parseString` referenced by @klavs will work for `DocumentNode`. However, it's still unclear to me how best to handle the `parse` function. We would need the abstract `GraphQLQuery` class to be able parse a JSON object into any of the subclasses (since we won't know which concrete class is stored).

Any ideas?

[2020-01-09 16:45] comigor commented on #62
Hmm, yeah, you won't be able to serialize the function... and not having reflection don't help us at all...

I thought about you creating a custom (serializable) class extending from `GraphQLQuery<JsonSerializable, JsonSerializable>` and create your custom logic to override the `parse` function to return an object based on the `json` argument and the query name of what you're persisting. But even

[2020-01-09 17:15] smkhalsa commented on #62
Can't we just have the generator generate the GraphqQLQuery class and include the mapping you describe above?

For example, we could store the type name as a string in the `toJson` and implement a concrete `parse` method on the `GraphQLQuery` class that maps those strings to the concrete classes.

[code]

I've thought about this, and I may go in that direction eventually (I just haven't dug into c

[2020-01-10 22:35] comigor commented on #62
But how are you going to persist and (more importantly) retrieve those queries? When you deserialize them, you need to have a way of knowing which type it belongs, and then it's best to have a single place where this logic will be present (and not scattered through all generated queries).

Does it make sense? Or I am missing something?

[2020-01-10 23:48] smkhalsa commented on #62
You could generate the abstract `GraphQLQuery` class and include it in the generated result. It would include a `parse` constructor that would map to the respective subclass's `parse` function.

[code]

The parse functions of the subclasses would be ignored when serializing them.

Does that make sense?

[2020-01-12 15:48] smkhalsa commented on #49
@comigor any progress on middleware?

[2020-01-13 13:53] comigor commented on #62
But I disagree the abstract `GraphQLQuery` should have this implementation, that's why I've suggested to create a new Query class, extending `GraphQLQuery`, and to deserialize your saved queries into it.

[2020-01-13 14:03] comigor commented on #49
Sorry, I didn't have time to focus on it yet.

[2020-01-13 16:33] smkhalsa commented on #62
@comigor sure, that makes sense.

For reference, built_value adds a  ["discriminator"](https://github.com/google/built_value.dart/blob/master/example/lib/example.dart#L125) that stores a string reference to the class name when serializing. This allows for deserializing even when you don't know the type.

It may be more than we want to take on at the moment, but we could also just make queries impl

[2020-01-17 14:20] vasilich6107 opened #67 "[feature request] Mark arguments as @required if they have an exclamation mark(non nullable)"
Hi. Thanks for you work.
I'd like to suggest an improvement.

I have a query

[code]

After generation I have corresponding class

[code]

The arguments in constructor are not marked with `@required` annotation but they are definitely required according(marked with exclamation mark `PaginationInput!`) to the schema definition.

Expected result

[code]

This will help to avoid unexpected errors.
Th

[2020-01-19 21:19] comigor commented on #67
Hello @vasilich6107!

I've been planing to add non-nullable support to artemis as soon nnbd lands, but of course parts of it could be done without this wait (as seen, for instance on https://github.com/comigor/artemis/issues/13), hence your PR.

Thanks for taking the step and opening this issue and a PR improving the library!

[2020-01-22 05:01] michael-golfi commented on #41
@smkhalsa I used [graphql-flutter](https://github.com/zino-app/graphql-flutter/tree/master/packages/graphql_flutter#offline-cache)

Getting back into this after the holidays, has there been any movement on this?

[2020-01-22 05:22] michael-golfi opened #71 "Cannot process queries with non-scalar inputs"
It seems like queries with Object inputs can't be processed. I'm getting the following error for the following query:

[code]

[code]

Is there something that would need to be set explicitly for this to work?

[2020-01-22 22:20] #67 closed

[2020-01-23 15:41] nomyzs commented on #63
Great work on the lib! :)
I think Im running into similar issue.
Basically our search query:
[code]

Generates models with analyzer error:

[code]
Model:
[code]

Schema
[code]

Run out of ideas how to fix it. Would appreciate any help

[2020-01-23 15:44] nomyzs commented on #63
Might worth noting that I came across this issue after updating artemis lib to ver >= 2.0.0 that I needed to do after upgrading to latest flutter stable version. Model generation with search was fine on version 1.0.0

[2020-01-23 22:51] comigor commented on #71
Hey @michael-golfi!

It should work, there are some tests to check that. Could you share a minimum reproducible schema with this issue?

[2020-01-24 10:01] KieranLafferty opened #73 "Adding headers to ArtemisClient"
First thanks for such a great project. I'm trying to add an call an Amplify graphql server that requires Cognito authorization as follows:

https://github.com/jonsaw/amazon-cognito-identity-dart/#for-appsyncs-graphql
[code]

Is it possible to pass custom headers to through ArtemisClient so that I can include the appropriate `Authorization` header?

[2020-01-24 13:48] comigor commented on #73
Hey there @KieranLafferty!

It absolutely is! `ArtemisClient` can receive a custom httpClient, with the injected headers. Something like this:

[code]

Feel free to ping me (or reopen this issue) if you have any other question!

[2020-01-24 13:48] #73 closed

[2020-01-29 05:09] 2ZeroSix opened #75 "generate single mixin for fragment"
#52 Issue with shared fragments is partially resolved in this PR: #65

But there is still a problem, new fragment mixin is generated for every query.
So you must use different output files for queries which use the same fragment.
This leading to the next problem: you can't use these mixins as base class for your fields in generated classes.

I hope the most appropriate solution would be to add `fr

[2020-01-29 10:38] KieranLafferty opened #76 "Are subscriptions supported?"
Hey there, tried searching but couldn't find any mention of subscription query types for gql. Wondering if they are currently supported and if not if there is any plan to support them?

thanks!

[2020-02-01 21:40] comigor commented on #76
Hey there @KieranLafferty!

It's currently not supported. Frankly, I've never used subscriptions in GraphQL yet.

But I assume it's possible to stream typed data after transformations from the server (that'd be equal of what I'm currently doing on queries/mutations).

I won't promise I'll look at it soon (I'm working on a refactor of the generator/another middlewares branch), but if you feel energ

[2020-02-02 00:13] KieranLafferty opened #77 "Specify casing for generated Dart class names and properties"
I'm working with a graphql endpoint that has both class names and property names come back in snake_case. This causes issues with Dart linter/compiler since it is expecting class names to be in PascalCase and properties to be in camelCase

Currently functionality generates as

[code]

Ideally it would generate as

[code]

Is there anything I can do to force the casing to generate using dart compat

[2020-02-05 21:18] #58 closed

[2020-02-06 15:16] iscriptology commented on #51
Hey,
it's kinda critical for any relay-spec compliant graphql server to make everything implement Node.

When I write a query asking for the `id` property it fails.

`
query ListUniversities() {
  universities {
    name
    LMSs {
      edges {
        node {
          url
          id
        }
      }
    }
    defaultLang
  }
}
`
it generates everything just fine, but code won't compile with t

[2020-02-06 16:34] comigor commented on #51
Hey there! I have a opened PR restructuring how artemis generates code (and having a greater coverage of tests) and it would probably fix some of those issues: https://github.com/comigor/artemis/pull/79

[2020-02-08 15:08] vasilich6107 commented on #61
I'm starting the implementation of this ticket)
I hope to finish fast. The main idea is to remove the intermediate representation of schema and move to the `gql` ast usage.

[2020-02-08 15:16] comigor commented on #61
Oh nice, looking forward to this!

[2020-02-08 21:14] klavs commented on #61
@vasilich6107 would you mind building it as a separate "introspection json to gql ast" package?

That way the community will be able to use it for their own use cases and Artemis would benefit from community giving feedback and improving your package.

[2020-02-09 23:18] lazylazyllama opened #81 "Automatically get current schema from api endpoint"
If you use the javascript graphql "Apollo", then you don't have do put any schema.json or schema.graphql in your project at all. Apollo automatically gets the current schema just by the url you specify like this:

`
schema: https://schulinfoapp-gql-v4b.apis.cedgetec.com/gql/graphql
`

I think it would be cool to have this in artemis as well.

[2020-02-10 19:42] vasilich6107 commented on #61
@klavs
I do not see any use case from `introspection json -> gql` benefits in real life)
Personally I didn't know about the existence of JSON introspection before using `artemis` package. Could be my bad)

As I mentioned in my previous PR the JSON introspection usage + internal intermediate representation makes hard to support tests. This is the reason why I'm investing in this feature.

[2020-02-14 20:19] vasilich6107 commented on #81
Hi.
Referring to this article https://medium.com/@v.ditsyak/ultimate-toolchain-to-work-with-graphql-in-flutter-13aef79c6484 - having the schema locally will benefit in code completion in your graphql files

[2020-02-14 20:52] comigor commented on #81
Hey @lazylazyllama!

Yeah, that sure would be nice (and we can think of a way of saving it to disk and still benefit from code completion).

My only concern with this is mostly API's would required an authentication mechanism (something easy as header tokens, but most times certs that would require a custom http client).

[2020-02-19 22:08] comigor commented on #77
Hey @KieranLafferty!

Sorry for taking too long to answer back :(

Could you try it on 4.0.0 and see if the error persists?

[2020-02-19 22:10] comigor commented on #75
Hey @2ZeroSix, sorry for taking too long to answer back :(

Hmm, that's a nice approach. I've just refactored this library a bit, and now on 4.0.0 a couple of things changed (but this behaviour didn't).

[2020-02-19 22:10] comigor commented on #77
I'm gonna close this but feel free to reopen if it's the case!

[2020-02-19 22:10] #77 closed

[2020-02-19 22:11] comigor commented on #71
Hey @michael-golfi,

I've recently release 4.0.0 and this was probably fixed among other things!

Feel free to reopen thiss issue if the error still happen after bumping.

[2020-02-19 22:11] #71 closed

[2020-02-19 22:12] comigor commented on #63
Hey @pd4d10,

I've recently release 4.0.0 and this was probably fixed among other things! (I've added a GitHub example to it).

Feel free to reopen thiss issue if the error still happen after bumping.

[2020-02-19 22:12] comigor commented on #51
Hey @micimize,

I've recently release 4.0.0 and this was probably fixed among other things!

Feel free to reopen thiss issue if the error still happen after bumping.

[2020-02-19 22:12] #51 closed

[2020-02-19 22:12] comigor commented on #47
I've recently release 4.0.0 and this was probably fixed among other things!

[2020-02-19 22:12] #47 closed

[2020-02-19 22:13] comigor commented on #32
Hey @amadeu01,

I've recently release 4.0.0 and this was probably fixed among other things!

Feel free to reopen thiss issue if the error still happen after bumping.

[2020-02-19 22:13] #32 closed

[2020-02-19 22:14] comigor commented on #31
Hey @jhattwich,

I've recently release 4.0.0 and this was probably fixed among other things! (And with an working example of GitHub)

Feel free to reopen thiss issue if the error still happen after bumping.

[2020-02-19 22:14] #31 closed

[2020-02-19 22:14] comigor commented on #18
Hey @leoiacovini,

I've recently release 4.0.0 and this was probably fixed among other things! Now artemis will generate all classes with "pathes".

Feel free to reopen thiss issue if the error still happen after bumping.

[2020-02-19 22:14] #18 closed

[2020-02-20 07:35] vasilich6107 commented on #61
#82

[2020-02-20 11:16] vanelizarov commented on #81
Hey @comigor!
Cool that you've added `tool/fetch_schema.dart`, now it's not necessary to fetch schema with npm packages or other non-dart way 🙂
It would be also cool to have this util in `bin` folder as described [here](https://dart.dev/tools/pub/cmd/pub-run#running-a-script-in-a-dependency) to be able to run it through
[code]
or
[code]

Thanks!

[2020-02-21 13:30] comigor commented on #81
Hey @vanelizarov,

That's of course a quick way of doing it, but it doesn't solve the authentication problem I've mentioned before.

Also, we're working on adding SDL support for schemas (https://github.com/comigor/artemis/pull/82) and then we'd need to change this. But feel free to open a PR if you'd like to use this tool right now!

[2020-02-22 05:53] pd4d10 commented on #63
Hi, @comigor , thanks for the fixes!

I've tried the latest v5.0.1 and it seems can't find the schema file.

[code]

Reproduce repo: https://github.com/pd4d10/git-touch

[2020-02-22 11:24] #61 closed

[2020-02-22 12:22] lazylazyllama commented on #50
I have a similar issue since artemis 4 or 5... in 3.1 everything was working fine, but in version 5.0.1 i get this error:

<details>
<summary>Log output</summary>
[code]
</details>

<details>
<summary>SDL Schema</summary>
[code]

</details>

[2020-02-22 16:53] comigor commented on #50
Hey @lazylazyllama, is that your complete `schema.graphql` file? It's missing the `schema` definition, which defines the query root object: http://spec.graphql.org/June2018/#sec-Root-Operation-Types

[2020-02-22 16:57] comigor commented on #63
Oh! In 5.0.0 we did another breaking change: to start using SDL formatted schema instead of the introspection query schema: https://github.com/comigor/artemis/blob/master/CHANGELOG.md#500

I forgot to update the examples, and I'll do it right away!

By the way, sorry for making those breaking changes, but they were good to keep the code more maintainable and easier to understand.

[2020-02-22 17:06] danielmahon commented on #50
@comigor Having the same issue using https://github.com/Urigo/graphql-cli to download the schema first, if you download as `.graphql` it does not include the root schema definition.

[2020-02-22 17:12] comigor commented on #50
Uhh, I get, reading the docs again, there's a default name for those root types (`Query`, `Mutation` and `Subscription`) if the schema definition is omitted. I'll fix this!

[2020-02-22 17:18] danielmahon commented on #50
@comigor @lazylazyllama  Using the `graphql-codegen` cli @ https://graphql-code-generator.com/ instead and with the following plugin and config it seems to work and does include the root schema with `includeDirectives: true`.

codegen.yml
[code]

[2020-02-22 17:36] #50 closed

[2020-02-22 17:36] comigor commented on #50
Oh, sorry for auto-closing this, but please reopen if the issue persists.

[2020-02-22 18:07] comigor commented on #63
Oh, I get you, there's some parsing error on `gql`: I've opened an issue there and will try to investigate in the meanwhile if I got some time

https://github.com/gql-dart/gql/issues/65

[2020-02-22 22:57] lazylazyllama opened #91 "BUG: Two classes were generated with the same name ... but its only one query..."
My code was working in Artemis 3 but since version 4 I get this error:

<details>
<summary>Show error message:</summary>

[code]
</details>

<details>
<summary>build.yaml</summary>

[code]
</details>

<details>
<summary>schema.graphql</summary>

[code]
</details>

<details>
<summary>moduleDataSubst.query.graphql</summary>

[code]
</details>

Why isn't it working? There are 3 places where I use the

[2020-02-23 00:47] comigor commented on #91
Hey @lazylazyllama!

Not really, as you could select a different set of fields each time `EntryTimeEntity` is used.

Artemis 4 started to generate pathed class names, so this error shouldn't happen. I'll take a look.

[2020-02-23 01:19] comigor commented on #91
@lazylazyllama So, your query is a corner case when generating the pathed names from types: to "fix" this you'd have to alias at least one of the fields, for example:
[code]

We're discussing naming enhancements on this PR (to have a flag to not generate pathed names, remove pathes from enums/input types): https://github.com/comigor/artemis/pull/90. Feel free to give your 2 cents there!

[2020-02-23 01:19] #91 closed

[2020-02-23 19:26] danielmahon opened #93 "Error: Input types generated twice?"
I get the following Exception when trying to use an `input type` from my downloaded schema... what am I missing? Thanks!

[code]

lib/graphql/queries.graphql
[code]

lib/graphql/schema.g.graphql (partial):
[code]

build.yaml
[code]

[2020-02-24 00:45] comigor commented on #63
@pd4d10 Examples ere fixed on https://github.com/comigor/artemis/pull/92

But I've discovered some old (pre 2018) SDL converters generate unparseable schemas.

[2020-02-24 00:46] #63 closed

[2020-02-24 05:26] pd4d10 commented on #63
Hi, @comigor , I've tried v5.0.3 and the schema not found problem has been solved. Great work!

There seems to be another issue if the two queries at the same level belong to the same type. For example:

[code]

The `defaultBranchRef` and `ref` has the same type `Ref`. If we add an alias before one of them then it would be OK.

[2020-02-24 05:29] comigor commented on #91
I'll concentrate this problem on
https://github.com/comigor/artemis/issues/93
and
https://github.com/comigor/artemis/pull/90

[2020-02-24 05:30] comigor commented on #63
Yes, I know!
I'm concentrating this problem on issue https://github.com/comigor/artemis/issues/93 and PR https://github.com/comigor/artemis/pull/90

[2020-02-24 05:34] comigor commented on #93
Hello again @danielmahon!

Yeah, I've discovered this pathed naming approach has corner cases. If the path to the same object forks, but use the same classes on both forks, it'll be unable to generate two (or more) classes with the same name. So, in this case, you'd have to use aliases.

One approach to solve this would be change the pathes of the names of each field instead of the names of the ty

[2020-02-24 06:55] pd4d10 commented on #63
Get it. Thanks!

Found another issue and post it here:

[code]

[2020-02-24 15:51] comigor commented on #63
By the way, sorry for having those changes recently, I'm working to clear and fix up everything!

[2020-02-27 18:59] vasilich6107 commented on #93
We have published a draft proposal on resolving the `long naming issue` under #90 PR

[2020-02-29 13:10] Theo6890 opened #97 "How to resolve interface?"
Hello,

I did not find any example with the artemis package on how to use the **type_name_field** argument in the build.yaml to resolve interface.
Does anyone have an idea on how to do it?

Thanks in advance.

[2020-02-29 16:22] comigor commented on #97
Hello @Theo6890!

*type_name_field* is a configuration option to set which field will be used to resolve GraphQL types. By  default, its value is "__typename",  which is the default field GraphQL servers should use to resolve, as defined in the spec. Some servers, however, use "__resolveType" as this field name, and you should configure it accordingly to your server.

Aside from that, both [graphb

[2020-03-02 09:36] Theo6890 commented on #97
I understood that the default value of GraphQL type_name_field can be either "__typename" or "__resolveType" but the thing is I have tried with both and it does not change anything I still can not resolve the interface to generate dart files.

I never use explicitly "__typename" or "__resolveType" in my .graphql files because I do not need it. In fact, on the server side I only use :

- For GraphQ

[2020-03-02 14:14] comigor opened #98 "Automatic insertion of __typename field to unions/interfaces selection set"
Artemis needs the value of `__typename` field of union types and interfaces to be able to differentiate the object type when resolving those types. This means the user must add the type name field (tipically `__typename`) to the union type/interfaces they're querying.

Ideally, Artemis could automatically add this field to the query, avoiding this hassle.

[2020-03-02 14:15] comigor commented on #97
Maybe you don't need it directly, but any GraphQL client does need it to check which type of implementation of interface it falls for. Automatically inclusion of `__typename` field is something doable, but not implemented right now. I've created a card for that: https://github.com/comigor/artemis/issues/98

The fact that you don't have to explicit set __typename on the server is becaùse the very l

[2020-03-02 14:15] #97 closed

[2020-03-02 15:00] lazylazyllama opened #99 "[Artemis 6.0.0] Two classes were generated with the same name `DocumentDataType`! -- which is an enum..."
Error:
[code]

Queries:
[code]

DocumentDataType gql schema:
[code]

build.yaml:
[code]

I use Artemis 6.0

Why do I get this error? Shouldn't Enums always be the same? Meaning that you can just use the same enum class on both queries?

Changing `naming_scheme` to `pathedWithFields` makes no difference.

[2020-03-02 15:35] comigor commented on #99
Yes, from 6.0+ (beta) Enums should always be the same!

I'll try to use your example to fix this issue!

[2020-03-02 15:38] lazylazyllama opened #100 "[Artemis 6.0.0] Two classes were generated with the same name `EntryTimeEntityMixin`"
Error:
[code]

fragments_glob.fragment.qraphql:
[code]

query_1.query.graphql:
[code]

query_2.query.graphql:
[code]

build.yaml:
[code]

I use Artemis 6.0

I'm using the fragment `EntryTimeEntity` on 2 different queries. Why is this a problem?

<details>
<summary>Complete schema.graphql</summary>

[code]
</details>

[2020-03-02 15:43] lazylazyllama commented on #99
Thank you. To make it a bit more easy for you, here is my complete schema.

<details>
<summary>schema.graphql</summary>

[code]
</details>

[2020-03-03 13:07] comigor commented on #99
This helps a lot, thanks!

[2020-03-03 18:40] vasilich6107 commented on #93
@danielmahon could you check if bug still present in 6.x.x-beta version?
Do not forget to switch `naming_scheme` to `pathedWithFields`

[2020-03-04 18:40] vasilich6107 commented on #99
Hi @lazylazyllama  - I can suggest you a temp fix, As far as I have a lot of work at the beginning of the project
It filters the duplicates at the last point. So there will be no duplicates at all)

[code]

[2020-03-04 19:29] comigor commented on #99
Another way to circumvent this issue is temporarily have only one query on each file, but each of the generated files would still have the same enum.

[2020-03-04 19:36] vasilich6107 commented on #99
Take a note that the @comigor’s solution could lead the entities import mess nevertheless it’s also valid) Who knows what surprises are hidden behind my solution...

[2020-03-04 19:47] comigor commented on #99
That should not be considered a solution, but just a way to temporarily make things work 😂

I'd like to discuss better how to gracefully generate the canonical classes (enums, input objects and fragments) in a non-duplicated and shareable way.

[2020-03-04 20:38] lazylazyllama commented on #99
Thank you a lot for your ideas how to fix it temporarily. I really appreciate that.

But it's all fine. I'm not in a rush or something. I have a lot of other things to do. So I'm totally fine if it will be fixed in the upcoming weeks.

:)

[2020-03-09 19:03] danielmahon commented on #93
@vasilich6107 Looks like bug is still present, think its the same problem as #99

[2020-03-09 19:23] vasilich6107 commented on #93
Could you temporarily refer to this fix?https://github.com/comigor/artemis/issues/99#issuecomment-594739281

[2020-03-09 22:45] danielmahon commented on #93
@vasilich6107 That seems to work! Though I haven't fully tested yet.

[2020-03-11 09:37] iscriptology opened #104 "[Feature Request] Generate types from @gql annotations"
In relay, one of the strength points is that queries and fragments can be written along side the widgets using them.

We had a discussion regarding this [here](https://github.com/gql-dart/ferry/issues/3).

For example:
[code]

I also have been able to make vscode to auto-complete me inside the annotation's query.

![](https://camo.githubusercontent.com/c99dbdb5fafa4e4bc25d73cbfd19bc3bbffa47eb/6874

[2020-03-11 14:06] vasilich6107 opened #105 "fragments glob for two separated files - bad state no element"
If I create the `common.graphql` for fragments and refer from two different files to the fragments from `common.graphql` i'll get the next error - https://tppr.me/X9tyQ

I'll try to fix this this and cover with tests)

[2020-03-11 14:12] comigor commented on #104
Hello @iscriptology!

This seems a nice usage of GraphQL through a Flutter app! I like to use it on relay as well (though one downside is queries end up scattered across the repository and this makes me mad).

However, Artemis is a pure Dart library, and this wouldn't be its responsability to handle: it'd be nice to have a new GraphQL client library that leverages both Artemis type generation and

[2020-03-11 14:12] vasilich6107 commented on #105
Got the test https://tppr.me/YVjqr

[2020-03-11 14:45] iscriptology commented on #104
@comigor thanks for the reply.

Even though a specific graphql client adjusted for this use case would be nice, it still is fully backward compatible to just source the graphql queries from the `gql` annotations in addition to the `.graphql` files.

This can be done here at artemis regardless of any client being implemented.

What do you think?

[2020-03-11 18:15] vasilich6107 commented on #105
it seems that this bug relates only to my dirty fix branch

[2020-03-11 19:16] comigor commented on #104
Absolutely! We just need to keep configurations working and share fragments/enums/input types correctly.

But to be honest, this implementation is not a priority right now, but I'll gladly assist you if you want to start it!

[2020-03-11 19:41] comigor commented on #105
Oh, have you had any luck? Still hadn't time to do anything on Artemis those last weeks :(

[2020-03-11 20:22] vasilich6107 commented on #105
It was just a bug in my `ditrty/dedup-fix`
I applied additional updates to improve this)
https://github.com/comigor/artemis/commit/0ce4dddbbc46ed1d9304d0a83b7a655b47aa75aa

Sorry for disturbing.

[2020-03-11 20:22] #105 closed

[2020-03-18 00:02] SwannLV commented on #99
Hi, just to say that I have the same issue. Thank you very much :)

[2020-03-22 18:33] lazylazyllama opened #107 "Automatically generate dart file for each query.qraphql"
It would be nice if the plugin could automatically generate a dart file for each query.graphql file.

Also it should generate a types.dart which contains all shared types like enums.

This would make it more easy for me to work with the "simple" naming_scheme configuration.

[2020-03-24 09:15] agent3bood opened #108 "Complex input will generate wrong argument type"
I have tried to generate the error using the pokemon example from the this repo.
the schema:
https://github.com/agent3bood/artemis/blob/master/example/pokemon/pokemon.schema.graphql#L96
the query:
https://github.com/agent3bood/artemis/blob/master/example/pokemon/graphql/complex_query.query.graphql
the generated input type is wrong:
https://github.com/agent3bood/artemis/blob/master/example/pokemon/

[2020-03-24 12:11] vasilich6107 opened #109 "Add copyWith methods generation to objects"
As far as dart passes objects by reference it would be great to have a 'copyWith' extension for the data classes with something like this

https://github.com/numen31337/copy_with_extension

docs
https://www.oleksandrkirichenko.com/blog/dart-extensions/

[2020-03-25 08:26] agent3bood commented on #76
First of all thanks for this amazing lib, it is making things mush more fun to work with.

I have been using this package in a new project and I am using subscriptions,
I have few point that might help.
1. The helper classes will NOT get generated when I have `subscription`  operation.
2. To make it work I use `query` in my `user.graphql` file and then change the `type` property on `OperationDefin

[2020-03-30 14:26] grihlo commented on #99
Same here! Thank you for your work, it makes using GraphQL such a pleasure! 🚀

[2020-04-01 15:16] MattisBrizard opened #110 "Ignore analyzer rules on generated files"
Hi,

Generated files are not following some analyzer rules (ex: public_member_api_docs), would it be possible to add an `//ignore_for_file: ..` with rules ?

Or even better, as possible with json_serializable (coming from source_gen: https://pub.dev/packages/source_gen#configuring-combining_builder-ignore_for_file) a way to specify in bulid.yaml; some rules to ignore in generated files.

[code]

T

[2020-04-01 18:11] comigor commented on #110
Hey @MattisBrizard!

Absolutely, that seems important (and thinking about it, has bugged me already in some projects).

Thanks, I'll consider this in the future!

[2020-04-03 15:03] lazylazyllama opened #111 "Generate queries on usage"
For javascript there is a module called gqless: https://gqless.dev/

It basically generates all your queries etc. based on how you use them in your code. So you don't need any .query.graqhql files anymore and you also don't need to update them because you need a new property in your request somewhere within your app.

But you still get auto completion because gqless uses the schema.graphl file to

[2020-04-03 16:13] comigor commented on #111
Wow, that seems amazing!

I have not used it, but it seems this integration is deeper and closer to Flutter than on Artemis itself (or any  Dart-only package). I think there could be another package which does that, using Artemis to generate the needed typings.

The schema could be parsed and Artemis would be used to generate temporary typings of the whole schema and later have another generator t

[2020-04-04 15:07] vasilich6107 commented on #109
I just realized that ` SomeCalss.fromJson(someClass.toJson())` could be some kind of a trick to make a copy)

[2020-04-04 18:42] comigor commented on #109
But you'd have to serialize and deserialize it again. `copyWith` would be more performatic.

[2020-04-09 00:58] michael-golfi commented on #71
Thank you so much!!
And sorry about the delay in response

[2020-04-09 18:36] emme1444 opened #112 "Enum type names have funky names"
I have the following `mutation` written in a file that is built by `artemis`:
[code]

AuthProvider is an enum, and works perfectly in, say, the GraphQL Playground. However, the artemis generated output does not contain this enum type. I get an error in the output, for the variable arguments of the mutation that tells me the class is undefined.

[code]

Here is my `build.yaml`:
[code]

[2020-04-10 01:48] michael-golfi opened #113 "Recursive inputs fail"
Hi!

Thanks again for all the great work!
I was just trying to generate the query files and tried against a query with recursive input:

<details>

[code]
</details>

It keeps going and fails at some point. My schema has recursive inputs:

[code]

[2020-04-12 16:58] comigor commented on #113
Hello again @michael-golfi!

Well, that's something I've never considered to happen. But given the nature of code generation (based on the query) it'll definitely lead to an inifinite looping there.

I think we could only solve this if we started to join generated classes by name/fields hash, as suggested on some previous discussions.

I'll keep that in mind for the future, but sadly I don't have

[2020-04-12 17:05] comigor commented on #112
Hello @emme1444, how are you doing?

I feel that this is working on latest versions of Artemis, there's a [test case with the exact situation](https://github.com/comigor/artemis/blob/beta/test/query_generator/enums/input_enum_test.dart).

What Artemis version are you using? If you're not on `beta`, could you try it?

[2020-04-12 17:46] michael-golfi commented on #113
Ok thanks!

Just a heads up, AWS Amplify generates GraphQL that has recursive inputs. My schema came from AWS Amplify

[2020-04-12 19:05] comigor commented on #113
I can imagine it's an used pattern (and it would work for query responses, but not for input objects as of now).

[2020-04-13 09:47] emme1444 commented on #112
Hi @comigor!

You're right, not being totally familiar with semantic versioning and it's ranges, I realised I was on a totally outdated version on the package. (`^2.1.4`)

However, since upgrading (`^5.1.0`), I'm getting errors caused by the schema file I've supplied to artemis. Has the ability of using a `json` format been removed? And if so how can I convert the `json` structured format I'm gett

[2020-04-13 13:52] emme1444 commented on #112
I got it working with an `npm` package to convert the `json` formatted introspection query to SDL. Still looking for a better alternative though.

However, the name of the enum is kind of funky. Is this intentional? It's name comes out as a combination of the operation name / class name and the enum name itself, joined by a dollar `$` sign. Are there any plans to change this, or is this a bug?

[2020-04-13 14:45] comigor commented on #112
Yeah, so much have changed since 2.1.4 (as you've just discovered, we know parse the schema from the SDL instead of introspection query), among other things.

About the naming, I'd suggest you to try the [beta branch](https://pub.dev/packages/artemis/versions/6.0.3-beta.1#-installing-tab-) because specifically this enum  naming stuff is handled there.

Also, about the `$` stuff: it is done to prev

[2020-04-13 14:45] #112 closed

[2020-04-13 15:45] SwannLV opened #114 "Fragment calling another fragment"
**Bug description**
My query uses a fragment. This fragment also uses another fragment.
When I generate the types, I can see both fragments mixins, but the second one is not used anywhere.

So when I try to use generated types to parse my json, properties from second mixin are not available.

Thank you very much :)

**Specs**
Artemis version: 6.0.2-beta.1

[2020-04-13 17:15] comigor commented on #114
Hey there @SwannLV!

Could you point to a schema/query example so I can debug further? There's a [test case with exactly this behavior](https://github.com/comigor/artemis/blob/beta/test/query_generator/fragments/fragment_on_fragments_test.dart) and it's working on latest beta version!

[2020-04-13 18:54] SwannLV commented on #114
Hello!

This test is a great base for me to explain.
Fragment spread on another fragment is working.
But what is not working is when I do:
`final pokemon = Query$Query$Pokemon.fromJson(myJson);`

`pokemon.id` will be defined, but not `pokemon.name` nor `pokemon.number` (from `PokemonPartsMixin`)

=> `PokemonPartsMixin` is used nowhere in thee generated code, I would believe that `PokemonPartsMixin

[2020-04-13 20:18] comigor commented on #114
Oh, you're absolutely right! I'll take a look at it!

[2020-04-13 20:53] SwannLV commented on #114
Great! It will help me a lot! Thanks

[2020-04-13 21:46] comigor commented on #114
@SwannLV Could you try again with `6.0.4-beta.1` as soon it's released? https://github.com/comigor/artemis/pull/115

[2020-04-13 22:35] SwannLV commented on #114
Tested. This is perfect, thanks!

[2020-04-13 22:47] #114 closed

[2020-04-14 01:43] TarekkMA opened #116 "Change variable name if it start with underscore."
**Bug description**
Fields starting with underscore cause issues since dart can't have private named parameters.

In the mutation/query I can alias field name to avoid the problem with fields starting with underscore. But in the input I can't do the same.

I think this issue can be solved by checking for underscore in the field name and using ``@JsonKey(name:"noUnderScoreName")`` to mitigate the i

[2020-04-14 16:06] comigor commented on #116
Hello @TarekkMA!

Thanks for reporting this! It's related to https://github.com/comigor/artemis/issues/41 (in a time we were filtering out fields starting with double underscores).

[2020-04-14 23:06] comigor commented on #76
@agent3bood sorry man, I lost your comment.

I think it should be easy to implement the generator for subscriptions, with probably just some tweaks. I'll see if I can take a look at it soon.

[2020-04-14 23:12] comigor commented on #75
Hey @2ZeroSix,

Could you test `fragments_glob` on [beta branch](https://github.com/comigor/artemis/tree/beta) to see if it would be enough for this?

Feel free to reopen this issue if it's not!

[2020-04-14 23:12] #75 closed

[2020-04-15 05:55] vasilich6107 commented on #99
Created new branch from latest beta release with dedup fix - `temp/dedup-fix-on-beta`

[2020-04-15 11:40] agent3bood commented on #76
@comigor thanks for the response, the generator is easy fix, but this library has a client also.
Does it support subscriptions?
I am using the [graphql_flutter](https://pub.dev/packages/graphql_flutter) library for the client code and subscriptions are supported.

[2020-04-20 15:13] vasilich6107 opened #118 "Upload spec support"
See #117 for details.

[2020-04-21 15:47] comigor commented on #76
@agent3bood Not at the moment, but I'm fairly sure [gql's Link](https://github.com/gql-dart/gql/tree/master/gql_link) support Streams, and it could be adapted to Artemis!

[2020-04-22 12:48] SwannLV opened #119 "Hide multiple warnings ?"
**Bug description**
Hello!

Quick question: Would it be possible for me to hide those multiple warnings when running `build_runner` ?

Thanks  !
[code]
**Specs**
Artemis version: [e.g. 6.0.3-beta.1]

[2020-04-22 19:23] comigor opened #120 "Custom scalars coercers are not being considered on input objects"
**Bug description**
Custom scalars coercers are not being considered on input objects.

**Specs**
Artemis version: 6.0.4-beta.1

[2020-04-22 20:15] lazylazyllama opened #122 "Feature Request: Make enum casing configurable"
Right now the enums generated by artemis are all like this: "ENUM_EXAMLE"

Im not sure if this is because of what my api is sending artemis or if artemis generally makes enums look like this. But it doesn't matter after all.

There is a package called: https://pub.dev/packages/recase

With this it could be made configurable which style enums should have.

In dart by default enums are "camelcase" .

[2020-04-22 20:51] comigor commented on #119
Hey @SwannLV!

Hmm, no, currently it's not possible to turn it off, but I agree they should appear only when running `pub run build_runner build` with `--verbose` flag!

[2020-04-22 20:55] comigor commented on #122
Hello again @lazylazyllama!

Actually Artemis won't do any case conversion to enums, so the "default" is `SCREAMING_SNAKE_CASE` because that's the GraphQL default (if your GraphQL server returned it as `camelCase`, it would be generated as so).

But since effective dart points the usage of `camelCase` as default for enums (as seen on https://dart-lang.github.io/linter/lints/constant_identifier_nam

[2020-04-25 20:45] klavs commented on #76
FYI, here's a tracking issue for WebSocket Link implementation in `gql`. https://github.com/gql-dart/gql/issues/76

The initial plan is to borrow it from `package:graphql` (https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/link/web_socket/link_web_socket.dart).

Contributions are welcome. More gql Links mean more power to Artemis. :muscle:

[2020-05-03 13:17] vasilich6107 commented on #116
@comigor
Hi. I have some time to work on Artemis next week.
I can implement transformations from '_variable' to '$variable' if I understood correctly the approach suggested in https://github.com/comigor/artemis/issues/41#issuecomment-541447271

[2020-05-03 13:20] vasilich6107 commented on #116
In scrope of this I would like to cover the issue when variable is called like the Dart keyword.
Here is a list https://dart.dev/guides/language/language-tour#keywords

I have an example of this edge case in enum on previous project

[code]

[2020-05-03 13:25] vasilich6107 commented on #116
To sum up:

All items that start with underscore will be replaced by `$`

`_variable` => `$variable'
`__typename` => `$$typename'

All items matching the Dart keywords will be prepended with `$`

`new` => `$new`
`factory` => `$factory`

If you agree with this approach I'll implement it.

[2020-05-03 13:31] vasilich6107 commented on #99
@comigor
Hi. I have some time to work on Artemis next week and I would like to address this issue.

I propose the next approach - generate all canonical(enums, fragments, inputs) types which referred from the queries to the separate file. So on the step of generating the query types we will generate only with query dependent names and refer to the canonical ones through the import of canonical fil

[2020-05-03 13:41] vasilich6107 commented on #118
I closed the PR cause the file upload spec is not a part of graphql spec and could be implemented in a slightly different way depending on the actual backend.

If you are working with backend based on https://github.com/jaydenseric/graphql-multipart-request-spec here is a solution that works for me.

Define a custom serializer

[code]

Update `scalar_maping` section in your `build.yaml`

[code]

I

[2020-05-03 13:45] vasilich6107 commented on #118
After all of that changes you are getting slightly invalid JSON obviously as far as it contains the `MultipartFile` object. I assume this could be acceptable as far as you will not use input classes to encode/decode on the regular basis. The approach I described works perfectly for my case.

If it is not what you need post you own solutions/comments in this issue.

If this is not what you n

[2020-05-03 16:15] Diligas-a opened #123 "Examples in repo not working"
Pull repo -> delete older generated files -> pub run build_runner build
`Exception: Schema `github.schema.graphql` was not found or doesn't have a proper format!
Make sure the file exists and you've typed it correctly on build.yaml.
Bad state: No element`
![image](https://user-images.githubusercontent.com/18558839/80919408-7364de80-8d72-11ea-83fb-29acc933ee6b.png)

[2020-05-03 18:01] vasilich6107 commented on #123
You can check this one until we fix them
https://github.com/artflutter/graphql_toolchain

[2020-05-04 00:47] comigor commented on #116
@vasilich6107 that seems the way to go!

[2020-05-04 00:56] comigor commented on #99
Yes, that's the way I'm thinking of doing: having a top-level configuration of schema and canonical pathes, somewhat like this:
[code]

[2020-05-04 00:59] comigor commented on #123
Hey @Diligas-a, how are you doing?

The Github example [won't work by default](https://github.com/comigor/artemis/tree/beta/example#github), as the Github schema file is too big (around 3MB), and I didn't want to commit it on the repository. If you provide your own on the espected path, it should compile. Refer to https://github.com/octokit/graphql-schema on how to get the schema.

And feel free t

[2020-05-04 00:59] #123 closed

[2020-05-04 02:56] onemanstartup commented on #99
I'm trying last beta and I have this error when I have multiple queries or mutations in one file. If create one file for each query or mutation it's working fine. Does it matter? It's not supported?

[2020-05-04 12:56] comigor commented on #99
@onemanstartup It can be that both queries refer to the same GraphQL type and them both would generate Dart classes with the same name, which's considered an error, because each one of them could have different set of fields.

[2020-05-05 02:03] FickleLife opened #125 "Unknown definition type 'createdAt' (timestamptz)"
I am trying to generate classes from an hasura GQL endpoint, schema generated by graphqurl. I am getting an error:

[code]

assuming I would need to do a custom mapping as timestamptz is a postgres thing, my build.yaml looks like this:

[code]

the schema in /lib/graphql/schema.graphql is https://paste.ubuntu.com/p/Mpw5wHMVWN/

Any ideas how I can get timestamptz to map?

[2020-05-05 03:12] FickleLife commented on #125
I have had a closer look a the custom scalar parsers. My build.yaml looks like

[code]

artemis_timeconvert.dart looks like:

[code]
but I am still getting the same error....

[2020-05-05 04:47] vasilich6107 commented on #119
@SwannLV check 6.0.6-beta.1

[2020-05-05 04:52] vasilich6107 commented on #99
@comigor
I'll split the implementation on two parts.
- first PR I'll fix deduplication
- second PR I'll implement new `yaml` syntax

[2020-05-05 05:01] vasilich6107 commented on #99
Can we have additional `output: lib/models/graphql` config option(at the same level as `canonical_output`) to specify common folder for all outputs?

Example: if developer do not want to bother with juggling the output between folders he can specify a single `output` folder where all the generated data will be stored?

[2020-05-05 05:58] vasilich6107 commented on #99
I would also like to discuss a drop of `naming_scheme` support and make `pathedWithFields` a default one.

As far as we saw previously `simple` and `pathedWithTypes` will cause duplications in a long run.

What do you think?

[2020-05-05 06:55] SwannLV opened #126 "type 'ListTypeNode' is not a subtype of type 'NamedTypeNode' in type cast"
Hello!

I have this error when building: ` type 'ListTypeNode' is not a subtype of type 'NamedTypeNode' in type cast`

This is caused by this field in my schema.gql:
`myField: [[ID]]`

Thank you 🙏🙂

[2020-05-05 07:13] stanojevicboban opened #127 "Custom data types in queries and mutations"
Hi, I've been enjoying this tool and it's working great in retrieving data from the server.

However, I've noticed that when I have a complex query, like the one below, there are custom data types being used:

[code]
In the case above, we have `OrderByEnum` which is enumeration, but the generated code looks like:
[code]

Since OrderByEnum isn't defined anywhere, I need to declare it. And since the

[2020-05-05 07:57] SwannLV commented on #119
It works perfectly. Thanks!
[code]

[2020-05-05 07:58] vasilich6107 commented on #119
Thanks for the feedback.
Closing the issue.

[2020-05-05 07:58] #119 closed

[2020-05-05 07:58] SwannLV commented on #119
--verbose does not show warnings?

[2020-05-05 08:04] vasilich6107 commented on #127
Could you create a sample reproduction repo?
The enum types that exists in schema should be generated correctly

[2020-05-05 08:08] stanojevicboban commented on #127
I can't put the code, since it's not my own personal, but the code snippet from schema.json looks like this, not sure if that is helpful:
[code]

[2020-05-05 08:24] vasilich6107 commented on #119
Verbose flag is a shortcut to “verbosity=all”
It shows all levels of logs.

Former Artemis warnings was move to log level “fine”, the same as “json_serializer” behaves

[2020-05-05 08:25] vasilich6107 commented on #127
What version of Artemis are you using?

[2020-05-05 08:28] vasilich6107 commented on #119
Previously they were warnings cause default “print” is displayed as warning.
Technically those are not warnings but additional logging info)

[2020-05-05 09:30] vasilich6107 commented on #126
Could you provide complete shema sample and your query?

[2020-05-05 09:33] vasilich6107 commented on #125
I did not succeed in `use_custom_parser: true`

Here is a sample of `scalar_mapping`  that works for me

[code]

[2020-05-05 10:12] stanojevicboban commented on #127
Currently using 2.1.4. Now this is where things become even more difficult with me.

I have schema defined in the schema.json file (make not that it is not a dart file).

So with the 2.1.4. the following:

[code]
works just fine and it generates types correctly, but it doesn't work with enum types.

But, I see that 5.1.0 is the latest version, but using that version, it no longer accepts my json f

[2020-05-05 10:29] vasilich6107 commented on #127
You can always request SDL schema from your graphql endpoint and easily move to 6.0.6 beta

There is no reason to use v2, there were a lot of bugs fixed recently

[2020-05-05 10:30] stanojevicboban commented on #127
Okay, lots of debugging later, and I believe I have fixed this.

Updating to the latest version, and then converting my schema.json to schema.graphql (using perhaps this one: https://www.npmjs.com/package/graphql-json-to-sdl) helped a lot.

I am closing this one and thanking @vasilich6107 a lot for his help.

I do have another bug (recursive error during code generation) that I will have to look f

[2020-05-05 10:30] #127 closed

[2020-05-05 10:37] vasilich6107 commented on #127
You can use
https://plugins.jetbrains.com/plugin/8097-js-graphql

For fetching SDL schema from GraphQL endpoint. In addition you’ll get queries code completion.

For VSCode there is something like this

https://marketplace.visualstudio.com/items?itemName=kumar-harsh.graphql-for-vscode

[2020-05-05 10:43] stanojevicboban commented on #113
Hi all! I was trying to find these other discussions in the Open and Closed issue list, but I was unable to find it.

Any chance you could point me in the right direction in order to understand how to overcome this issue?

[2020-05-05 11:46] SwannLV commented on #126
Sure: [build-error.zip](https://github.com/comigor/artemis/files/4580466/build-error.zip)

'myField' is the problem.

- schema.gql:
[code]

- query.gql :
[code]

- build.yaml:
[code]

[2020-05-05 11:51] FickleLife commented on #125
Thanks for the reply @vasilich6107 - I've checked a few things...

I've adjusted my build.yaml to reflect yours, checked the schema and can see `scalar timestamptz` and also the definition seems to be correct -

[code]
Same error unfortunately. Have tried searching the Artemis source for the error message "Unknown definition type" but can't find it... Do you know of any other way to debug to under

[2020-05-05 12:01] SwannLV opened #128 "'dart(invalid_override)' when merging a fragment of a type already used inside the query"
I have an **invalid_override** error in my generated file when I use the fragments like in this sample:
 [merge fragment error.zip](https://github.com/comigor/artemis/files/4580558/merge.fragment.error.zip)

Error is :
`'MyQuery$Query$Country.items=' ('void Function(MyQuery$Query$Country$Items)') isn't a valid override of 'CountryMixin.items=' ('void Function(CountryMixin$Items)').dart(invalid_ove

[2020-05-05 12:02] SwannLV commented on #128
[code]

[2020-05-05 12:17] vasilich6107 commented on #125
What artemis version are you using?

[2020-05-05 12:18] FickleLife commented on #125
artemis: ^5.1.0

[2020-05-05 12:21] vasilich6107 commented on #125
Try 6.0.6 beta

[2020-05-05 12:22] comigor commented on #99
@vasilich6107 I'm all-in with all of those!

Only about the `output` field, maybe I would call it something like `relative_to`? (as it's a optional output folder configuration, and the query outputs will be relative to it?)

[2020-05-05 12:27] FickleLife commented on #125
just upgraded to `artemis: ^6.0.6-beta.1`, same issue unfortunately (ran `flutter clean` beforehand)

[2020-05-05 12:33] comigor commented on #113
@stanojevicboban
Sadly that's a problem we didn't solve yet, though I'm pretty sure after the work of @vasilich6107 on canonical types (https://github.com/comigor/artemis/issues/100) we can definitely put a circuit break for this not to enter in loop!

[2020-05-05 12:35] comigor commented on #126
Hmm, I don't think we have a test for `List<List<Scalar>>` inputs, I'll take a look!

[2020-05-05 12:50] comigor commented on #125
Hey @FickleLife!
Well, though this schema seems a little "strange" (the variables capitalization don't comply with GraphQL spec), I see no reason why they wouldn't work. I'll take a look.

[2020-05-05 17:57] vasilich6107 commented on #99
Makes sense.
I will leave `output/relative_to` to think about when I get to the `yaml` adjustments.

[2020-05-05 23:11] comigor commented on #125
So, @FickleLife!

Weird as it seems, the error happens because you have some "blank comments" (lines with only `#` followed by line terminator) on your schema.graphql file 😂

If you remove them, Artemis will probably work!

I've opened an issue on the relevant parser repository (https://github.com/gql-dart/gql/issues/99) and will try to fix it by myself, bumping Artemis after that.

[2020-05-06 03:49] FickleLife commented on #125
Right, yes very weird! I'll strip or add comments and work around for now.

Thanks so much for taking the time to look at it.

[2020-05-06 08:02] stanojevicboban commented on #113
@comigor I'd like to leave this issue open since no fix currently exists. Once the solution is part of the build, we could announce it here as well.

[2020-05-06 21:01] klavs commented on #76
FYI, an alpha version of a Websocket Link has been published. https://pub.dev/packages/gql_websocket_link

Feel free to try it out and report any issues at https://github.com/gql-dart/gql/issues.

[2020-05-06 23:16] SwannLV commented on #128
This one is the most important of my requests by far, my code is a mess without it 🙂
Thank you very much 🙏

[2020-05-06 23:17] FickleLife commented on #125
Hi @comigor, there were three empty comment blocks which I have removed (new schema: https://paste.ubuntu.com/p/4Gh6yyCFB4/  ), and am now getting:
[code]

I've googled around and at the risk of not starting another thread, any ideas what could be up? The build.yaml is
[code]

[2020-05-07 11:22] gouravd commented on #76
Is there a way to generate code for Subscriptions yet? If not what is the recommended way to use subscriptions with above Websocket Link or graphql client?

[2020-05-07 22:40] FickleLife opened #132 ""Bad state: No element" trying to generate against any schema"
I am trying to generate against any graphql schema and the builder returns `Bad state: No element`

I have:
- `flutter pub cache repair`
- `flutter clean`
- tried all artemis versions 5.1.0 to 6.0.7beta1
- tried dependent package versions recommended in docs, and the latest versions also
- tried several different schemas, including https://developer.github.com/v4/public_schema/

I always get `Bad

[2020-05-07 23:58] comigor commented on #125
Let's move to #132 and keep this one to the blank comment error

[2020-05-08 00:06] comigor commented on #132
Hey @FickleLife, can you post your query as well?

I'm able to successfully generate GitHub queries on Artemis.

[2020-05-08 00:09] comigor commented on #76
I'll work on that, do you happen to know any public GraphQL server with subscriptions?

[2020-05-08 00:09] comigor commented on #113
Absolutely!

[2020-05-08 00:19] FickleLife commented on #132
Thanks @comigor

GitHub schema I've been trying to build with: https://developer.github.com/v4/public_schema/schema.public.graphql

My own schema, now generated with get-graphql-schema (doesn't use # comments): https://paste.ubuntu.com/p/KFpNs7wHyb/

[2020-05-08 00:30] comigor commented on #128
Hello @SwannLV, thank you so much for drilling this down into an easy reproducible demo.

As you could see, this happens because we purposely don't merge classes on Artemis (because we don't know how each query would evolve, avoiding breaking changes on code due to the own code generation on query changes)

There's no easy way to "fix" this issue, but it can absolutely be thrown while generating t

[2020-05-08 03:04] comigor commented on #76
@KieranLafferty @gouravd @agent3bood
Take a look at this PR, with an example of how to use Artemis with subscriptions: https://github.com/comigor/artemis/pull/133

[2020-05-08 03:16] comigor commented on #76
I'm going to keep this issue open for a while to hear your suggestions!

[2020-05-08 03:16] #120 closed

[2020-05-08 05:46] KieranLafferty commented on #76
Thanks @comigor looks great! Going to try it out and will get back to you once I've tired it out

[2020-05-08 19:39] comigor commented on #132
@FickleLife But what about the queries? Artemis generate the files based on the query, rather than the whole schema.

[2020-05-08 23:14] FickleLife commented on #132
Apologies, I didn't have a query. I was following the docs closely and not the [ultimate toolchain](https://medium.com/@v.ditsyak/ultimate-toolchain-to-work-with-graphql-in-flutter-13aef79c6484) guide. I can see everything generating now.

Thanks for your help and apologies for the simple error.

[2020-05-09 05:13] comigor commented on #132
No problem! Feel free to reach again with any other doubt!

[2020-05-10 12:45] vasilich6107 opened #136 "Artemis 6.0.9-beta.1 version solving failed"
**Bug description**
Version solving failed

**Specs**
Artemis version: 6.0.9-beta.1
<details>
<summary>flutter pub get output:</summary>

[code]
</details>

[2020-05-10 12:50] vasilich6107 commented on #136
I was able to solve this via updating `pubspec.yaml`

[code]

@comigor what is the benefit of using alpha versions of `gql-...`?

[2020-05-10 13:03] comigor commented on #136
As far as I know it would solve #125, but I'm not aware of the disadvantages

[2020-05-10 15:49] vasilich6107 commented on #136
To my mind it is too much of a trade off.
The blank comments could be removed manually from schema.
On the other side all the developers who will try to install `6.0.9-beta.1` will be faced with this `flutter pub get` error...

Let this issue stay here to help everyone who will face the same problem until we will be able to move to the stable version.

[2020-05-10 16:17] comigor commented on #136
Yes, I agree, that's why I've not bumped it here yet. Let it become stable first.

[2020-05-10 21:10] vasilich6107 commented on #116
Small update.
In case of dart keyword match we need something more tricky)
There could be a case when the enum has `new` and `_new` at the same time so pretending keywords with $ will lead to two equal names `$new` items.

I suggest to prepend dart keywords with `kw$`
`new` -> `kw$new`

[2020-05-10 22:05] comigor commented on #116
I think that's ok, but following this mindset, there can be both `_thing` and `__thing` fields, how would you deal with that? A dollar sign for each underscore?

I think I would just bail on fields matching keywords, suggesting to use aliases instead, but that opinion may be unpopular.

[2020-05-10 22:15] vasilich6107 commented on #116
As I wrote previously

`_variable` => `$variable`

`__typename` => `$$typename`

[2020-05-10 22:16] comigor commented on #116
oops, sorry, forgot about that message

yep, that seems better than the bug we have today

[2020-05-10 22:16] vasilich6107 commented on #116
I do not think that you can alias the enum item)

[code]

[2020-05-10 22:18] vasilich6107 commented on #116
The aliasing could alway be a fallback to the case when somebody would not like the `kw$` prefix)))

[2020-05-11 20:57] SwannLV commented on #128
Hi @comigor ! Thank you very much for everything.

I took the "alias way". It works ok for my case.
But I feel that I won't bother at all having breaking changes in my code if code generation happens... or maybe I am missing something.

Even more, I am expecting my code to break if I change one fragment of my query.

[2020-05-11 21:12] SanjiKir opened #137 "Fragments generate same classes on beta"
**Bug description**
When using fragment, which requests enums or nested data structures, in multiple queries I have this error:

[code]
where AccountingItemState represents enum. If I delete this field error doesn't go away.  This one comes in

[code]

**Specs**
`6.0.9-beta.1`

[code]

Fragment
[code]

Order scheme
[code]

I guess the expected behavior should be not to generate multiple classes fo

[2020-05-12 08:17] ram231 commented on #77
How do you add snake case field to camelCase in `build.yaml` file? there's a field called `is_available` boolean and I want to change it to isAvailable without toching the generated files.

[2020-05-12 13:49] comigor commented on #128
Really? I gathered feedback from some people and did some tests, and the breakingchange seemed pretty annoying.

For example, if we had those two queries, and they both generated the same class `Person` for its results:
[code]

But later on, I change query B to select a new field:
[code]

Now query B can't use `Person` anymore as the selection set is different. By adding this new `age` field, quer

[2020-05-13 08:22] Diligas-a commented on #137
I have the same problem

[2020-05-13 14:02] vasilich6107 commented on #137
We are working on this issue

For you can try this brach(works perfectly in my project)

[code]

[2020-05-13 19:00] danielmahon commented on #137
@vasilich6107 Your branch is working but is there a way to dedupe the Fragment Mixins as well? Since Dart doesn't handle type unions I'm having all kinds of issues trying to use a model returned multiple ways from GraphQL. For a model "Tool" that can be returned from queries/mutations/subscriptions every parsed type is different, by using the same fragment across all three I seemingly can have my

[2020-05-14 16:04] vasilich6107 commented on #137
Try this branch `bugfix/deduplication` it is a branch I'm working on to fix the issue.
I'll be testing it on my project

[2020-05-15 05:53] briblanch commented on #132
@comigor I am seeing the same `Bad State: no element` error that @FickleLife  was seeing. Here is my test query and schema I am using

https://gist.github.com/briblanch/17511a15d183464d20959bd5068da25a

Any ideas?

[2020-05-15 21:09] Diligas-a commented on #137
Thank you, it helps me!  👍

[2020-05-16 06:29] vasilich6107 commented on #110
It seems to be much easier to exclude them from analyzer
https://github.com/comigor/artemis/pull/101/files

There is a second file generated with json_serializer which could also conflict with your analyzer tool.

[2020-05-16 06:42] MattisBrizard commented on #110
Hi,

In theory yes, but this is an old issue on the dart SDK, where the exclude files are still analyzed.
https://github.com/dart-lang/sdk/issues/25551

Concerning the file generated with json_serializable, it takes care of the build.yaml configuration I mentioned above and adds ` ignore_for_file: ...` rules, so the analyzer doesn't take care of the generated files (at least for the rules I config

[2020-05-16 07:39] vasilich6107 commented on #110
Thanks, I did not know about this bug(

[2020-05-17 07:02] vasilich6107 commented on #137
@Diligas-a @danielmahon @SanjiKir
Could you check the 6.0.10-beta.1

[2020-05-17 07:03] vasilich6107 commented on #100
@lazylazyllama
Could you check the 6.0.10-beta.1

[2020-05-17 07:03] vasilich6107 commented on #99
@lazylazyllama
Could you check the 6.0.10-beta.1

[2020-05-17 10:47] lazylazyllama commented on #100
It seems to be working :)
Thank you very much!

[2020-05-17 10:47] #100 closed

[2020-05-17 10:47] lazylazyllama commented on #99
It seems to be working :)
Thank you very much!

[2020-05-17 10:47] #99 closed

[2020-05-17 10:51] vasilich6107 commented on #93
Should be fixed
Could you check the 6.0.10-beta.1

[2020-05-17 21:45] Diligas-a commented on #137
It’s working for me. 🙏

[2020-05-18 19:14] danielmahon commented on #137
Seems to be working for me as well! 🎉

build.yaml
[code]

[2020-05-18 19:15] danielmahon commented on #93
It looks to be working!

[2020-05-18 19:15] #93 closed

[2020-05-20 00:20] michael-golfi commented on #113
Hey @comigor ,

It looks like #100 is closed now, would that make a solution for this possible now?

[2020-05-20 13:26] comigor commented on #132
Hey @briblanch, how are you doing?
Can you please post your `build.yaml` configuration as well?

[2020-05-20 13:31] comigor commented on #137
@SanjiKir does vasilich's solution on `6.0.10-beta.1` work for you as well?

[2020-05-20 15:03] comigor commented on #113
I've digged a little bit and I feel I've found an workaround for this (at least for now): https://github.com/comigor/artemis/pull/143

Keep in mind this won't solve other recursive issues (eg. recursive fragments)

[2020-05-21 02:22] michael-golfi commented on #113
That sounds good to me. I currently don't use fragments but I can see that being an issue for others :)

[2020-05-21 17:30] comigor commented on #113
Just merged it, @michael-golfi, it's being released as `6.1.1-beta.1`

Feel free to reopen this issue in any case!

[2020-05-21 17:30] #113 closed

[2020-05-21 17:41] michael-golfi commented on #113
I'll give it a shot, thank you so much!

[2020-05-21 18:51] preetjdp commented on #122
Hey Just tried https://github.com/comigor/artemis/pull/141 on my project and looks to be failing.

The type of the enum is showing up as `artemisUnknown`
My enums are in this format.

[code]

@lazylazyllama could the Enums type casing me configurable rather than a enforced camelCase?

[2020-05-21 21:24] lazylazyllama commented on #122
Hmm I can not reproduce this .. I have a very big schema and everything is working perfectly fine in my case. My enums are formatted the same way yours are.

So can you give some further information about what is actually happening? As I am a little bit confused right know.
Artemis always adds artemisUnknown as a additional value to every enum. That is normal if that is what you mean?

To your sec

[2020-05-22 00:22] RodolfoSilva commented on #132
I fixed this problem changing the glob expression:
[code]

[2020-05-22 02:44] RodolfoSilva opened #145 "Generate class for custom Input type"
**Bug description**
When I've a mutation with a scalar input, the classes of this input type is not created.
@comigor I'm using hasura, the problem occurs when i try create an insert_* mutation.

[code]

The artemis is not generating a class for the `product_insert_input`

**Specs**
Artemis version: [e.g. 6.0.3-beta.1]
<details>
<summary>build.yaml:</summary>

[code]
</details>

[2020-05-22 03:17] ram231 commented on #122
How about a linter to ignore SCREAMING_CASE for enum in our analysis_options.dart. In that way, we could align the graphql specs to our dart code. Seriously, graphql and dart have both different worlds and different preferences.

[2020-05-22 11:18] preetjdp commented on #122
Hey @lazylazyllama here's one project where Enums casting is failing.
https://github.com/preetjdp/YouOweMe/tree/upgrade-artemis/mobileApp

On looking further the problem seems to be with the `EnumMap` Generated
[code]

Changing the above to makes everything work
[code]
URL for the same ==>

https://github.com/preetjdp/YouOweMe/blob/906db32382dd814830058c0702187bc469c4f82a/mobileApp/lib/resources/g

[2020-05-22 11:19] lazylazyllama commented on #122
Okay thank you very much :) I will have a look on it later this day

[2020-05-22 13:01] comigor commented on #145
Hey there, @RodolfoSilva!

It's hard to tell without looking at the schema file, but `product_insert_input` is an input object or a scalar?

If it's an input object, you can't have it defined as `scalar_mapping`: Artemis should automatically generate the input class for it. And if it's a scalar, it should work as well ([this test](https://github.com/comigor/artemis/blob/beta/test/query_generator/m

[2020-05-22 15:43] RodolfoSilva commented on #145
Hey @comigor, `product_insert_input` is an input object. I'll try you suggestion.

[2020-05-22 16:14] RodolfoSilva commented on #145
@comigor I've changed my previous comment with the generated code.

[2020-05-22 16:26] comigor commented on #145
Uhh, nice, I'll test it here

[2020-05-22 18:51] comigor commented on #145
I've found the bug, thinking about a way to fix it!

[2020-05-22 19:19] vasilich6107 commented on #137
It seems we can close this one)
@SanjiKir feel free to comment here if the fix will not work for you.

[2020-05-22 19:19] #137 closed

[2020-05-22 23:35] briblanch commented on #132
My build.yaml is

[code]

[2020-05-23 19:15] SanjiKir commented on #137
@vasilich6107 @comigor  Yeah guys sorry for not answering, I have too many GitHub notifications so I don't usually read them. It works like a charm. thanks!

[2020-05-25 14:39] vasilich6107 opened #150 "Interface fragments generation fails"
The error
`Exception: Field username was not found in GraphQL type Node.
Make sure your query is correct and your schema is updated.`

Just create the test file with this code
[code]

[2020-05-25 15:08] vasilich6107 opened #151 "Fragment on interface - generates not existing case"
In case of using

[code]

it generates case statement that refers to not existent class

[code]

Just put this code in test file

[code]

[2020-05-25 15:37] vasilich6107 opened #152 "Enum casing error"
Hi!
It seems that enum casing solution causes bugs
[code]

We will revert it until the proper solution implemented.

@lazylazyllama

[2020-05-25 16:04] comigor commented on #132
@briblanch Aside from missing configuration of `scalar_mapping` (that you'd have to configure, given your schema has custom scalars), the generation is breaking due to the fact `queries_glob` field contains `schema` definition.

I'll add a custom error for this, given the current one is not useful to understand what's going on!

[2020-05-25 18:39] comigor commented on #152
Fixed on 6.2.0-beta.1

[2020-05-25 18:39] #152 closed

[2020-05-25 19:02] comigor commented on #132
@briblanch `6.2.1-beta.1` should give you better errors!

[2020-05-25 19:02] #132 closed

[2020-05-27 14:43] stanojevicboban commented on #113
Just tested this in the 6.2.1-beta.1 build, and can confirm it is working perfectly. Thank you for the fix!

[2020-05-28 02:10] thanhbinh84 opened #155 "Undefined class Upload"
**Bug description**
**Steps to reproduce:**
- Create update_identity.graphql
- Add content
[code]
- Run `flutter pub run build_runner build`
Please describe what happened wrong and the expected behaviour/output.
Error: Undefined class Upload in graphql_api.graphql.dart file
**Specs**
Artemis version: [^6.0.4-beta.1]
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Art

[2020-05-28 07:49] SwannLV opened #156 "Scalar mapping does not work for 2 fields of a same object with the same type"
**Bug description**
Scalar mapping does not work for 2 fields of a same object with the same type.

Here is my config:
[code]

Here is my generated file:
![image](https://user-images.githubusercontent.com/2593258/83113396-e6d6e300-a0c7-11ea-8acb-b3873676d2bb.png)

It worked for the second (`numbernMin`), but not for the first (`numberWished`).

Thanks!

**Specs**
Artemis version: 6.0.6-beta.1

[2020-05-28 08:05] #156 closed

[2020-05-28 08:06] SwannLV commented on #156
Sorry, this is not the source of my error. I will open a new issue when I will find out.

[2020-05-28 11:02] subhadeepdas91 opened #157 "Code Generation Error"
**Bug description**
While generating code I am getting following error

**error: Undefined class 'ScheduleDateRange$query_root$user_schedule$user'. (undefined_class at [webinar] lib/graphql_client/api.graphql.dart:156)**

After removing `counterpart` key from query the code compiles.

**Specs**
Artemis version: **>=5.0.0 <6.0.0**
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details

[2020-05-28 23:00] m-Skolnick commented on #151
I am having this same issue.
This is the very last bug that is keeping us from using Artemis for our project. All the other issues have been resolved in these last few beta builds.
Great work guys!

[2020-05-29 07:54] vasilich6107 commented on #157
Hi. First of all could you switch to the latest beta version?
Then look through this issue to figure the possible way to work with Upload
https://github.com/comigor/artemis/issues/118

[2020-05-29 07:56] vasilich6107 commented on #155
Hi. First of all could you switch to the latest beta version?
Then look through this issue to figure the possible way to work with Upload
https://github.com/comigor/artemis/issues/118

[2020-05-29 07:57] vasilich6107 commented on #151
Hi. Try to change your query in the next way and try again.

[code]

[2020-05-29 09:32] thanhbinh84 commented on #155
Thanks for your response. I tried, but it conflicts with other libs
[code]

[2020-05-29 09:39] vasilich6107 commented on #155
Dependency overrides is your helper)
https://dart.dev/tools/pub/dependencies#dependency-overrides

[2020-05-29 09:57] #155 closed

[2020-05-29 13:09] subhadeepdas91 commented on #157
Version 6.2.1-beta.1 solves the problem.

[2020-05-29 13:09] #157 closed

[2020-05-29 13:30] m-Skolnick commented on #151
@vasilich6107  Hello.

When I try to build with the above code, I correctly get this error:
[code]
In the schema there are multiple possible interfaces in that entity, so this error makes sense.

[2020-05-30 07:07] vasilich6107 commented on #116
Hi @TarekkMA
Could you try this branch while it awaits the review?
[code]

[2020-05-30 07:08] vasilich6107 commented on #41
Hi @michael-golfi
Could you try this branch while it awaits the review?
[code]

[2020-05-30 07:12] vasilich6107 commented on #122
Hi
Could you try this branch while it awaits the review?
[code]

[2020-05-30 21:06] michael-golfi commented on #41
Hi @vasilich6107

I see the following property now on query:

[code]

It looks good so far and I would have to let you know when I start using the classes in my project.

[2020-05-31 20:54] #118 closed

[2020-05-31 20:54] vasilich6107 commented on #109
@comigor what do you think about this https://pub.dev/packages/freezed ?

[2020-06-01 12:40] SwannLV commented on #126
Hello! Would you know when this could be solved?
Thanks 🙏

[2020-06-01 13:27] vasilich6107 opened #159 "MissingScalarConfigurationException thrown on scalars that are not used in queries"
**Error**
[code]

**Test**
[code]

[2020-06-01 14:10] comigor commented on #109
I've personally never used it, but it seems nice. I liked the future-proof for non-nullables and late variables!

[2020-06-01 14:22] #159 closed

[2020-06-01 14:35] comigor commented on #126
@SwannLV This should be an easy fix, sorry for not looking at it early :(

But you'll have to bump past those latest breaking changes

[2020-06-01 15:30] vasilich6107 commented on #41
Closed by #142

[2020-06-01 15:30] #41 closed

[2020-06-01 15:31] vasilich6107 commented on #116
Closed by #142

[2020-06-01 15:31] #116 closed

[2020-06-01 16:13] SwannLV commented on #126
Ok thanks a lot. Where could I see the list of those breaking changes?

[2020-06-01 16:23] comigor commented on #126
On [CHANGELOG](https://github.com/comigor/artemis/blob/beta/CHANGELOG.md). I'm merging the fix right now.

[2020-06-01 16:25] SwannLV commented on #126
Thanks. Is auto __typename optional?

[2020-06-01 16:29] comigor commented on #126
The current changes only rename fields starting with `_` to `$`, typename will only  be converted when they're used (like into a inline spread)

[2020-06-01 16:33] comigor commented on #126
Released as v6.3.2-beta.1 on pub.dev.
Feel free to reopen this if necessary!

[2020-06-01 16:33] #126 closed

[2020-06-01 16:34] comigor commented on #76
I'm going to close this, but feel free to reopen if necessary!

[2020-06-01 16:34] #76 closed

[2020-06-02 08:57] vasilich6107 commented on #151
Hmmm, I faced the same issue(

[2020-06-02 13:12] comigor commented on #145
Hey @RodolfoSilva, could you try `6.3.3-beta.1`? (I've just merged and it should be on pub.dev soon).
It should fix your issue, but feel free to reopen this (or any other issue that you find)!

[2020-06-03 23:29] RodolfoSilva commented on #145
Hey @comigor, thanks. The problem is partially solved.

If I try to pass an array that contains the input object, it does not generate the class for that input.
Mutation:

[code]

<details>
<summary>graphql_api.graphql.dart</summary>

[code]
</details>

[2020-06-04 15:49] m-Skolnick commented on #151
@vasilich6107  Were you able to find a work-around for this by any chance?

[2020-06-05 05:13] FickleLife opened #166 "Error when using [input] types and variables with a mutation"
**Bug description**
When creating a mutation to insert a large, multi-nested payload via a variable, I use an input type of [product_insert_input] which Hasura defines. Artemis cannot generate types for this (I am not sure types are needed as they are already defined) and the generated code has an error: `The name 'product_insert_input' isn't a type so it can't be used as a type argument.
Try corr

[2020-06-05 05:25] FickleLife commented on #166
I've just seen https://github.com/comigor/artemis/issues/145 - best to close this and follow on that issue :)

[2020-06-05 05:25] #166 closed

[2020-06-07 00:51] comigor commented on #166
Cool, I'll reopen #145 and take a look!

[2020-06-08 14:33] martinolsson opened #168 "How do I provide arguments to a query?"
Sorry if this is the wrong place to ask questions.

I'm trying to use Artemis 5.1.0 and I'm having trouble understanding how to provide an argument to a query. My query looks like this:

[code]

I generate types and helpers, and try to use sort of like this (simplified):

[code]
But the result has an exception: **Variable “$id” of required type “ID!” was not provided.: Undefined location**

I've m

[2020-06-09 01:31] comigor commented on #168
Hey @martinolsson, how are you doing?

We're currently focusing efforts into the [**beta**](https://github.com/comigor/artemis/tree/beta) branch, because a lot of breaking changes can happen/already happened there without many consequences. The idea is to eventually merge it into master. Beta branch is a lot more advanced than master, with a lot of bugfixes.

Could you try to use the same schema/q

[2020-06-09 18:53] Kenoshen opened #169 "Multiple query definitions in a single file cause duplicate classes"
**Bug description**
I am probably doing something wrong or unexpected here, but basically I am trying to generate my dart query files by running `flutter pub run build_runner build`.  The command fails with the following error:

Output Error:
[code]

I found that if I only have a single `query X {...}` in the `queries_glob:` file then the command succeeds and the .dart file is generated.  However,

[2020-06-10 00:35] FickleLife opened #170 "Error in @JsonKey on scalar_mapping fields"
Firstly, thank you for all the work you do on this @comigor , it's a great help!

**Bug description**
When generating the graphql classes,  the generated code in ``graphql_api.graphql.dart`...
[code]
....generates an error :
[code]
and in the console:

[code]

I used these custom scalar mappings with no issue and I have made no changes, but now appears to be a problem - I have tried going back to

[2020-06-10 01:36] comigor commented on #170
Hey @FickleLife, thanks for it!

I'm not in my computer right now but since latest versions we've started converting all types to `PascalCase`, which means the `Timestamptz` type now have an uppercase T.

Could you try changing you function according to this?

[2020-06-10 02:02] FickleLife commented on #170
That appears to have fixed it @comigor , thank you. I'll close this one....

[2020-06-10 02:02] #170 closed

[2020-06-10 02:39] FickleLife opened #171 "Hasura aggregate fields not found in Type"
**Bug description**
When generating for the CategoryData query below, I get an error (Hasura is the backend):

`field "products_aggregate" not found in type: 'category': Undefined location<…>`.

`products_aggregate` is an Hasura auto-generated helper field to provide various summaries/counts of relationship child records.

Any clues what could be up?

**Specs**
Artemis version: 6.4.3-beta.1
<detai

[2020-06-10 04:16] FickleLife commented on #171
Apologies, this cryptic error `Undefined location` when using Hasura means permissions are not correct. Nothing to do with Artemis.

[2020-06-10 04:16] #171 closed

[2020-06-10 06:23] vasilich6107 commented on #169
The duplication issue was addressed later in the beta branch. Please update to the latest beta version.

[2020-06-10 06:24] vasilich6107 commented on #169
https://github.com/comigor/artemis/blob/beta/CHANGELOG.md#6010-beta1

[2020-06-10 07:15] martinolsson commented on #168
Thank you for getting back to me. I found why my code was not working, and it had nothing to do with artemis - both 5.1.0 and 6.4.3-beta.1 work. The problem was that I was not adding the id variable to the query in the correct way. I thought adding the "ThingArguments" (code above) to the query would add the id I supplied, so I did not add it to the QueryOptions as a variable. Changing the above c

[2020-06-10 07:18] #168 closed

[2020-06-10 14:54] FickleLife opened #173 "How to convert types back to json in mutations?"
I am probably going about this all wrong, have spent a few hours on it and cannot move forwards - so time to ask for some help :)

I have created some data in a flutter app and cannot get the Dart data types to convert to Json to be added as a variable to a graphql_flutter call. I may be using Artemis incorrectly for converting to Json...

I have a mutation

[code]

Artemis has generated:
<details

[2020-06-10 18:55] Kenoshen opened #174 "Mutations get merged together into one dart class"
**Bug description**
Running the build command `flutter pub run build_runner build` returns a 0 status with no errors.  However, the generated classes seem to be merged together.

**Specs**
Artemis version: [6.4.3-beta.1]
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</

[2020-06-11 00:57] FickleLife commented on #173
If I replace the `final Map<String, dynamic> jsonData = data.toJson();` with the json it's supposed to generate
[code]

all is good, so it's something to do with `toJson()` on the `UpdateUsersArguments` type

[2020-06-11 01:29] FickleLife commented on #173
I've found the issue. There are two other fields `createdAt` and `updatedAt` which are in the schema, but are null in this instance as they are handled by the backend on update. I have a scalar_mapping to handle the translation between GQL -> Dart type but on the Dart -> GQL I wasn't handling null values. Thanks @vasilich6107  for your help!

[2020-06-11 01:29] #173 closed

[2020-06-11 05:39] vasilich6107 commented on #151
@m-Skolnick could you attach your schema and full query?

[2020-06-12 02:05] m-Skolnick commented on #151
@vasilich6107 I wish I could, but I can't share our schema.
However, I would be happy to test and report back the results if that would be helpful.

[2020-06-12 05:23] vasilich6107 commented on #151
Share only the core part and rename the fields)))
So I can experiment with solution

[2020-06-12 18:51] Kenoshen commented on #174
Thanks for the quick response.  You are absolutely right about 3, I just didn't look hard enough.  I will look into somehow parsing out my queries and mutations into separate files for this artemis build.

It would definitely be nice though to not have to do this kind of special processing for artemis.  It seems like apollo and at least the golang graphql gen library is able to handle multiple fil

[2020-06-17 15:42] vasilich6107 commented on #125
@FickleLife do this bug still exist?

[2020-06-17 23:44] FickleLife commented on #125
Hi @comigor, I've moved to https://github.com/prisma-labs/get-graphql-schema to generate the schema, and it doesn't do blank comments. I will check with the library I was using (can't remember now.... I think it was apollo or graphqurl) and close this if it works

[2020-06-18 04:52] vasilich6107 commented on #145
@RodolfoSilva could you check the latest beta?

[2020-06-19 07:24] joshuadeguzman commented on #93
Thanks for this! Curious if there are near plans on releasing version 6 as the default and stable version to be installed pub? :D

[2020-06-19 14:42] m-Skolnick commented on #151
I'm not sure if this will be helpful, but here it is. It's just an interface that an object conforms to.
[code]

[2020-06-19 17:10] vasilich6107 commented on #151
Full Schema and full query please

[2020-06-20 22:06] teknolojia opened #175 "generates switch with invalid characters when using union mutation"
**Bug description**
After running `flutter pub run build_runner build` it generates code with invalid character which does not compile.  check generated code below
[code]
console message
[code]

**Specs**
Artemis version: **^6.4.4-beta.1**
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</

[2020-06-22 13:01] vasilich6107 commented on #175
It seems that you forgot `__typename` in your queries

[2020-06-22 16:29] teknolojia commented on #175
@vasilich6107 thanks

[2020-06-22 16:30] #175 closed

[2020-06-22 19:03] Grohden opened #176 "Generate all enums in a single separated file"
Hello there,

I'm wondering if it could be possible to generate all enums in one single file that is imported by other artemis generated files. Today, if I have 2 schema mappings that may use the same enum, artemis will duplicate the enum declaration. So for example:

Given a enum is used in 2 schema mappings, artemis generates two files with the same enum declaration:
[code]

They both are really

[2020-06-23 06:00] FickleLife commented on #145
@vasilich6107 I have tried both with single input
[code]
and and array input:
[code]

and am getting errors in generated code on `artemis: ^6.4.4-beta.1`

Here's my:
schema: https://paste.ubuntu.com/p/WvXyppMNp6/
Build.yaml
[code]

[2020-06-23 08:04] vasilich6107 commented on #145
Attach your schema please

[2020-06-23 09:04] szediwy commented on #108
Did you find a workaround?

[2020-06-23 09:44] agent3bood commented on #108
No, maybe try another library like https://github.com/gql-dart/gql (not sure if it works)

[2020-06-23 12:12] RodolfoSilva commented on #145
@vasilich6107 @comigor Working very well. Thanks!!!

[2020-06-23 23:06] FickleLife commented on #145
Interesting. Wonder why I am getting issues... @RodolfoSilva are the queries you have stated above generating correctly?

[2020-06-24 10:13] FickleLife commented on #125
It was with graphqurl. Working well! Thanks @comigor

[2020-06-24 10:13] #125 closed

[2020-06-24 13:02] vasilich6107 commented on #176
Hi. Theoretically this is possible.
Currently we are focused on the existing bugs.
If you map all the output in one file this will help to avoid the issue.

[2020-06-24 13:03] #174 closed

[2020-06-24 13:41] Grohden commented on #176
@vasilich6107 thx for the response!

Yeah, I understand that it could be solved like that, but with a single file output I have to use other `naming_scheme`.. and I get some very long field names.

Unfortunately, Dart does't support type alias [yet](https://github.com/dart-lang/language/issues/65) 😢 so... is either reusable code or ugly as hell long names (for example one here is `AccidentsList$Qu

[2020-06-24 14:53] vasilich6107 commented on #176
The naming on the graphql is not very easy task to solve.
The latest and most stable solution is `pathedWithFields` that allows to avoid the naming conflicts.
As you mentioned - fragments definitely solve the issue.

[2020-06-24 15:19] dw2kim opened #177 "Annotate overridden members"
**Bug description**
After generating the graphql.dart, there is warning:
info: Annotate overridden members. (annotate_overrides at ...)

**Specs**
Artemis version: >=5.0.0 <6.0.0
<details>
<summary>build.yaml:</summary>

[code]

</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</details>
<details>
<summary>GraphQL query

[2020-06-24 15:41] vasilich6107 commented on #177
Hi.
Try latest beta.
6.4.4-beta.1

[2020-06-26 09:02] thanhbinh84 opened #178 "[Feature Request] Ignore null arguments"
**Steps to reproduce:**
1. Having a script to update profile such as:
[code]
2. Passing deviceToken value only

**Expected**
Generate graphql without birthday:

[code]
**Actual**
Generate graphql with null birthday:

[code]

**Specs**
Artemis version: ^6.0.4-beta.1
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>

[2020-06-27 21:01] vasilich6107 commented on #178
Hi. Could you add a little bit reasoning behind this feature?

[2020-06-27 21:02] vasilich6107 commented on #177
@dw2kim did you have chance to try latest beta?

[2020-06-28 09:01] thanhbinh84 commented on #178
There are two reason:
1. In case profile has an attribute is in enum type, graphql will reject null value.
2. If we want to update only one field such as firstname only, it possibly empty other fields with null value

[2020-06-28 10:42] vasilich6107 commented on #178
Thanks.
I’ll check this with graphql faker.

[2020-06-28 14:59] kateile commented on #118
@vasilich6107 Hi, I trying to follow what you did above but I get this error
[code]

here is my build.yaml
[code]
upload_serializer.dart
[code]

Schema looks like
[code]
Earlier I got this error and I was trying to solve it
[code]
I think I need to create a parser! Any suggestion?

[2020-06-28 15:02] vasilich6107 commented on #118
Cause you have wrong indentation in yaml

[code]

[2020-06-28 16:31] kateile commented on #118
Thank you. You saved my day

[2020-07-01 03:42] FickleLife opened #179 "artemisUnknown enum generated when there doesn't appear to be any unknowns"
**Bug description**
When building, I get several errors in `graphql_api.graphql.dart` as every table that has some constraint on it appears to generate an "artemisUnknown" enum. The generated code is (`graphql_api.graphql.dart`):
[code]
the above generates a couple of errors `Undefined name 'BrandConstraint'` and `The name 'BrandUpdateColumn' isn't a type so it can't be used as a type argument`.

[2020-07-01 04:07] FickleLife commented on #145
I think my issue is something else, have opened https://github.com/comigor/artemis/issues/179

[2020-07-01 05:09] #145 closed

[2020-07-02 22:41] ebundala opened #180 "Extending Mutation and Query types generate duplicates Mutation/Query classes"
**Bug description**
I usualy split my schema its easy to manage complexity this way so I can have related bits in a well defined place and during build I just concat all the schema files like `echo | cat  *.graphql > myschema.graphql` so the schema looks like
[code]

**Specs**
Artemis version : 5.1.0
test schema
[code]
**Generated code from above schema**
[code]

[2020-07-03 03:45] FickleLife commented on #179
Apologies, but any clues on this one?

[2020-07-07 06:42] FickleLife commented on #109
+1. My use case is a search/filter with several parameters being passed to a query. I have three different firleds updating the variable at different times (textfield, filters, sorting) and as options are selected in any of these I want to update the parameters. I can't use the Artemis generated type as it's immutable. In the end I created another type that has a copyWith method which is largely i

[2020-07-08 12:50] Grohden opened #181 "[Question] Performance tips for build times"
Been using artemis `6.4.4-beta.1` and getting longer build times as I add new graphql files, I'm unsure if it's expected or if there's something that I can do to improve these build times.

Currently I have:
* 17 files with one fragment each
* 20 files with one query each
* 4 files with one mutation each
* A graphql schema with 7K lines.

Here's a example build log:
[code]

<details>
  <summary>He

[2020-07-09 13:45] ts00780308 commented on #179
Hi, @FickleLife, I have faced the same issue on version `^6.4.4-beta.1`. It seems that the generated enum class is `lowercase_with_underscores` style, but the style in `@JsonValue(...)` is `UpperCamelCase`. In your case, the `BrandConstraint` is not matched with `brand_constraint`.

[code]

I changed the `UpperCamelCase` to `lowercase_with_underscores` manually, then everything is ok.
I'm not sure

[2020-07-09 18:50] vasilich6107 commented on #180
Hi.
Please provide the issue according to the issue template.
And attach actual/expected result

[2020-07-09 18:51] vasilich6107 commented on #177
@dw2kim did you have chance to try latest beta?

[2020-07-09 21:25] ebundala commented on #180
closing this as I think its not how this should be used.

[2020-07-09 21:25] #180 closed

[2020-07-10 14:14] vasilich6107 commented on #179
I found a bug I'll make a PR after https://github.com/comigor/artemis/pull/165 will be merged

[2020-07-10 16:56] vasilich6107 commented on #179
@FickleLife please check v6.5.1-beta.1

[2020-07-10 16:56] #179 closed

[2020-07-11 08:06] Gujie-Novade commented on #52
@comigor when you say [this](https://github.com/comigor/artemis/issues/52#issuecomment-554374118), does that mean that if a fragment is used at multiple places (even in the same file), it will never be possible to have a unique class for it?

[2020-07-11 21:59] FickleLife commented on #179
Thank you @vasilich6107 - all fixed.  Cheers!

[2020-07-14 14:40] vasilich6107 commented on #177
Closing this due to the missing response from @dw2kim
Fell free to comment and reopen

[2020-07-14 14:40] #177 closed

[2020-07-16 02:49] GP4cK opened #184 "Is there a way to share classes in queries?"
In the pokemon example we have:
pokemon.schema.graphql:
[code]

fragments_glob.query.graphql
[code]

Yet, the generated code in
lib/graphql/fragments_glob.dart
[code]

[2020-07-16 18:29] vasilich6107 commented on #184
Do not split between files. You'll get all code in one file with shared classes.
There is no way of sharing classes between multiple output files for now.

[2020-07-16 18:32] vasilich6107 commented on #181
Hi. I did not have such long build time ever.
10 minutes is very long.
If you create a dummy project which reproduces the build time on your machine I'll try to run it locally.
May be we could find something...

[2020-07-16 19:27] Grohden commented on #181
@vasilich6107
Sure, here's the repo
https://github.com/Grohden/artemis-perf-issue-code

[2020-07-16 20:32] Grohden commented on #178
about ignoring nulls,  I've been using a flag for json serializable on `build.yaml`:

[code]

Maybe this solves for you?

The downside is that it applies to your whole project, so if your backend relies on specifically receiving `null` vs `undefined` to create specific behavior, that will cause problems for you (oh well, only node will probably have `undefined` AND `null` to represent key absences

[2020-07-17 01:41] GP4cK commented on #184
I tried putting the fragments and the query in the same file but I still get 2 classes:
1. FragmentsGlob$Query$Pokemon
2. FragmentsGlob$Query$Pokemon$Pokemon

I forked the repo and created a pokemon branch. It's available [here](https://github.com/GP4cK/artemis/tree/pokemon).

Here's the content of graphql/fragments_glob.query.graphql
[code]

I removed the this line in build.yaml: `fragments_glob:

[2020-07-17 07:19] girirajthara opened #185 "Can I add multiple queries in query.graphql file"
can I write both queries in one file

[code]

[2020-07-17 07:30] vasilich6107 commented on #184
I see. It seems to be an expected behaviour.
As far as fragment naming is not very easy we decided to prepend the class name with types or class names.
In your code you can refer to the classes via `FragmentsGlob$PokemonMixin` or `List<FragmentsGlob$PokemonMixin>`. I use this approach in my code

[2020-07-17 07:32] vasilich6107 commented on #185
Not for now(

There is an "ugly" solution for this in PR waiting to be merged)
https://github.com/comigor/artemis/pull/158

@comigor could you help us?

[2020-07-17 07:38] vasilich6107 commented on #181
Hmmm. It's definitely building way too long...
I suppose this is caused by the schema size.
Performing additional checks

[2020-07-17 07:43] vasilich6107 commented on #181
If you add `--verbose` flag to the run command you'll see that it is not "wainig" it has a lot of code to build.
May be we will find some some approach to improve the performance

[2020-07-17 08:39] vasilich6107 commented on #181
check `canonical-performance` branch, PR is awaiting to be merged.
It shows `[INFO] Build:Succeeded after 1m 10s with 3 outputs (6 actions)`

[2020-07-17 10:46] #184 closed

[2020-07-17 12:02] Grohden commented on #181
@vasilich6107
Thank you! `canonical-performance` worked like a charm in the original project!

`[INFO] Succeeded after 52.1s with 4 outputs (159 actions)`

[2020-07-17 13:16] vasilich6107 commented on #181
PR merged, awaiting for release.

[2020-07-17 13:16] #181 closed

[2020-07-19 16:31] comigor commented on #178
Hello there, how are you doing?
So, GraphQL spec accepts both `null` and the absence of the key as the same: https://spec.graphql.org/draft/#sel-GAFdRHABABsC0pB
And, as `json_serializable` have this option (as pointed by @Grohden), maybe we should avoid having this option on artemis?

[2020-07-19 16:35] comigor commented on #185
I think it's ok to merge your PR if it doesn't rollback the performance issue you've fixed on https://github.com/comigor/artemis/pull/186

[2020-07-19 16:42] comigor commented on #52
Hey, @Gujie-Novade! What I've said there was implemented on `beta` branch: for some time now we generate fragments as mixins, and those mixins are generated only once for the file. Also, if you configure `fragments_glob`, you'll have globally-generated mixins/fragments as well.

[2020-07-19 17:07] asterix11 commented on #107
I fully agreee with @lazylazyllama. I think this also applies for other type definitions, such as objects/classes etc. Please take a closer look on this very important topic, it will make things significantly more easy!

[2020-07-20 01:08] thanhbinh84 commented on #178
Thanks for your info. @Grohden's solution works, we don't need to update our lib then.

Cheers.

[2020-07-22 10:12] FickleLife opened #187 "Best method to use copyWith with Artemis generated model"
Artemis has generated for me a `SearchProductDataArguments` model which contains search params structure. I want to create an a global instance of this type and have its state updated by several widgets (search bar, filters, sorting). I have read `copyWIth` is the way to do this as the model is immutable - what is the best method to implement `copyWith` with Artemis generated types?

EDIT: Stack o

[2020-07-22 20:51] vasilich6107 commented on #187
Hi)
You can do `SearchProductDataArguments.toJson()` then replace some of the parameters and revert back to model with `fromJson()` method

[2020-07-22 22:13] FickleLife commented on #187
Thanks @vasilich6107 I'll investigate... the model I am talking about is not too complex, but I imagine deserialising/ serialising would be quite inefficient?

[2020-07-23 03:41] GP4cK commented on #178
@comigor @thanhbinh84 I don't think that solves the issue completely.
For example: let's say I have a user like this:
[code]
Now I want to update the firstName and remove them from a company, I would send a mutation like:

[code]

How can I do that?

[2020-07-23 03:51] thanhbinh84 commented on #178
@GP4cK I haven't tried but passing empty string "" might help, as json serializable will bypass null but keep empty string.

[2020-07-23 04:15] Gujie-Novade commented on #178
Ok so then it will be the responsibility of the server to convert the empty string to null if it's a foreign key. That's a workaround.

[2020-07-23 04:16] GP4cK commented on #178
Ok so then it will be the responsibility of the server to convert the empty string to null if it's a foreign key. That's a workaround.

[2020-07-23 04:33] Grohden commented on #178
@GP4cK Just an idea: you could create a scalar (something like `DbNull`) use it with a union and deal with it differently on the server side
🤔
Not sure if artemis handles union types

Also, there's... a trick you could use

[code]

A list (`[String]`) would in some ways satisfy a `Optional/Maybe` idea:
 if the list itself is `null`, then the value is not present (meaning `undefined`)
 if the list

[2020-07-24 06:33] girirajthara commented on #185
@vasilich6107  why can I expect the release?

[2020-07-24 09:53] vasilich6107 commented on #185
I'll try rebase soon

[2020-07-25 09:03] vasilich6107 commented on #185
PR is ready to be merged

[2020-07-26 01:01] fryette opened #188 "Provide please anyMap property for json_annotation generator"
Would be nice to have the possibility to customize json_annotation somehow

[2020-07-26 20:09] FickleLife commented on #187
I've implemented it using a Map and am converting back and forth when needed. Thank you @vasilich6107

[2020-07-26 20:09] #187 closed

[2020-07-27 01:24] MattGson opened #189 "Exception: Two classes were generated with the same name"
**Bug description**
Code generation fails with: `Exception: Two classes were generated with the same name `
This occurs because a node has two different children with the same exact type.

In the example query below, `friends` and `notfriends` have the same type `friendConnection`

The generated class name for both is:
`UserFriends$Query$Node$User$FriendsConnection$User`

**Specs**
Artemis version

[2020-07-27 13:00] comigor commented on #189
Hello, @MattGson!
We're currently focusing the development on `beta` branch ([prerelease versions](https://pub.dev/packages/artemis/versions#prerelease:~:text=Prerelease%20versions%20of%20artemis)). Could you try to use the library with the latest beta version and report back, please?

[2020-07-27 13:07] comigor commented on #188
Hello @fryette!
I'm not familiar with `anyMap`, could you exemplify your use case?

[2020-07-27 13:08] comigor commented on #185
I've just merged https://github.com/comigor/artemis/pull/158

[2020-07-27 13:16] comigor commented on #178
I understand your use cases and, although not spec-compliant, it seems better to have some configuration than sourcing to these kind of "hacks". I'll think about something.

[2020-07-27 13:17] fryette commented on #188
To use generated models in the app I also want to serialize and deserialize it let say from cache service. For now, library generated models have only `explicitToJson` parameter. `toJson` and `fromJson` method works only with Map<String, dynamic>. However, e.x. you don't have always Map<String, dynamic> how to work with it? JsonAnnotation library provides `anyMap`parameter and then fromJson and to

[2020-07-27 13:21] comigor commented on #188
I've never encountered an use case that I didn't have a `Map<String, dynamic>` json object... but `anyMap` should do no harm, I need to check it wouldn't end up in a bizarre serialization corner case of some kind.

To understand it better, in your current use case, couldn't you convert your `Map<dynamic, dynamic>` object into `Map<String, dynamic>`?

[2020-07-27 13:22] comigor commented on #185
@girirajthara Please test it with latest `6.6.1-beta.1` version, and thanks again @vasilich6107!

[2020-07-27 14:17] fryette commented on #188
Unfortunately cannot. I tried...
In my case cache service can provide only Map<dynamic, dynamic> and converting long inheritance is impossible. (When you have multiple `Map<dynamic, dynamic>` in Map<dynamic, dynamic> you need somehow handle it. That why I asking to add that flag.

[2020-07-27 17:43] comigor commented on #188
I got you, for ease of use (and if doesn't harm), I'm ok with adding this flag.

However, I still didn't see why you can't do something like this (I know it isn't pretty, but should work):
[code]

[2020-07-28 07:11] fryette commented on #188
This is what I do right now, but would be great to avoid these things.(I'm totally OK if you decide to not add `anyMap` property)
Thanks!

[2020-07-28 07:12] GP4cK commented on #178
Maybe we could use something like the `Value<T>` class in moor(?)

Extract from their [doc](https://moor.simonbinder.eu/docs/getting-started/writing_queries/):

The source code is [here](https://github.com/simolus3/moor/blob/c80235799c445ffee8170748139538a981c9d66a/moor/lib/src/runtime/data_class.dart)

[2020-07-28 15:28] comigor opened #190 "WebSocket Link/example is not working anymore"
**Bug description**
`gql` breaking changed their WSLink implementation and example doesn't work anymore.

**Specs**
Artemis version: [e.g. 6.6.1-beta.1]

[2020-07-29 05:38] #189 closed

[2020-08-07 00:45] ram231 commented on #190
I honestly don't know how WebsocketLink works in the newer version of `gql_websocket_link`. it doesn't work with an example project of mine. There are also lack of example code on how WebSocketLink works via Streams.

[2020-08-07 10:28] trancongthanh1992 opened #194 "I can't generate artemis same input."
**Bug description**
Please help me for issue error with same input ?

**Specs**
Artemis version: [e.g. 5.1.0]
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</details>
<details>
<summary>GraphQL query:</summary>

[code]
</details>

[2020-08-07 15:34] vasilich6107 commented on #194
Please use the latest beta 6.6.4-beta.1

[2020-08-09 14:23] trancongthanh1992 commented on #194
Thanks @vasilich6107 . I'm going to try it.

[2020-08-10 11:50] kono0514 opened #195 "List of enums as a query argument"
**Bug description**
Build error when the query argument is a list of enums

**Specs**
Artemis version: 6.6.4-beta.1
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</details>
<details>
<summary>GraphQL query:</summary>

[code]
</details>

[2020-08-10 13:15] kono0514 opened #196 "Enum containing uppercase dart keyword"
**Bug description**
Enums containing **UPPERCASE** dart keywords (IN, FOR, etc...) causes generator to break.

Works as expected if the keyword is lowercase (in => kw$in)
[code]

[code]

But this doesn't work:
[code]

[code]

https://github.com/comigor/artemis/issues/116

**Specs**
Artemis version: 6.6.4-beta.1
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis

[2020-08-11 09:57] vasilich6107 commented on #196
Good catch. I'll take a look

[2020-08-11 11:30] vasilich6107 commented on #196
Try this branch `uppercase-keyword-fix`

[2020-08-11 11:32] vasilich6107 commented on #195
Awesome bug description! I'll take a look

[2020-08-11 12:20] vasilich6107 commented on #195
added fix in this branch `uppercase-keyword-fix`

[2020-08-11 12:20] vasilich6107 commented on #194
@trancongthanh1992 any updates?

[2020-08-11 12:43] kono0514 commented on #195
@vasilich6107
`uppercase-keyword-fix` is working good! Thank you 👍

[2020-08-11 12:44] kono0514 commented on #196
@vasilich6107
`uppercase-keyword-fix` is working good! Thank you 👍

[2020-08-12 07:45] vasilich6107 commented on #196
Fixed in v6.7.1-beta.1

[2020-08-12 07:45] #196 closed

[2020-08-12 07:46] vasilich6107 commented on #195
Fixed in v6.7.1-beta.1

[2020-08-12 07:46] #195 closed

[2020-08-13 04:35] kono0514 opened #199 "Multiple schema, enums not generated for second one"
**Bug description**
I wanted to consume two separate GraphQL API servers in my client. One is mine and other one is third-party.
These schemas have no connection with each other. Is this even something that is supported in artemis?

Build runs successfully and generates separate ".graphql.dart" files for each schema specified in schema_mapping.
But the enums are only generated for the first schema

[2020-08-13 17:45] vasilich6107 commented on #199
Hi. Use `multiple-schema-fix` temporarily until we merge the fix

[2020-08-14 04:29] kono0514 commented on #199
Using `multiple-schema-fix` (PR #198) build fails with

**Specs**
Artemis version: multiple-schema-fix
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

schema.graphql

[code]

otherschema.graphql

[code]
</details>
<details>
<summary>GraphQL query:</summary>

graphql/articles.gr

[2020-08-14 07:05] vasilich6107 commented on #199
Ok, I’ll try to reproduce with your data

[2020-08-14 07:34] vasilich6107 commented on #194
Closing this issue. Duplication bug was fixed in `v6.0.10-beta.1`

[2020-08-14 07:34] #194 closed

[2020-08-14 09:46] vasilich6107 commented on #199
Applied additional fixed and added test based on your case
https://github.com/comigor/artemis/pull/198/files#diff-b7e255d7d2c05c55d132aee6090ab96e

Try one more time

[2020-08-14 13:28] kono0514 commented on #199
Tested it and it works! Thanks 😃

[2020-08-19 08:15] vasilich6107 commented on #199
fixed in `v6.8.2-beta.1`

[2020-08-19 08:15] #199 closed

[2020-08-21 08:47] kono0514 opened #203 "toJson() doesn't remove "kw$" prefix"
**Bug description**
```r'kw$operator'``` should be ```'operator'``` in this case:
[code]

**Specs**
Artemis version: ^6.8.2-beta.1
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</details>
<details>
<summary>GraphQL query:</summary>

[code]
</details>

[2020-08-25 04:14] kono0514 commented on #203
Thank you!

[2020-08-25 08:44] vasilich6107 commented on #203
Fixed in `6.9.2-beta.1`

[2020-08-25 08:44] #203 closed

[2020-08-25 08:55] GP4cK commented on #178
@comigor do you have any update on this? I'd be happy to help develop this if you tell him how you want it to be implemented.
Also, is there any plan to release a stable version 6?
Thanks.

[2020-08-26 20:25] orestesgaolin commented on #110
It's possible to add ignores for `.g.dart` files by:

[code]

but it would be great to also have this option for `.graphql.dart` files

[2020-08-27 14:08] vasilich6107 commented on #185
Closing the issue as far as it was fixed long time ago)

[2020-08-27 14:08] #185 closed

[2020-08-27 14:10] vasilich6107 commented on #122
@lazylazyllama we adjusted the enum casing according to dart specs. If it fits your needs this issue could be closed.

[2020-08-27 15:12] #122 closed

[2020-08-27 20:06] vasilich6107 commented on #188
@fryette did you tried to set `anyMap` option in your `build.yaml`?
https://github.com/google/json_serializable.dart/tree/master/json_serializable#build-configuration

[2020-08-27 21:54] fryette commented on #188
hm....will check soon!

[2020-08-28 02:48] comigor commented on #178
@GP4cK I didn't have time to look at this yet. I understand your use case, but as it's not spec-compliant, it makes things harder.

It seems that to solve your problem, we'd have to remove all nulls but a few selected fields when converting to json, right? In this case, we'd have to mark **all fields** with [includeIfNull: false](https://pub.dev/documentation/json_annotation/latest/json_annotation

[2020-08-28 11:34] girirajthara commented on #185
It didn't work with fragments .But we moved to gRPC for an alternative approach

[2020-08-28 12:45] vasilich6107 commented on #185
@girirajthara please make an issue

[2020-08-28 16:03] vasilich6107 commented on #33
@amadeu01 the content of that link seems to be modified...

[2020-09-01 15:55] vasilich6107 commented on #188
@fryette any news on any map?)

[2020-09-02 07:06] fryette commented on #188
Fixed, thx!

[2020-09-02 07:06] #188 closed

[2020-09-03 00:54] comigor commented on #110
Released as `6.12.1-beta.1`

[2020-09-03 00:54] #110 closed

[2020-09-07 20:47] jifalops opened #213 "Dart type with import fails as 'Invalid json'"
**Bug description**
I'm trying to have the generated output import a file so that the custom type is defined.

**Specs**
Artemis version: 5.1.0
<details>
<summary>build.yaml:</summary>

[code]
</details>

  It always throws here

[code]

I've tried forking the repo and printing the runtimeType to check what is going on but I can't get it to print anything.

[2020-09-08 13:40] comigor commented on #213
Hello @jifalops, how are you doing?
We're focusing development of artemis as [prerelease versions](https://pub.dev/packages/artemis/versions#prerelease:~:text=Prerelease%20versions%20of%20artemis), to avoid doing a lot of breaking changes on master.

This particular issue is already solved in the `beta` branch, so please, try to use a prerelease version (eg. 6.12.2-beta.1) and report back!

Feel f

[2020-09-08 13:40] #213 closed

[2020-09-24 12:12] BeshoyMelika opened #214 "custom class name"
**Bug description**
i have class with this name SignIn$Mutation$AuthPayload  i need to custom this name
can I custom classes name

**Specs**
Artemis version: [e.g. 6.0.3-beta.1]

<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</details>
<details>
<summary>GraphQL query:

[2020-09-24 12:21] vasilich6107 commented on #214
First of all - update to the latest beta)
There are a lot of bug fixes)

[2020-09-24 12:22] vasilich6107 commented on #214
Could you clarify the use case?
Why do you need the custome” class name?

[2020-09-25 04:45] ram231 opened #215 "[QUESTION]Allow GraphQL comments to be included in the Dart Doc comment"
Does Artemis allow GraphQL comment to Dart Doc comment(converting `#` to `///` or `"""` to  `///`)?It would be great to put comments on a dart generated classes. I don't know what are the use case for this, but knowing what it does definitely help me know its purpose.

[2020-09-25 16:09] BeshoyMelika commented on #214
I am very sorry for the late reply
I want to change the names because sometimes it is too long
Is there a way to custom the name of class

[2020-09-25 16:34] vasilich6107 commented on #214
You can present the selection set with Fragment and you'll get a class with name `[FragmentNameMixin]` it will be much shorter.

[2020-09-25 17:12] BeshoyMelika commented on #214
okay, I think this helps me a little, but now no way to custom class name, right?

[2020-09-25 17:44] vasilich6107 commented on #214
Currently there is no way to customize class name. The “fragmentation” is the only way. As far as it ads only “Mixin” postfix overhead it works pretty good.
Actually we didn’t wanted to make such lo$oo$ng names. But in complex query sets the chance of name duplication with different selection set is pretty high.

[2020-09-25 17:46] vasilich6107 commented on #214
You can also try a `simple` naming schema...
May be it will fit your needs even better.

[2020-09-25 18:33] comigor commented on #215
Hello @ram231!
This was not in the radar until now, but it seems nice. We just need to check if `gql` parses it accordingly.

[2020-09-27 21:29] oofp opened #216 "failed to process subscription"
**Bug description**
Getting error when processing subscription
[code]

**Specs**

dev_dependencies:
  flutter_test:
    sdk: flutter
  artemis: '>=5.0.0 <6.0.0'
  build_runner: ^1.5.0
  json_serializable: ^3.0.0

<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>
[INFO] Generating build script...
[INFO] Generating build script completed, took 558ms

[INFO] Initializing

[2020-09-28 06:13] vasilich6107 commented on #216
Let me check...

[2020-09-28 15:21] ram231 commented on #118
@vasilich6107 does the current `multipartFileFrom` function exist in http package? I kept on searching that function but it doesn't exist in the http package.

[2020-09-28 16:18] vasilich6107 commented on #118
@ram231 it exists in graphql_flutter package
Check the Upload section of graphql_flutter docs

[2020-09-28 16:29] ram231 commented on #118
Thanks, @vasilich6107. Does the `execute` function work on artemis or should I just use the `mutate` from graphql_flutter? artemis doesn't work on my end so I'll try to use `graphql_flutter`

[2020-09-29 04:33] ram231 opened #217 "Update gql dependencies"
Hi, I'm getting an error when updating `graphql` package alongside with artemis.
[code]
I might submit a PR. Thanks!

[2020-09-29 04:45] ram231 commented on #217
@vasilich6107 do you also update dependencies inside the example folder?

[2020-09-29 04:58] ram231 commented on #190
Coming back to this ticket, It seems to be working now. or is it?

[2020-09-29 09:33] vasilich6107 commented on #217
you can also use `dependacy_overrides`

[2020-09-29 12:45] vasilich6107 commented on #216
Use latest atremis beta v6.12.3-beta.1

[2020-09-29 12:48] vasilich6107 commented on #216
created a test from your code to confirm that everything works
https://github.com/comigor/artemis/pull/219

[2020-09-29 12:56] PlugFox commented on #118
You can upload with using REST client in this way:
https://gist.github.com/PlugFox/6934f75b46c9d73951c2d6c1b40415ce

[2020-09-29 13:18] vasilich6107 commented on #118
@ram231 do not use `Atremis` as grpahlq client. Use `graphql_flutter`

[2020-09-30 20:21] PlugFox commented on #118
https://gist.github.com/PlugFox/f2c6da19315754384e487f0634aa063e

graphql extension for support artemis codegen (query and result)

[2020-10-01 06:18] vasilich6107 commented on #216
Hi @oofp
Any news?

[2020-10-01 10:42] codiyer opened #220 "Cannot Handle BadRequestException or any other exceptions thrown from server"
Hi,
I am using NestJS on the server side with Apollo for graphql. There are cases where the server throws Forbidden or BadRequestException and I need to handle the exception on the app.

The response that we receive in such cases are something as follow:
[code]

However, in such cases artemis client simply throws ResponseFormatException and we are receiving just a single line as follows:
`type '_I

[2020-10-01 16:22] codiyer commented on #220
Hi,
We found out that the issue was from NestJs graphql module itself and was resolved in the newer versions of the graphql module.
This issue got resolved after upgrading the server side dependencies.

It would however be great if we can somehow have the actual response object via the ResponseFormatException instance

[2020-10-01 19:29] vasilich6107 commented on #217
Updated deps in #221

[2020-10-01 19:29] #217 closed

[2020-10-02 18:20] RageshAntony opened #222 "Helper classes not compatible with client.create(..)"
**Bug description**
Helper classes generated or not

**Specs**
Artemis version: 6.12.3-beta.2

[code]

Why helper class is not compatible in with client.execute() params

My Code :
[code]

What is this error ? pls help me

[2020-10-02 18:29] vasilich6107 commented on #222
Hi.
Use graphq_flutter package.
I do not think we will have time to support client

[2020-10-02 18:30] vasilich6107 commented on #222
Here is an article
https://medium.com/@v.ditsyak/ultimate-toolchain-to-work-with-graphql-in-flutter-13aef79c6484

[2020-10-02 18:33] vasilich6107 commented on #216
Closing the issue for now. If you have more questions feel free to reopen

[2020-10-02 18:33] #216 closed

[2020-10-02 18:34] vasilich6107 commented on #220
Hi.
Use graphq_flutter package.
I do not think we will have time to support client
https://medium.com/@v.ditsyak/ultimate-toolchain-to-work-with-graphql-in-flutter-13aef79c6484

[2020-10-02 18:41] RageshAntony commented on #222
But I took this from last part of your documentation ? What's that mean then ?

[2020-10-02 19:25] vasilich6107 commented on #222
I think you have an obvious error in your code

Try this

[code]

[2020-10-02 19:27] vasilich6107 commented on #222
It will be great if it helps)
But you'd better use `graphql_flutter` it supports caching, optimistic responses, persistence

[2020-10-02 19:39] RageshAntony commented on #222
Actually I got that class from auto suggestions. It had $ symbol

[2020-10-02 19:54] vasilich6107 commented on #222
Did you try to remove the $ sign?

[2020-10-02 20:01] RageshAntony commented on #222
Yeah After removing it's perfectly

Thanks

[2020-10-02 20:01] #222 closed

[2020-10-03 16:34] RageshAntony commented on #116
I am having  a issue in this renaming

I am quering mongodb using graphql , so IDs are like '_id'

These _id converted to $id , like you said

But it also sending query in renamed variable like

{$id: 5f660d7a929072166f5addb2}

So I am getting exception the variable not supplied

But if I manually gave variables in WatchQueryOptions as {'_id': 5f660d7a929072166f5addb2} , query working ...

Pls hel

[2020-10-03 16:45] vasilich6107 commented on #116
I’ll check

[2020-10-03 17:05] vasilich6107 commented on #116
Works fine as you see with latest `artemis` - https://tppr.me/pJ1td
If you still have a problems create a new issue according to template

[2020-10-03 17:50] RageshAntony commented on #116
i already using  6.12.3-beta.2 ...But toJson printing $id only

![image](https://user-images.githubusercontent.com/36100215/94998355-ee0a8200-05ce-11eb-85c1-8641fb6f2eca.png)

The implementation in generated class is only having $id for both fromJson and toJson

GraphQL query:

[code]

[2020-10-03 18:09] vasilich6107 commented on #116
Please create a separate issue and fill it according to template

[2020-10-03 18:19] RageshAntony opened #223 "$id not converted to _id when querying ?"
**Bug description**
I am querying MongoDB using a graphql backend via Artemis . The MongoDB having  _id field as document id .

As per #116 , Artemis changing the variable name to $id from _id ,  to avoid  Dart Naming rules conflicts

But now the problem is , when using queries with variables , Artemis `ClassArguments.toJson` producing $id only , not _id

So the GraphQL endpoint returning  ,` "Var

[2020-10-03 18:21] RageshAntony commented on #116
yeah here
https://github.com/comigor/artemis/issues/223

[2020-10-03 18:23] vasilich6107 commented on #223
Thanks, I’ll try to create a test based on your case

[2020-10-04 09:57] vasilich6107 commented on #223
use this to install the fixed version until @comigor merges fix into `beta` branch

[code]

[2020-10-04 11:44] RageshAntony commented on #223
Thanks very much 💞 .Let me try 🙏

[2020-10-04 12:09] Zony-Zhao opened #225 "Can't have artemis generate class correctly."
Research on this lib for a long while, which seems to be the largest active dart graphql generator but didn't get any progress.
## What I've done
I followed this [Ultimate graphql tool-chain on Medium](https://medium.com/@v.ditsyak/ultimate-toolchain-to-work-with-graphql-in-flutter-13aef79c6484).
And when I run the generate command. 0 output files.
### cmd output
![image](https://user-images.githu

[2020-10-04 13:39] vasilich6107 commented on #225
Hi. Please use the latest Artemis beta.
If it does not help fill the issue with text not the screenshots. The main goal is to have quick examples of data to copy.

[2020-10-04 13:45] vasilich6107 commented on #225
The latest beta is 6.x.x
You are using pretty old version 2.x.x

[2020-10-07 13:07] vasilich6107 commented on #223
@RageshAntony any updates?

[2020-10-07 13:08] vasilich6107 commented on #225
@Zony-Zhao any updates?

[2020-10-07 14:59] #223 closed

[2020-10-08 09:53] akinsho opened #226 "Simple naming causes duplicate Query/Mutation classes"
**Bug description**
When running artemis code generation, using the `simple` naming scheme with two queries in two separate files both returning different data. I get a duplicate class name error for the `Query`.

[code]

From what I can see with only one query a class called `Query` is generated representing the single query I have. Once I have another though this causes a conflict. I understand

[2020-10-08 12:38] vasilich6107 commented on #226
Hi. You need to give them different names or use another naming schema

[2020-10-08 12:51] akinsho commented on #226
@vasilich6107 when you say different names do you mean inside the graphql file?
so my queries are structured like
[code]
Or do you mean different names somewhere else?

[2020-10-08 13:02] vasilich6107 commented on #226
For some reason it generates two classes with `name:r'Query`

[2020-10-08 13:05] vasilich6107 commented on #226
Could you fill the issue with all data required for reproduction?

GraphQL schema: and GraphQL query:

https://tppr.me/KZWEv

[2020-10-08 14:04] akinsho commented on #226
@vasilich6107 I managed to narrow it right down to a super minimal queries/schema which I've posted in the link above. If that isn't clear or doesn't work in that tool I can repost them here since I've stripped out anything sensitive

[2020-10-08 14:14] vasilich6107 commented on #226
I’ll check.

[2020-10-08 15:19] vasilich6107 commented on #226
Check if this fix works for you

[code]

[2020-10-08 15:35] akinsho commented on #226
@vasilich6107 That seems to have worked just rebuilt my project and didn't get the error. It now seems to build separate `QueryNameAQuery` and a `QueryNameBQuery` 👍🏿

[2020-10-08 15:50] vasilich6107 commented on #226
Awesome, I'll prepare a new release later this week

[2020-10-08 19:12] vasilich6107 commented on #225
Closing this issue due to the lack of feedback.

[2020-10-08 19:12] #225 closed

[2020-10-09 10:08] akinsho commented on #226
@vasilich6107 I think I spoke too soon. I'm no longer getting the name clash and separate classes per query are being created but all the subclasses are named with what looks like the default strategy and quite a few of the simply named types that are being referenced aren't being created

[2020-10-09 10:19] vasilich6107 commented on #226
Could you add more information?
What code is generated and what expected?

[2020-10-09 10:21] vasilich6107 commented on #226
It will be great if you create some demo repo to showcase your issues. I’ll be able to quickly reproduce and test fixes

[2020-10-09 10:32] akinsho commented on #226
@vasilich6107 I just created https://github.com/akinsho/test_artemis which demonstrates the issue. If you pull this down and build the types, then go to the `lib/graphq/queries.graphql.dart` you'll see that there are simple type names being used without any implementations of those classes

[2020-10-09 10:33] vasilich6107 commented on #226
Thanks
I'll check

[2020-10-09 12:18] vasilich6107 commented on #226
@akinsho could you reinstall the `simple-fix` branch and check again?

[2020-10-09 13:43] akinsho commented on #226
@vasilich6107 I think that's the one 👍🏿 just tried it and it seems to have solved the issues

[2020-10-09 14:28] vasilich6107 commented on #226
Some thought about `namingSchema`
Currently we support 3 naming schemas
- simple
- pathedWithFields
- pathedWithTypes

From our experience only `pathedWithFields` gives more reliable results in terms of avoiding duplications.
I recommend you to try it. You can achieve the same kind of a name shortening by extracting graphql objects to fragments.

Then you'll be able to use them as `[FragmentName]M

[2020-10-09 16:38] akinsho commented on #226
@vasilich6107 I've tried both of the alternatives but with the sort of queries we have a few complex with a lot of fields and sub types. These queries that don't really _need_ fragments (since we won't reuse the selections) and the sort of class names that are being generated are *huge*.
This makes them quite hard to remember and (very subjective) the code much less readable.

I think it would mak

[2020-10-09 18:05] vasilich6107 commented on #226
The most interesting part will begin when you'll need 2 types with different selection set ;-)

[2020-10-09 18:07] vasilich6107 commented on #226
I assume we will come with some kind of an alternative strategy for simple naming...

[2020-10-10 10:06] akinsho commented on #226
😅 I'm assuming in this case I would be able to alias the query and that should work. I've had to do a similar thing before when using gqlgen and that was fine, especially since the queries are technically different having a different name makes sense.

👍🏿 I think having some form of simpler naming (even with trade offs) would be much appreciated by other people

[2020-10-11 07:30] RageshAntony commented on #223
Yeah it's working . I was busy so I can't  test it . Today I used latest beta and it's working . Thanks

[2020-10-16 21:45] komyg opened #230 "Very long type names"
Hi,

I am trying out Artemis and I have some deeply nested queries that are generating very long type names, such as:

For example, this query:

[code]

Will generate these types:
[code]

Am I doing something wrong? Is there a way for me to get shorter type names?

[2020-10-17 12:08] kcrebound opened #231 "Can't generate types via artemis"
**Bug description**
Trying to generate types based on https://medium.com/@v.ditsyak/ultimate-toolchain-to-work-with-graphql-in-flutter-13aef79c6484
* used default schema by GraphQL Faker `graphql-faker ./schema.graphql — open`
* saved to `schema.graphql` via GraphqlJS Android Studio plugin
* but `flutter pub run build_runner build` don't do anything

can't understand what I am doing wrong :(

**Sp

[2020-10-18 21:27] vasilich6107 commented on #230
Hi.
You can can extract all your objects into types and then you’ll get shortened names which you can refer in your code like [ObjectName]Mixin
Also you can try to use simple naming schema.
Note! Use the latest beta version

[2020-10-19 00:02] FickleLife opened #232 "Unknown definition type"
**Bug description**
I just tried to build my types and got an error:

[code]

The type is in the schema:
[code]

This has been working fine before. I have not changed the version of `gq` which generates the schema from introspection.   I did update all packages to their latest versions but have since rolled back to a known good from version control and this issue still presents.

Looking at the bu

[2020-10-19 05:16] FickleLife commented on #232
If I comment out line 425 in the schema (` RefStatusModeration: RefStatusModeration!`) the builder errors on the next one down on line 428 `  company: company`...

[2020-10-19 05:56] FickleLife commented on #232
Looks like it was `gql` package. updated that to the latest alpha `0.12.4-alpha+1602490253506`  and everything is good, which is a relief 👍  as it's blocked me all day....

[2020-10-19 05:56] #232 closed

[2020-10-19 11:46] komyg commented on #230
Hi,

I tried to run the beta version with the `simple` naming schema, but I got an error saying that I have two classes with the same name, so I may have to change my schema before making this option work.

As for the other option:

Could you give an example? I am new to Flutter and Dart and I didn't understood what you meant.

Thanks

[2020-10-19 12:07] vasilich6107 commented on #230
https://github.com/comigor/artemis/issues/226#issuecomment-705641463

[2020-10-19 12:47] #231 closed

[2020-10-19 12:50] kcrebound commented on #231
the error was in `build.yml` which must be `build.yaml`, thanks @vasilich6107

[2020-10-19 18:45] vasilich6107 commented on #230
I meant extract graphql object selection set into fragment

[2020-10-20 13:59] aloisdeniel commented on #216
I have the same issue. :'(

[2020-10-20 14:18] komyg commented on #230
Ok, I tried to add a fragment to my query as a means to test it, but I got an error while generating the dart files with Artemis:

New query:
[code]

My fragment:
[code]

Artemis output:
[code]

[2020-10-20 17:26] vasilich6107 commented on #230
What Artemis version are you using?

[2020-10-20 17:28] vasilich6107 commented on #216
@aloisdeniel please create a separate issue.
Before that be sure that you use latest beta version of Artemis

[2020-10-20 17:29] vasilich6107 commented on #226
@akinsho how it works?
If it is suitable I will merge and release it.

[2020-10-21 11:09] akinsho commented on #226
@vasilich6107 yeah this resolved the duplicate name issue for me 👍🏿 , I ended up switching naming scheme anyway though since I ended up with another I think unrelated error about missing constructors. Don't remember the exact error atm. But yeah I think this is good to go.

As a side note this is what some of the longer names look like
![image](https://user-images.githubusercontent.com/22454918/96

[2020-10-21 11:31] vasilich6107 commented on #226
Extract your selection set into a fragment and you’ll get a `[FragmentName]Mixin` which can be used for type checking

[2020-10-22 15:34] komyg commented on #230
Hi,

Sorry for the delay in my response. This error happened on the latest stable verision (5.1.0):

Pubspec.lock
[code]

I also tried to add this:
[code]

To my build.yaml while using the latest beta version of Artemis, but I keep getting an error saying that the git clause is not recognized.

[2020-10-23 21:50] vasilich6107 commented on #230
@komyg you'd better add this to your `pubspec.yaml`

[code]

[2020-10-23 21:54] vasilich6107 commented on #230
In case of NON `simple` naming schema you can extract your object selection set into fragment like described here
https://github.com/comigor/artemis/issues/226#issuecomment-713503527

[2020-10-25 16:47] komyg commented on #230
Hi,

I found out what were the problems:

### Error in the current version of Artemis
This one was happening because I was using a fragment in my query that was declared in another graphql file. When I moved the fragment to the same graphql file as the query, everything worked fine.

### Class with the same name error
This happened when I used the simplified schema in the beta version. I tried to

[2020-10-25 16:50] komyg commented on #230
Also, I have one question: is there a way for me to use a fragment that is declared in a different graphql file than the one in which it is used?

I am asking because fragments are meant to be reusable so I will use the same fragment in different queries and mutations, but I don't want to have to keep everything in the same file.

[2020-10-25 16:51] vasilich6107 commented on #230
Read the section https://github.com/comigor/artemis/tree/beta#configuration

You need `fragments_glob` configuration option

[2020-10-25 17:59] komyg commented on #230
I've added the `fragments_glob` as you suggested, and everything is working now!

Thanks for the all the help,
Felipe

[2020-10-25 17:59] #230 closed

[2020-10-27 17:11] alexkharech commented on #226
Which scheme is preferable to rely on so that in the future there will be no problems when updating?

[2020-10-27 17:30] vasilich6107 commented on #226
@alexkharech `pathedWithFields`

[2020-10-28 13:18] cvalab opened #234 "Incorrect generation of Dart classes."
[schema.graphql.txt](https://github.com/comigor/artemis/files/5452080/schema.graphql.txt)

**Bug description**

Incorrect generation of Dart classes.

**Specs**
  artemis: 6.15.1-beta.1 and   artemis: ^6.7.1-beta.1
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>
<summary>Artemis output:</summary>

[code]
</details>
<details>
<summary>GraphQL schema:</summary>

[code]
</detail

[2020-10-28 13:23] cvalab commented on #234
<img width="1479" alt="Снимок экрана 2020-10-28 в 15 23 01" src="https://user-images.githubusercontent.com/68106574/97441592-904d2980-1931-11eb-8033-8e96600ce0c8.png">

[2020-10-28 13:28] cvalab commented on #234
`query patientCareTeamMembers($id: ID!) {
    listPatientCareTeamMembersByPatientId(filter:{patientId: {eq: $id}})
    {
        items,
        nextToken
    }
}
`

`targets:
  $default:
    sources:
      - lib/**
      - graphql/**
      - schema.graphql
    builders:
      artemis:
        options:
          schema_mapping:
            - schema: schema.graphql
              queries_glob: graphq

[2020-10-28 13:30] cvalab commented on #234
Classes for other requests are generated without problems.

[2020-10-28 14:17] #234 closed

[2020-10-30 14:54] danilofuchs opened #235 "How to handle generic Error interface in Union result"
Our schema looks like this:
[code]

This schema was inspired by this blog post: https://blog.logrocket.com/handling-graphql-errors-like-a-champ-with-unions-and-interfaces/

When consuming this schema, we use the following query:

[code]

This way, `... on Error` is a catch-all for errors. If we add a new error in the future, backend will return it and even an outdated frontend should be able to ha

[2020-11-02 10:41] joelpinto commented on #109
I strongly recommend this

[2020-11-02 19:52] vasilich6107 commented on #235
Hi. Interesting case.
May be this could be handled by utilizing `default:` case...
I'll try to create reproduction and think about the fix

[2020-11-10 18:49] vasilich6107 commented on #226
Fixed in 6.17

[2020-11-10 18:49] #226 closed

[2020-11-14 19:54] gbmarcos opened #237 "I can not use custom scalar importing Dart libraries..."
I have a build.yaml that contain it:

[code]

but when I execute `flutter pub run build_runner build` it thow `Invalid json: {name: MultipartFile, imports: [package:http/http.dart]}`

[2020-11-17 21:53] vasilich6107 commented on #237
I have this code working without any problems

[code]

[2020-11-18 15:33] #220 closed

[2020-11-21 09:20] vasilich6107 commented on #237
@gbmarcos hi
Could you clarify the version of Artemis you are using?

[2020-11-26 19:00] kjha-homex opened #239 "Update headers to ArtemisClient after creation"
I'm wondering if there is a way to update the headers of the ArtemisClient after it has been created. Thanks for sharing this project!

[2020-12-01 14:43] gbmarcos commented on #237
Hello, sorry for the delay, Im using `artemis: ^5.1.0` y `build_runner: ^1.5.0
`

[2020-12-01 15:52] vasilich6107 commented on #239
Hi.
But you'd better use `graphql_flutter` it supports caching, optimistic responses, persistence
https://medium.com/@v.ditsyak/ultimate-toolchain-to-work-with-graphql-in-flutter-13aef79c6484

[2020-12-03 04:27] gbmarcos commented on #237
okok... I'll try it

[2020-12-03 15:32] gbmarcos commented on #237
It worked for me, thank you very much from Cuba.

[2020-12-03 15:32] #237 closed

[2020-12-03 16:07] vasilich6107 commented on #237
Good to hear!
Your welcome from Ukraine!

[2020-12-08 18:01] kjha-homex commented on #239
Thanks! Will check this out

[2020-12-25 22:45] 32mandev opened #241 "generate enums with ARTEMIS_UNKNOWN first and without ARTEMIS_UNKNOWN"
Hello and thanks for your nice work!

When Artemis generate an enum the entry `ARTEMIS_UNKNOWN` is added after the other values. For example:

[code]

If we convert this enum to an integer (here with `role.index`) in order to use it in a database,  `ARTEMIS_UNKNOWN` will correspond to 2. Later if we decide to add another Role:
[code]
it change the value of `ARTEMIS_UNKNOWN` to 3. It would be easie

[2020-12-25 22:49] #241 closed

[2021-01-05 20:06] theGlenn commented on #231
Oh my god I had the same issue, Maybe the documentation should contain a disclaimer regarding this detail

[2021-01-05 20:58] comigor commented on #231
Thanks for the tip, I'm going to do that!

[2021-01-13 18:31] tdnghia98 opened #245 "Anotate class to map to scalar"
Hi

I tried to incorporate Artemis with my already working Hasura endpoint, the problem is Hasura generates multiple types, and it is very confusing if I have to declare the mappers of all these in the build.yaml

Is there any planning on annotating the class to map to scalar? I think that it would be very useful

[2021-01-13 18:34] comigor commented on #245
Hello @tdnghia98!
Do you have any example of how would that work?
Today, as a generator, artemis only have configurations on build.yaml file.

[2021-01-13 19:48] budde377 opened #246 "Feature request: Annotate `unknownEnumValue` on lists"
Thanks for a great project. I've recently encountered an argument error with parsing enum values in lists, e.g.

[code]

Here the above will generate the code

[code]

I might be out of the loop, but it looks to me that this was removed in https://github.com/comigor/artemis/pull/85, since then it seems to be supported by `json_serializable` (https://github.com/google/json_serializable.dart/issues/

[2021-01-13 19:53] comigor commented on #246
Hello @budde377!
Yeah, given this was fixed on json_serializable in August, it should be reverted here as well.
Could you open a PR with this fix? I'd greatly appreciate that!

[2021-01-13 20:08] budde377 commented on #246
Sure, I'll give it a go!

[2021-01-15 15:07] louisrli opened #248 "Support for GraphQL "extend" keyword"
**Before reporting a bug, please test the beta branch!**
(beta branch has no changes to master at the time I'm reporting this)

## Bug description
I have a GraphQL schema split into multiple files, also using the [extend keyword](https://stackoverflow.com/a/56204966/892168), which admittedly seems to have pretty shaky support in general. Please let me know if I've made a mistake somehow in setting

[2021-01-15 15:13] comigor commented on #248
Hello @louisrli!

Yes, I'm aware extensions are [an integral part of GraphQLspec](https://spec.graphql.org/June2018/#sec-Type-Extensions). However, they are barely used, as one could just add a new field on the original type (unless, and that may be your case, you're doing some kind of schema stitching).

Given this lack of general usage (you're the first person who even talked about it), I've not

[2021-01-15 15:35] louisrli commented on #248
Thanks for the really fast response. Yes, I didn't want to add one schema mapping for each of my schemas (I'm not sure that would work either because the definitions are shared/overlapped among the schema files)

In my JS server, it looks something like this:
[code]

When attempting to use Artemis, I was trying to do some type of "stitching" like so:
[code]

Then in my `build.yaml`:
[code]

I'd ag

[2021-01-15 15:39] louisrli commented on #248
I think something like this (but requiring use of a JS script outside of Flutter) would work: https://www.graphql-tools.com/docs/schema-merging/#print-merged-typedefs

[2021-01-15 15:43] comigor commented on #248
If implemented in Dart, this "script" could be the start of making Artemis support it!

Maybe some kind of pre-process function (based on some new configuration on Artemis) that would join schemas, stitch them together (expanding extensions on their respective types), and use the the result into Artemis as if it was the original schema.

[2021-01-15 16:02] louisrli commented on #248
@comigor I'm unsure how hard it is to join schemas in Dart, it depends on what's currently available in the GQL package. The script I ended up has most of its heavy lifting done by the JavaScript package `@graphql-tools/merge`, which seems to take care of a lot of stuff relating normalizing the AST of the merged schema and such (from a quick skim of their code): https://github.com/ardatan/graphql-

[2021-01-15 16:04] louisrli commented on #248
Also, I'm not even sure if the extend keyword is supposed to be used in the same file twice (I think it's not). So this whole issue might be an artifact of me attempting to `cat` the files together.

[2021-01-16 08:24] louisrli opened #251 "Artemis should error out with multiple queries per file in queries_glob"
**Before reporting a bug, please test the beta branch!**

## Bug description
The files in queries_glob can't have more than one op per file as mentioned in this comment https://github.com/comigor/artemis/issues/174#issuecomment-642204509

This issue is for an error to occur when running the tool if such a case is detected (since the op's not going to end up working anyway).

As further background

[2021-01-16 17:18] vasilich6107 commented on #251
Hi @louisrli
While awaiting for release could you instal the version from git dependency and check if it solves your issue.

[2021-01-16 20:09] vasilich6107 commented on #251
The fix will be available in 6.18.3

[2021-01-17 19:43] vasilich6107 commented on #246
Hi @budde377
Could you check if the latest release works for you?

[2021-01-17 19:52] budde377 commented on #246
@vasilich6107 Just checked, the latest release correctly annotated the field! Thanks!

[2021-01-17 19:52] #246 closed

[2021-01-21 09:27] tdnghia98 commented on #245
Hello @comigor
Sorry for the late reply.
The idea is like when using `freezed` package or `json_serializable` where you can simply annotate the class and there will be generated code. So for example if I can annotate a query class with @query and mutation class with @mutation and then have the generated types for the input fields and the output result that would be great. As I understand for now I

[2021-01-22 19:48] vasilich6107 commented on #251
Hi @louisrli
Did you have time to check the fix?

[2021-01-26 13:04] vasilich6107 commented on #251
Hi, @louisrli
Any updates?

[2021-01-26 13:45] louisrli commented on #251
I think it's fixed. Sorry for the slow response. The document node seems to be correctly split now. Thanks!

[2021-01-26 13:45] #251 closed

[2021-01-26 18:53] #136 closed

[2021-01-28 13:49] oakesja opened #257 "JsonSerializable responses and inputs"
The app that I am working on persists mutations when offline to run them later. To do so we use a background isolate to process in the background. When sending messages back in forth between the main isolate and a background isolate, the message must be serializable.

Would it be possible to make the auto-generated types for responses extend JsonSerializable?

This would make it much easier to pas

[2021-01-30 08:47] vasilich6107 commented on #257
Do you mean this one?

https://github.com/comigor/artemis/blob/master/test/query_generator/query_generator_test.dart#L201

[2021-01-30 08:50] vasilich6107 commented on #257
Could you add several lines of code in “actual result” vs “expected result” for all the places where you need “extends JsonSerialisable” so it will be easier for us to “point and shoot” with fixes.

[2021-01-30 09:18] vasilich6107 commented on #257
Add this `feat/extend-json-serializable` branch as your dependency and tell us if it fits your needs

[2021-01-30 09:19] vasilich6107 commented on #257
Ha ha)
I missed your PR)

[2021-02-01 07:53] vasilich6107 commented on #257
Wait for `6.20.1-beta.1` release. It will take several minutes to run the pipeline.

[2021-02-04 22:52] vasilich6107 commented on #257
Hi @oakesja
Did you test the latest beta?

[2021-02-05 01:13] oakesja commented on #257
@vasilich6107 yep, everything is working as expected

[2021-02-05 01:13] #257 closed

[2021-02-12 18:47] euriasb opened #260 "[Feature request] Allow stopping subscriptions"
Add a way to stop a subscription.

Right now once you start a subscription you either have to keep it open forever or close the client entirely which is not ideal, it would be best if you didn't have to open a socket for each subscription in order to have control of when to stop it.

I dug into the code for `WebSocketLink` and I can see that it doesn't offer support to do this either, so it looks

[2021-02-13 03:06] matehat commented on #73
Is it possible to add custom headers per _request_? The example above adds a header that will be the same for all request that uses this client. We need to add headers that change for each request, is that possible with Artemis?

[2021-02-17 00:25] msal4 commented on #214
Hey @vasilich6107, I want to change the name of the class so I can set it as a type that my widget accepts but it's too long, not very readable, and too specific. I wanted to handle it myself by creating another general class that includes only the fields that I care about but dart apparently doesn't work the same as typescript :/
here is the generated class:

[code]
and there are many duplicates

[2021-02-17 08:22] vasilich6107 commented on #214
@msal4 split your query into fragments.
Every fragment will get its own mixin `FragmentNameMixin` and you'll be able to use it in your class as type

[2021-02-17 14:27] Syntey opened #262 "How to place fragments for correct generation"
Hello, I'm having difficulties with .graphql file structure.
If I have a query with fragments in one .graphql file, it is ok.
But if I want to have a query in one file and fragments in another file, an error occurs:
`[SEVERE] artemis:artemis on lib/$lib$: Bad state: No element.`

Here is the [gist](https://gist.github.com/Syntey/b2df233f8bbd90751e674625719834bc)

I'm not sure what is the problem,

[2021-02-18 09:08] Syntey commented on #262
So I figured it out
I missed fragments_glob in the pokemon example.

Here is my [YAML](https://gist.github.com/Syntey/872af8cf4a1a6a107e94fba7af0cbfb7) for anyone with the same problem

[2021-02-18 09:08] #262 closed

[2021-02-18 14:04] comigor commented on #260
Hey @euriasb, how are you doing?

I personally don't use subscriptions on my production apps, but this seems important. ArtemisClient is not supposed to be a fully featured client (we leverage `Link`'s for that), but it absolutely can be enhanced if necessary (let's say, with an `abort()` method).

Please ping me again if you need any help!

[2021-02-18 14:06] comigor commented on #73
Not exactly, you'd have to re-create `ArtemisClient` for the `httpClient` reference change.

[2021-02-25 14:58] GP4cK opened #263 "What's the best way to generate a fake response to write unit tests?"
Often, in my code, I have something like this:

[code]

When I want to write a test for `MyWidget`, I need to generate data to pass as an input. I can think of several solutions:

The first one is to manually create a json and do something like:

[code]

This works ok but people may make mistakes when writing the JSON. I've already seen this happening in my team.

The other solution is to do somet

[2021-02-26 19:48] euriasb opened #264 "Add an option to create classes that include a superset of fields from all fragments"
This is better explained with an example, let's say you have the following GraphQL class:

[code]

And you have these fragments and queries

[code]

This would generate a `BasicUserDataMixin` and a `SocialUserDataMixin`.
`BasicQuery` would return an object of type `BasicQuery$RootQuery$User` which implements `BasicUserDataMixin`.
`AdvancedUserQuery1` would return and object of type `AdvancedUserQu

[2021-02-28 19:20] vasilich6107 commented on #264
@comigor technically this could be solved by flattening nested fragments from the same object

[2021-02-28 20:49] comigor commented on #264
As far as I understand, that's similar to my [proposal](https://github.com/comigor/artemis/discussions/244) of canonical types generation. The `User` class you're proposing is basically the canonical (1:1 match with schema's class with all nullable fields). However, this is not as easy as it seems, specially when you try to deal with interfaces and union types.

[2021-02-28 21:01] comigor commented on #263
Hi @GP4cK!

In my work, for unit tests, we're doing your second example. Although kinda boring to write, it is surely safer than the first option.
One of the teams is working on a code generator solution to mock those classes generated by Artemis, though. I'll reach them to see if they plan to ship it as opensource.

[2021-02-28 23:53] GP4cK commented on #263
Thanks a lot @comigor. Shall we close this now or we wait for the team's answer?

[2021-03-01 04:35] comigor commented on #263
I've send this link to them asking if they have any plans. Let's keep this open and I'll remember to update!

[2021-03-01 17:08] euriasb commented on #264
Yes, it sounds like it's the same thing. Could be possible to add some version of this, even if it doesn't support all cases like interfaces and unions as you mention?

[2021-03-01 17:43] comigor commented on #264
My issue with shipping a version without considering some cases is to create a huge breaking change. Yesterday I did work on that proposal again and it already changed a lot. Even in beta, it's not that good to create a lot of breakingn changes.

[2021-03-01 20:35] michael-golfi commented on #81
Hey @comigor,

Just checking in, is it possible to fetch a schema directly from an endpoint? Our API isn't gated by an authentication header for introspection.

Thanks in advance!

[2021-03-01 20:43] comigor commented on #81
I previously used [this tool](https://github.com/comigor/artemis/blob/master/tool/fetch_schema.dart), but I'm not if it still works.

[2021-03-01 21:49] michael-golfi commented on #81
Do you have any plans to support this in the library so that a schema can be specified as an endpoint?

[code]

[2021-03-08 15:55] michael-woolsey opened #265 "Looking for a scalar_mapping from JSON to anything that works"
## Description
I am feeling like an idiot right now as I simply cannot figure out how to convert a GraphQL JSON field to anything that I can work with in my Artemis object.

I've tried:

1. scalar_mapping from JSON to `dart_type: String`, this allows me to build the Artemis objects and the application compiles but at runtime it crashes on my `_query.parse(result.data)` with a `type '_InternalLinke

[2021-03-08 16:01] comigor commented on #265
Hi @michael-woolsey!

Well, one thing that I thought now is that artemis may be converting all `dart_type` types to CamelCase, so `dynamic` is being converted to `Dynamic`.

Just for curiosity, what happens if you define `dart_type` as `Map<String, Object>`?

[2021-03-08 16:11] michael-woolsey commented on #265
Hello @comigor!

Unfortunately when I change my dart_type to:
[code]

Artemis builds the objects, and the application compiles, however at runtime when I try to `final query = _query.parse(result.data);` I get the following error `type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, dynamic>' in type cast`.

[2021-03-08 21:30] comigor commented on #265
Got you. Thanks, I'll take a look!

[2021-03-09 04:49] BreSmit521 commented on #260
Any word on the progress of this?

[2021-03-09 11:12] MattisBrizard opened #266 "[Question] Are empty types supported with scalar_mapping ?"
Hi,

I have a question about the support of empty types with artemis scalar_mapping:
ex:
[code]

If we have the above gql scheme, and the following scalar_mapping:
[code]

Will it works ?

I'm actually trying to figure out why we have an issue in artemis generated types.
One of my clue is the handling of empty types.

Mattis

[2021-03-09 20:45] comigor commented on #265
There's some naming issues on artemis but me and @michael-golfi talked on DM and thought in a workaround (for now): creating an wrapping class for the Json scalar.

`build.yaml`
[code]

`custom_parser.dart`
[code]

[2021-03-09 20:53] michael-golfi commented on #265
Thanks @comigor for taking the time to look at this and help us out.

[2021-03-09 20:53] michael-woolsey commented on #265
Hello @comigor,

Thank you for taking the time to help us with this solution, it works well so far!

[2021-03-09 20:53] #265 closed, assigned to nobody

[2021-03-11 14:46] MisterJimson opened #268 "Support http ^0.13.0"
Looking for a version that depends on http 0.13.0 as there have been some breaking changes. Many packages have migrated to version 0.13.0 and they can no longer be used if you also depend on artemis.

[2021-03-14 14:11] nickreynke commented on #215
Hey @comigor! Have you checked whether `gql` is able to to parse comments?

[2021-03-15 19:30] naikdp7 opened #270 "unable to add authorization header in Link"
1)i have created one class which extends the Link
2)when my token is valid i have concat my customLink class with HttpLink(where i have set the uri and my header)
3)now while executing the request my server throws error of unAuthentication(token expired)
4)i have successfully refreshed my token
5)i want my current request(step3) to be executed with new token
6)for that i have to set my headers in

[2021-03-15 22:56] paoloposo opened #271 "What type to use for function that should work with data from different queries?"
Hi, I'm just getting started with Artemis and I cannot wrap my head around one specific concept.

I'm using Artemis for generating Dart classes from the schema and then the [graphql](https://github.com/zino-app/graphql-flutter) client to make the request. That gives me a `Map<String, dynamic>` as a result which contains my data in denormalized form.

For example, when using the [Pokemon API](https

[2021-03-16 14:04] Pacane opened #272 "Null Safety Migration"
Is there any blocker to migrate this package to nullsafety? I'd like to know if there's no short term plan to migrate, in that case I need to find alternative solutions.

[2021-03-16 15:55] comigor commented on #272
We're tracking it on https://github.com/comigor/artemis/pull/259, and I'm currently working in a branch to migrate the generated code as non-nullable! :)

[2021-03-16 15:55] #272 closed, assigned to nobody

[2021-03-16 22:21] comigor commented on #271
Hey @paoloposo!

First of all, thanks for drilling down at the core question and having those examples to back offit off, it really help to understand!

So yeah, currently each `SchemaMap` will generated its own set of classes to a specific (single file) output. If you're declaring two different `SchemaMap`, for the reasons you've stated above, you'll have two different classes (maybe with a diffe

[2021-03-17 11:08] zcourts opened #273 "Fields not generated for inline fragments"
**Before reporting a bug, please test the beta branch!**

## Bug description
Given a GraphQL like this:
[code]

The following Dart is generated:
[code]

It had to be changed to:
[code]
Then it generated:
[code]

## Specs
Artemis version: 6.18.4
<details>
<summary>build.yaml:</summary>

[code]
</details>
<details>

I don't have the other info being asked for in the issue template, I'll have to ask

[2021-03-17 19:14] MisterJimson commented on #268
Looks like this will be handled in #259

[2021-03-17 19:14] #268 closed, assigned to nobody

[2021-03-17 19:28] vasilich6107 commented on #266
Hi. Technically your sample should work.
If you have issues please fill the issue template with all data required to reproduce the bug

[2021-03-17 19:33] vasilich6107 commented on #271
Extracting common entities into fragments should result in `FragmentNameMixin` generations.
Then you'll be able to use `FragmentNameMixin` as type in your project.

[2021-03-17 19:35] vasilich6107 commented on #98
@comigor it seems that this issue if fixed by https://github.com/comigor/artemis/pull/254

[2021-03-17 19:37] #98 closed

[2021-03-17 20:46] paoloposo commented on #271
Thanks very much guys, with your help I could solve my problem! Using GraphQL fragments indeed did the trick. I ran into the same problem as #52 first (getting the `Bad state: No element` error), but I think specifying the `fragments_glob` field in the `build.yaml` file fixed that. Also your own Pokemon example in the repo was really helpful (didn't even know you had this when I opened the issue).

[2021-03-17 20:46] #271 closed, assigned to nobody

[2021-03-18 15:21] MattisBrizard commented on #266
Hi.
Thanks, I close this issue for now.

[2021-03-18 15:21] #266 closed, assigned to nobody

[2021-03-22 16:27] comigor commented on #270
Hey @naikdp7!
Artemis currently uses [gql's `Link`](https://github.com/gql-dart/gql/tree/master/links) as its underlining client mechanism. If you're changing/chaining new Links at runtime, you need to reinstantiate [`ArtemisClient.fromLink`](https://github.com/comigor/artemis/blob/master/lib/client.dart#L43).

[2021-03-22 16:30] comigor commented on #215
Hey @nickreynke! I have not, but if you're up to, I can help with guidance if you need!

[2021-03-24 17:21] matehat commented on #270
Somewhat related to #73. [This comment][1] specifically.

[1]: https://github.com/comigor/artemis/issues/73#issuecomment-778552607

[2021-03-26 00:22] euriasb commented on #260
I submitted a PR to the gql project to allow stopping subscriptions https://github.com/gql-dart/gql/pull/205, I have one ready for Artemis as well, where I'm simply propagating the response context from the gql response, that way you can get the request ID and stop a subscription directly on the WebSocketLink.
I'm waiting to get comments from the gql project, once I do I'll submit my PR here as we